Repository t3rn/t3rn, changes with the labels that .github/labeler.yml gives for each.
All labels: test, dependencies :deciduous_tree:, javascript, runtime :hammer_and_wrench:, rust, circuit, github_actions

feat: add Portal Precompile to CustomPrecompiles utils
  pallets/evm/precompile/portal/src/lib.rs
  pallets/evm/precompile/util/Cargo.toml
  pallets/evm/precompile/util/src/lib.rs
Labels: rust

build: connect PortalReadApi + Precompiles to t0rn parachain
  pallets/evm/precompile/portal/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/contracts_config.rs
Labels: runtime :hammer_and_wrench:, rust

build: connect PortalReadApi + Precompiles to standalone
  pallets/evm/precompile/util/src/lib.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/contracts_config.rs
  runtime/t0rn-parachain/Cargo.toml
Labels: runtime :hammer_and_wrench:, rust

style: lint patch files
  finality-verifiers/grandpa/src/lib.rs
  pallets/evm/precompile/portal/src/lib.rs
  runtime/mock/src/contracts_config.rs
  runtime/t0rn-parachain/src/contracts_config.rs
  types/abi/src/recode.rs
Labels: runtime :hammer_and_wrench:, rust

test: add cases for from-rlp 32b words decoding to enum
  types/abi/src/to_filled_abi.rs
Labels: rust

feat: move portal precompile into 3vm
  pallets/3vm/Cargo.toml
  pallets/3vm/src/lib.rs
  pallets/3vm/src/mock.rs
  pallets/3vm/src/precompile.rs
  pallets/evm/precompile/portal/Cargo.toml
  pallets/evm/precompile/portal/src/lib.rs
  pallets/evm/precompile/util/Cargo.toml
  pallets/evm/precompile/util/src/lib.rs
  pallets/evm/src/lib.rs
  pallets/portal/src/lib.rs
  primitives/src/portal.rs
  primitives/src/threevm.rs
  runtime/mock/src/contracts_config.rs
  runtime/standalone/src/contracts_config.rs
  runtime/t0rn-parachain/src/contracts_config.rs
Labels: runtime :hammer_and_wrench:, rust

chore: turn off raw invocations for non-abi-enabled functionality
  pallets/3vm/src/precompile.rs
  primitives/Cargo.toml
  primitives/src/threevm.rs
Labels: rust

feat: connect evm to portal
  pallets/3vm/src/lib.rs
  pallets/3vm/src/precompile.rs
  pallets/evm/precompile/portal/src/lib.rs
  pallets/evm/src/lib.rs
Labels: rust

chore: add logging to portal
  pallets/portal/src/lib.rs
Labels: rust

feat: add portal precompile
  pallets/3vm/src/precompile.rs
  pallets/evm/precompile/portal/src/lib.rs
  primitives/src/threevm.rs
  runtime/standalone/src/contracts_config.rs
Labels: runtime :hammer_and_wrench:, rust

refactor: move precompile to within the module
  pallets/3vm/src/precompile.rs
  pallets/evm/precompile/portal/src/lib.rs
  primitives/src/portal.rs
  primitives/src/threevm.rs
  runtime/standalone/src/contracts_config.rs
  runtime/t0rn-parachain/src/contracts_config.rs
Labels: runtime :hammer_and_wrench:, rust

test: make compile
  pallets/3vm/Cargo.toml
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
Labels: rust

feat: make codec byte index more ergonomic
  pallets/3vm/Cargo.toml
  pallets/3vm/src/lib.rs
  pallets/3vm/src/precompile.rs
  pallets/evm/precompile/portal/src/lib.rs
  primitives/src/lib.rs
  primitives/src/threevm.rs
  types/abi/src/recode.rs
Labels: rust

fix: implement from over into trait for Portal::Inclusion
  Cargo.lock
  primitives/src/portal.rs
Labels: dependencies :deciduous_tree:, rust

fix: add missing imports after merge with development
  finality-verifiers/grandpa/src/bridges/test_utils/mod.rs
  pallets/3vm/src/precompile.rs
  pallets/circuit/src/lib.rs
  primitives/src/portal.rs
  runtime/t0rn-parachain/src/contracts_config.rs
  tests/zombienet/smoke/0002-can_confirm_optimistic_transfer_sfx.feature
Labels: runtime :hammer_and_wrench:, rust, circuit

test: fix invoke submit sfx 3vm precompile test exp
  pallets/3vm/src/precompile.rs
Labels: rust

test: add confirm single SFX zombienet test
  client/packages/Makefile
  tests/zombienet/smoke/0001-is_up_and_registered.feature
  tests/zombienet/smoke/0002-can_confirm_optimistic_transfer_sfx.feature
  tests/zombienet/smoke/confirm_single_optimistic_transfer_sfx.js
  tests/zombienet/zombienet.sh
Labels: javascript

feat: add fault tolerant ws connection handler
  client/packages/grandpa-ranger/.gitignore
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Labels: javascript

feat: imple header collection and circuit submission logic
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Labels: javascript

feat: expose crypto and keyring from sdk
  client/packages/sdk/src/index.ts
Labels: javascript

feat: impl prometheus metrics
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

feat: portal rpc reimplemented Signed-off-by: petscheit <etscheitp@gmail.com>
  node/standalone/src/rpc.rs
  pallets/portal/rpc/Cargo.toml
  pallets/portal/rpc/runtime-api/src/lib.rs
  pallets/portal/rpc/src/lib.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Labels: runtime :hammer_and_wrench:, rust

feat: impl prometheus status endpoint
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

chore: checkin package files
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/tsconfig.json
  client/packages/grandpa-ranger/yarn.lock
Labels: none

feat: expose ApiPromise and WsProvier from sdk & update constructor
  client/packages/sdk/src/index.ts
Labels: javascript

feat: connect fetch_head_height to portal properly Signed-off-by: petscheit <etscheitp@gmail.com>
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Labels: runtime :hammer_and_wrench:, rust

feat: impl dynamic http selection for circuit & add final prometheus counter
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

feat: add some types to grandpa ranger
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

chore: update lock
  Cargo.lock
Labels: dependencies :deciduous_tree:

refactor: rm redundant finalize + claim behaviour; optimize batch
  Cargo.lock
  pallets/account-manager/src/manager.rs
  pallets/circuit/src/square_up/mod.rs
  primitives/src/account_manager.rs
Labels: dependencies :deciduous_tree:, rust, circuit

build: update Cargo.lock
  Cargo.lock
Labels: dependencies :deciduous_tree:

feat: add some types to grandpa ranger
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

test: rewrite xtx confirm zombienet test to shell
  tests/zombienet/smoke/0001-is_up_and_registered.feature
  tests/zombienet/smoke/0002-can_confirm_optimistic_transfer_sfx.feature
  tests/zombienet/zombienet.sh
Labels: none

build: update Cargo.lock
  Cargo.lock
Labels: dependencies :deciduous_tree:

refactor: rm redundant finalize + claim behaviour; optimize batch
  Cargo.lock
  pallets/account-manager/src/manager.rs
  pallets/circuit/src/square_up/mod.rs
  primitives/src/account_manager.rs
Labels: dependencies :deciduous_tree:, rust, circuit

build(release): release 1.14.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Labels: dependencies :deciduous_tree:, runtime :hammer_and_wrench:, rust

build(release): update CHANGELOG.md for v1.14.0-rc.0 [skip ci]
  CHANGELOG.md
Labels: none

.github/labeler.yml:

test:
  - "**/test*.rs"

"dependencies :deciduous_tree:":
  - any: ['**/Cargo.lock']

javascript:
  - '**/*.js'
  - '**/*.ts'

"runtime :hammer_and_wrench:":
  - 'runtime/**'

rust:
  - '**/*.rs'

circuit:
  - pallets/circuit/**

github_actions:
  - .github/**
