Repository t3rn/t3rn, changes with the labels that .github/labeler.yml gives for each.
All labels: test, dependencies :deciduous_tree:, javascript, runtime :hammer_and_wrench:, rust, circuit, github_actions

.github/labeler.yml:

test:
  - "**/test*.rs"

"dependencies :deciduous_tree:":
  - any: ['**/Cargo.lock']

javascript:
  - '**/*.js'
  - '**/*.ts'

"runtime :hammer_and_wrench:":
  - 'runtime/**'

rust:
  - '**/*.rs'

circuit:
  - pallets/circuit/**

github_actions:
  - .github/**

build: remove results.sarif
  .gitignore
  results.sarif
Labels: none

build: add more people as approvers for runtime upgrade
  .github/workflows/runtime-upgrade-t0rn.yml
Labels: github_actions

build(release): release 1.12.8-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Labels: dependencies :deciduous_tree:, runtime :hammer_and_wrench:, rust

build: runtime upgrade should wait for completing a release
  .github/workflows/runtime-upgrade-t0rn.yml
Labels: github_actions

build: update CODEOWNERS
  CODEOWNERS
Labels: none

feat: add and check against SFX Speed Modes at confirm
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/state/mod.rs
  primitives/src/circuit.rs
Labels: rust, circuit

chore: add test-skip-verifcation feature flag and revamp confirm
  pallets/circuit/Cargo.toml
  pallets/circuit/src/lib.rs
  pallets/circuit/src/tests.rs
Labels: test, rust, circuit

test: change test params from seqential to speed modes
  pallets/circuit/src/escrow/mod.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/tests.rs
Labels: test, rust, circuit

chore: lint project files
  pallets/circuit/src/lib.rs
  pallets/circuit/src/tests.rs
  pallets/xdns/src/tests.rs
  runtime/t0rn-parachain/src/system_config.rs
Labels: test, runtime :hammer_and_wrench:, rust, circuit

fix: use xtx set speed mode at submission
  pallets/circuit/src/lib.rs
  pallets/circuit/src/state/mod.rs
Labels: rust, circuit

chore: move SpeedModes to root primitives
  primitives/src/circuit.rs
  primitives/src/lib.rs
Labels: rust

chore: rebuild client packages to support SpeedModes
  client/packages/Makefile
  client/packages/cli/commands/onExtrinsicTrigger.ts
  client/packages/cli/config/transfer.ts
  client/packages/cli/index.ts
  client/packages/cli/package-lock.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/src/circuit/index.ts
  client/packages/sdk/src/config/types.json
  client/packages/types/yarn.lock
Labels: javascript

chore: add test-skip-verification feature flag to CI
  .github/workflows/test-circuit.yml
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/yarn.lock
Labels: javascript, github_actions

fix: roco cli config
  client/packages/cli/config/setup.ts
Labels: javascript

build: reconfigure test-skip-verification feature flag
  .github/workflows/test-circuit.yml
  pallets/circuit/Cargo.toml
Labels: circuit, github_actions

refactor: move speed modes check to LightClients
  Cargo.toml
  finality-verifiers/common/Cargo.toml
  finality-verifiers/common/src/lib.rs
  finality-verifiers/common/src/traits.rs
  finality-verifiers/grandpa/Cargo.toml
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/circuit/src/lib.rs
  pallets/portal/src/lib.rs
  primitives/Cargo.toml
  primitives/src/light_client.rs
  primitives/src/portal.rs
Labels: rust, circuit

test: cover speed mode satisfied with tests
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
Labels: rust

chore: decrease Fast Rational Finalised Grandpa offsets to 0
  finality-verifiers/grandpa/src/mock.rs
  pallets/3vm/src/mock.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, rust

test: modify test-skip-verification flag positions in Circuit
  pallets/circuit/src/lib.rs
Labels: rust, circuit

refactor: return InclusionReceipt out of Portal and use for SpeedMode
  finality-verifiers/common/src/traits.rs
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/circuit/src/lib.rs
  pallets/portal/src/lib.rs
  primitives/src/circuit.rs
  primitives/src/portal.rs
Labels: rust, circuit

chore: handle result of Assets::resolve in t0rn handle_credit
  runtime/t0rn-parachain/src/system_config.rs
Labels: runtime :hammer_and_wrench:, rust

test: rm test-skip-verification from default Circuit flags
  .github/workflows/test-circuit.yml
  pallets/circuit/Cargo.toml
Labels: circuit, github_actions

build: update Cargo.lock after merge with recent development
  Cargo.lock
Labels: dependencies :deciduous_tree:

chore: remove polkadot launch
  polkadot-launch/config.json
Labels: none

chore: workspace dependencies
  Cargo.lock
  Cargo.toml
  finality-verifiers/grandpa/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/3vm/Cargo.toml
  pallets/account-manager/Cargo.toml
  pallets/circuit/Cargo.toml
  pallets/clock/Cargo.toml
  pallets/contracts-registry/Cargo.toml
  pallets/contracts-registry/rpc/Cargo.toml
  pallets/contracts-registry/rpc/runtime-api/Cargo.toml
  pallets/contracts/Cargo.toml
  pallets/contracts/primitives/Cargo.toml
  pallets/contracts/rpc/Cargo.toml
  pallets/contracts/rpc/runtime-api/Cargo.toml
  pallets/evm/Cargo.toml
  pallets/evm/precompile/3vm-dispatch/Cargo.toml
  pallets/evm/precompile/util/Cargo.toml
  pallets/evm/primitives/Cargo.toml
  pallets/evm/rpc/Cargo.toml
  pallets/evm/rpc/runtime-api/Cargo.toml
  pallets/executors/Cargo.toml
  pallets/portal/Cargo.toml
  pallets/portal/rpc/Cargo.toml
  pallets/portal/rpc/runtime-api/Cargo.toml
  pallets/xdns/Cargo.toml
  pallets/xdns/rpc/Cargo.toml
  pallets/xdns/rpc/runtime-api/Cargo.toml
  primitives/Cargo.toml
  runtime/common-pallets/Cargo.toml
  runtime/common-types/Cargo.toml
  runtime/mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t3rn-parachain/Cargo.toml
  test-utils/Cargo.toml
  types/Cargo.toml
  types/abi/Cargo.toml
Labels: dependencies :deciduous_tree:, runtime :hammer_and_wrench:, circuit

wip add client libs
  Cargo.toml
  node/standalone/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  runtime/common-pallets/Cargo.toml
Labels: runtime :hammer_and_wrench:

t3rn working
  Cargo.lock
  Cargo.toml
  finality-verifiers/grandpa/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/circuit/Cargo.toml
  pallets/contracts-registry/rpc/Cargo.toml
  pallets/contracts-registry/rpc/runtime-api/Cargo.toml
  pallets/contracts/Cargo.toml
  pallets/contracts/rpc/Cargo.toml
  pallets/evm/primitives/Cargo.toml
  pallets/evm/rpc/Cargo.toml
  pallets/evm/rpc/runtime-api/Cargo.toml
  pallets/portal/rpc/Cargo.toml
  pallets/portal/rpc/runtime-api/Cargo.toml
  pallets/xdns/rpc/Cargo.toml
  pallets/xdns/rpc/runtime-api/Cargo.toml
  primitives/Cargo.toml
  rpc-test/Cargo.toml
  runtime/common-pallets/Cargo.toml
  runtime/mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  test-utils/Cargo.toml
  types/Cargo.toml
Labels: dependencies :deciduous_tree:, runtime :hammer_and_wrench:, circuit

wip: building ish
  finality-verifiers/grandpa/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/circuit/Cargo.toml
  pallets/circuit/src/machine/extra.rs
  pallets/circuit/src/machine/mod.rs
  pallets/contracts-registry/rpc/Cargo.toml
  pallets/contracts-registry/rpc/runtime-api/Cargo.toml
  pallets/contracts/Cargo.toml
  pallets/evm/primitives/Cargo.toml
  pallets/evm/rpc/Cargo.toml
  pallets/portal/rpc/Cargo.toml
  pallets/portal/rpc/runtime-api/Cargo.toml
  pallets/xdns/rpc/Cargo.toml
  pallets/xdns/rpc/runtime-api/Cargo.toml
  primitives/Cargo.toml
  rpc-test/Cargo.toml
  runtime/common-pallets/Cargo.toml
  runtime/mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  test-utils/Cargo.toml
  types/Cargo.toml
  types/abi/Cargo.toml
Labels: runtime :hammer_and_wrench:, rust, circuit

chore: building
  Cargo.lock
  Cargo.toml
Labels: dependencies :deciduous_tree:

upgrading to 0.9.39, using path to patch xbi for now
  Cargo.lock
  Cargo.toml
  finality-verifiers/grandpa/Cargo.toml
  node/standalone/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/3vm/Cargo.toml
  pallets/circuit/Cargo.toml
  pallets/clock/Cargo.toml
  pallets/contracts-registry/Cargo.toml
  pallets/contracts-registry/rpc/Cargo.toml
  pallets/contracts/Cargo.toml
  pallets/evm/Cargo.toml
  pallets/evm/precompile/util/Cargo.toml
  pallets/evm/primitives/Cargo.toml
  pallets/evm/rpc/runtime-api/Cargo.toml
  pallets/executors/Cargo.toml
  pallets/portal/Cargo.toml
  pallets/portal/rpc/Cargo.toml
  pallets/xdns/Cargo.toml
  pallets/xdns/rpc/Cargo.toml
  runtime/mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t3rn-parachain/Cargo.toml
  types/Cargo.toml
  types/abi/Cargo.toml
Labels: dependencies :deciduous_tree:, runtime :hammer_and_wrench:, circuit

weight ref time
  finality-verifiers/grandpa/src/lib.rs
  pallets/3vm/src/lib.rs
  pallets/3vm/src/precompile.rs
  pallets/contracts-registry/src/lib.rs
  pallets/contracts/src/exec.rs
  pallets/contracts/src/tests.rs
  pallets/evm/src/lib.rs
  primitives/src/threevm.rs
  runtime/common-types/src/lib.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/standalone/src/lib.rs
Labels: test, runtime :hammer_and_wrench:, rust

wip: upgraded runtime, now need to merge with latest pallet-contracts & frens
  finality-verifiers/grandpa/src/bridges/runtime/chain.rs
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/mock.rs
  finality-verifiers/grandpa/src/weights.rs
  pallets/3vm/src/mock.rs
  pallets/contracts-registry/src/mock.rs
  pallets/contracts/rpc/src/lib.rs
  pallets/contracts/src/tests.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/rpc/src/lib.rs
  pallets/evm/src/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  runtime/common-types/src/lib.rs
  runtime/mock/src/accounts_config.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/consensus_aura_config.rs
  runtime/mock/src/contracts_config.rs
  runtime/mock/src/system_no_version_config.rs
  runtime/mock/src/xbi_config.rs
  runtime/standalone/src/accounts_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/consensus_aura_config.rs
  runtime/standalone/src/contracts_config.rs
  runtime/standalone/src/lib.rs
  runtime/standalone/src/system_config.rs
  runtime/t0rn-parachain/src/accounts_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/contracts_config.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t0rn-parachain/src/parachain_config.rs
  runtime/t0rn-parachain/src/system_config.rs
  runtime/t0rn-parachain/src/xbi_config.rs
  runtime/t3rn-parachain/src/parachain_config.rs
  runtime/t3rn-parachain/src/system_config.rs
  runtime/t3rn-parachain/src/xcm_config.rs
  types/abi/src/mini_mock.rs
Labels: test, runtime :hammer_and_wrench:, rust

update light client commons
  Cargo.lock
  finality-verifiers/common/Cargo.toml
Labels: dependencies :deciduous_tree:

wip: fix portal
  docs/main/concepts/gateway/register.md
  finality-verifiers/common/Cargo.toml
  finality-verifiers/common/src/traits.rs
  pallets/contracts/rpc/Cargo.toml
  primitives/src/portal.rs
Labels: rust

refactor: config presetup
  client/packages/executor/README.md
  client/packages/executor/src/index.ts
Labels: javascript

feat: persist state when crash
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/tests/instance.test.ts
Labels: javascript

feat: custom named executor config file
  client/packages/executor/README.md
  client/packages/executor/package.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

feat: persist state on exit
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
  client/packages/executor/tests/instance.test.ts
Labels: javascript

feat: executor state persistence
  client/packages/executor/src/index.ts
Labels: javascript

fix: complete sfx json serialization
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/executionManager.test.ts
Labels: javascript
