Repository t3rn/t3rn, changes with the labels that .github/labeler.yml gives for each.
All labels: test, dependencies :deciduous_tree:, javascript, runtime :hammer_and_wrench:, rust, circuit, github_actions

build: rename tests-suite to tests-e2e
  .github/workflows/test-e2e.yml
Labels: github_actions

build: circuit do not run e2e tests
  .github/workflows/test-circuit.yml
Labels: github_actions

build: copy fixtures to portal pallet and run e2e tests
  .github/workflows/test-suite.yml
  pallets/portal/.gitignore
  pallets/portal/src/tests.rs
Labels: test, rust, github_actions

build: add nvmrc to exectuor
  client/packages/executor/.nvmrc
Labels: javascript

build: ignore e2e tests by default
  .github/workflows/test-circuit.yml
  .github/workflows/test-suite.yml
  pallets/portal/src/tests.rs
Labels: test, rust, github_actions

build: run e2e only when e2e label is present in PR or in merge queue
  .github/workflows/test-suite.yml
Labels: github_actions

build: build node standalone before running
  .github/workflows/test-suite.yml
  node/standalone/Makefile
Labels: github_actions

.github/labeler.yml:

test:
  - "**/test*.rs"
  - "**/*.test.ts"

"dependencies :deciduous_tree:":
  - '**/Cargo.lock'
  - '**/yarn.lock'

javascript:
  - '**/*.js'
  - '**/*.ts'
  - '**/.nvmrc'
  - '**/.prettierrc'
  - '**/jest.config.ts'
  - '**/yarn.lock'
  - '**/tsconfig.json'
  - '**/package.json'

"runtime :hammer_and_wrench:":
  - 'runtime/**'

rust:
  - '**/Cargo.lock'
  - '**/Cargo.toml'
  - '**/*.rs'

circuit:
  - pallets/circuit/**

github_actions:
  - .github/**
