Repository t3rn/t3rn, changes with the labels that .github/labeler.yml gives for each.
All labels: test, dependencies :deciduous_tree:, javascript, runtime :hammer_and_wrench:, rust, circuit, github_actions

build(release): release 1.16.0-rc.0
  test-utils/Cargo.toml
Labels: rust

chore: impl change requests
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

build: update year in README.md [skip release]
  README.md
Labels: none

chore: config reloading
  client/packages/executor/README.md
  client/packages/executor/config.json
  client/packages/executor/src/index.ts
Labels: javascript

feat: custom named executor config file
  client/packages/executor/README.md
  client/packages/executor/package.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

refactor: config presetup
  client/packages/executor/README.md
  client/packages/executor/src/index.ts
Labels: javascript

fix: exec listener registration
  client/packages/executor/src/executionManager/index.ts
Labels: javascript

style: fmt
  client/packages/executor/config/config.ts
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
Labels: javascript

chore: shutdown complete
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

feat: init executor shutdown on ctrl+k
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

fix: actually exit the process once all executions done
  client/packages/executor/src/index.ts
Labels: javascript

refactor: separate instance manager methods
  client/packages/executor/src/index.ts
Labels: javascript

refactor: group executor exit logic
  client/packages/executor/src/index.ts
Labels: javascript

fix: reheckQueue at shutdown w/o initial event
  client/packages/executor/src/executionManager/index.ts
Labels: javascript

fix: shutdown keypress listener
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/index.ts
Labels: javascript

chore: code docs and fmt
  client/packages/executor/config/config.ts
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/gateways/types.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/utils/index.ts
Labels: javascript

refactor: better private key detection
  client/packages/executor/src/utils/index.ts
Labels: javascript

refactor: accomodate new confirmed side effect type
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/index.ts
Labels: javascript

refactor: use vendors in config.json
  client/packages/executor/config.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/yarn.lock
Labels: dependencies :deciduous_tree:, javascript

test: use sinon and chai-as-promised
  client/packages/executor/package.json
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/yarn.lock
Labels: test, dependencies :deciduous_tree:, javascript

feat: persist state when crash
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/tests/instance.test.ts
Labels: test, javascript

test: reorganize
  client/packages/executor/src/index.ts
  client/packages/executor/tests/instance.test.ts
Labels: test, javascript

feat: persist state on exit
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
  client/packages/executor/tests/instance.test.ts
Labels: test, javascript

wip: todos
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

feat: xtx json serialization
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/yarn.lock
Labels: test, dependencies :deciduous_tree:, javascript

feat: sfx json serialization
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
Labels: test, javascript

fix: complete sfx json serialization
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/executionManager.test.ts
Labels: test, javascript

test: sfx json serialization
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/executionManager.test.ts
Labels: test, javascript

wip: headache to restore custom pdot type
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
Labels: test, javascript

wip: sfx gtwy
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/pricing.test.ts
  client/packages/executor/tests/strategy.test.ts
Labels: test, javascript

refactor: sdk gtwy carries full xdns
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/sdk/src/gateways/gateway.ts
Labels: javascript

fix: sfx serialization wip
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/executionManager.test.ts
Labels: test, javascript

refactor: cleanup obsolete snippets
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
Labels: javascript

feat: executor state persistence
  client/packages/executor/src/index.ts
Labels: javascript

feat: imple header collection and circuit submission logic
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Labels: javascript

build(release): release 1.16.0-rc.0
  test-utils/Cargo.toml
Labels: rust

feat: add fault tolerant ws connection handler
  client/packages/grandpa-ranger/.gitignore
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Labels: javascript

feat: impl prometheus metrics
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

chore: checkin package files
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/tsconfig.json
  client/packages/grandpa-ranger/yarn.lock
Labels: dependencies :deciduous_tree:, javascript

chore: impl change requests
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

.github/labeler.yml:

test:
  - "**/test*.rs"
  - "**/*.test.ts"

"dependencies :deciduous_tree:":
  - '**/Cargo.lock'
  - '**/pnpm-lock.yaml'
  - '**/yarn.lock'

javascript:
  - '**/*.js'
  - '**/*.ts'
  - '**/.nvmrc'
  - '**/.prettierrc'
  - '**/jest.config.ts'
  - '**/pnpm-lock.yaml'
  - '**/yarn.lock'
  - '**/tsconfig.json'
  - '**/package.json'

"runtime :hammer_and_wrench:":
  - 'runtime/**'

rust:
  - '**/Cargo.lock'
  - '**/Cargo.toml'
  - '**/*.rs'

circuit:
  - pallets/circuit/**

github_actions:
  - .github/**
