Repository t3rn/t3rn, changes with the labels that .github/labeler.yml gives for each.
All labels: test, dependencies :deciduous_tree:, javascript, runtime :hammer_and_wrench:, rust, circuit, github_actions

.github/labeler.yml:

test:
  - "**/test*.rs"

"dependencies :deciduous_tree:":
  - any: ['**/Cargo.lock']

javascript:
  - '**/*.js'
  - '**/*.ts'

"runtime :hammer_and_wrench:":
  - 'runtime/**'

rust:
  - '**/*.rs'

circuit:
  - pallets/circuit/**

github_actions:
  - .github/**

feat: connect fetch_head_height to portal properly Signed-off-by: petscheit <etscheitp@gmail.com>
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Labels: runtime :hammer_and_wrench:, rust

feat: expose ApiPromise and WsProvier from sdk & update constructor
  client/packages/sdk/src/index.ts
Labels: javascript

chore: checkin package files
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/tsconfig.json
  client/packages/grandpa-ranger/yarn.lock
Labels: none

chore: update lock
  Cargo.lock
Labels: dependencies :deciduous_tree:

build: restore package-lock of client executor
  client/packages/Makefile
  client/packages/executor/package-lock.json
  client/packages/executor/yarn.lock
Labels: none

test: cover initialize, reads and speed_modes in Portal
  finality-verifiers/grandpa/src/bridges/test_utils/mod.rs
  finality-verifiers/grandpa/src/lib.rs
  pallets/portal/Cargo.toml
  pallets/portal/src/tests.rs
Labels: test, rust

build: rm npm dependency to run executor commands
  .github/workflows/executor.yml
  client/packages/Makefile
  client/packages/cli/package-lock.json
  client/packages/executor/package-lock.json
  client/packages/executor/package.json
  client/packages/executor/yarn.lock
  client/packages/sdk/package-lock.json
  client/packages/sdk/package.json
  client/packages/types/package-lock.json
  client/packages/yarn.lock
Labels: github_actions

build: rm npm dependency to run executor commands
  .github/workflows/executor.yml
  client/packages/Makefile
  client/packages/cli/package-lock.json
  client/packages/executor/package-lock.json
  client/packages/executor/package.json
  client/packages/executor/yarn.lock
  client/packages/sdk/package-lock.json
  client/packages/sdk/package.json
  client/packages/types/package-lock.json
  client/packages/yarn.lock
Labels: github_actions

chore: add test-skip-verification feature flag to CI
  .github/workflows/test-circuit.yml
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/yarn.lock
Labels: javascript, github_actions

test: change test params from seqential to speed modes
  pallets/circuit/src/escrow/mod.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/tests.rs
Labels: test, rust, circuit

test: cover speed mode satisfied with tests
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
Labels: rust

fix: use xtx set speed mode at submission
  pallets/circuit/src/lib.rs
  pallets/circuit/src/state/mod.rs
Labels: rust, circuit

build: reconfigure test-skip-verification feature flag
  .github/workflows/test-circuit.yml
  pallets/circuit/Cargo.toml
Labels: circuit, github_actions

feat: extend 3vm local trigger with SpeedMode
  node/standalone/src/chain_spec.rs
  node/t0rn-parachain/src/chain_spec.rs
  pallets/3vm/src/precompile.rs
  pallets/circuit/src/escrow/mod.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/state/mod.rs
  pallets/circuit/src/tests.rs
  pallets/contracts/primitives/src/lib.rs
  pallets/contracts/src/chain_extension.rs
  pallets/contracts/src/exec.rs
  pallets/executors/src/tests.rs
  primitives/src/circuit.rs
  primitives/src/lib.rs
  primitives/src/threevm.rs
Labels: test, rust, circuit

test: cover initialize, reads and speed_modes in Portal
  finality-verifiers/grandpa/src/bridges/test_utils/mod.rs
  finality-verifiers/grandpa/src/lib.rs
  pallets/portal/Cargo.toml
  pallets/portal/src/tests.rs
Labels: test, rust

build: update Cargo.lock after merge with recent development
  Cargo.lock
Labels: dependencies :deciduous_tree:

chore: add test-skip-verifcation feature flag and revamp confirm
  pallets/circuit/Cargo.toml
  pallets/circuit/src/lib.rs
  pallets/circuit/src/tests.rs
Labels: test, rust, circuit

fix: roco cli config
  client/packages/cli/config/setup.ts
Labels: javascript

chore: fix client SFX confirmation with executors+rangers
  client/packages/Makefile
  client/packages/cli/yarn.lock
  client/packages/executor/package-lock.json
  client/packages/executor/yarn.lock
  client/packages/sdk/src/circuit/index.ts
Labels: javascript

style: format project files
  node/standalone/src/chain_spec.rs
  node/t0rn-parachain/src/chain_spec.rs
  pallets/3vm/src/precompile.rs
  pallets/circuit/src/lib.rs
Labels: rust, circuit

feat: add and check against SFX Speed Modes at confirm
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/state/mod.rs
  primitives/src/circuit.rs
Labels: rust, circuit

chore: lint project files
  pallets/circuit/src/lib.rs
  pallets/circuit/src/tests.rs
  pallets/xdns/src/tests.rs
  runtime/t0rn-parachain/src/system_config.rs
Labels: test, runtime :hammer_and_wrench:, rust, circuit

build: restore package-lock of client executor
  client/packages/Makefile
  client/packages/executor/package-lock.json
  client/packages/executor/yarn.lock
Labels: none

refactor: return InclusionReceipt out of Portal and use for SpeedMode
  finality-verifiers/common/src/traits.rs
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/circuit/src/lib.rs
  pallets/portal/src/lib.rs
  primitives/src/circuit.rs
  primitives/src/portal.rs
Labels: rust, circuit

refactor: move speed modes check to LightClients
  Cargo.toml
  finality-verifiers/common/Cargo.toml
  finality-verifiers/common/src/lib.rs
  finality-verifiers/common/src/traits.rs
  finality-verifiers/grandpa/Cargo.toml
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/circuit/src/lib.rs
  pallets/portal/src/lib.rs
  primitives/Cargo.toml
  primitives/src/light_client.rs
  primitives/src/portal.rs
Labels: rust, circuit

test: rm test-skip-verification from default Circuit flags
  .github/workflows/test-circuit.yml
  pallets/circuit/Cargo.toml
Labels: circuit, github_actions

chore: handle result of Assets::resolve in t0rn handle_credit
  runtime/t0rn-parachain/src/system_config.rs
Labels: runtime :hammer_and_wrench:, rust

chore: decrease Fast Rational Finalised Grandpa offsets to 0
  finality-verifiers/grandpa/src/mock.rs
  pallets/3vm/src/mock.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, rust

chore: move SpeedModes to root primitives
  primitives/src/circuit.rs
  primitives/src/lib.rs
Labels: rust

chore: rebuild client packages to support SpeedModes
  client/packages/Makefile
  client/packages/cli/commands/onExtrinsicTrigger.ts
  client/packages/cli/config/transfer.ts
  client/packages/cli/index.ts
  client/packages/cli/package-lock.json
  client/packages/cli/yarn.lock
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/src/circuit/index.ts
  client/packages/sdk/src/config/types.json
  client/packages/types/yarn.lock
Labels: javascript

test: modify test-skip-verification flag positions in Circuit
  pallets/circuit/src/lib.rs
Labels: rust, circuit

chore: lint types files and correct empty buf ensure
  finality-verifiers/grandpa/src/lib.rs
  pallets/portal/src/lib.rs
Labels: rust

feat: implement scaffold of Portal precompile to evm
  pallets/evm/Cargo.toml
  pallets/evm/precompile/portal/Cargo.toml
  pallets/evm/precompile/portal/src/lib.rs
  pallets/evm/precompile/portal/src/mock.rs
  pallets/evm/src/lib.rs
  pallets/evm/src/tests.rs
Labels: test, rust

build(release): release 1.13.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Labels: dependencies :deciduous_tree:, runtime :hammer_and_wrench:, rust

build(release): update CHANGELOG.md for v1.13.0-rc.0 [skip ci]
  CHANGELOG.md
Labels: none

feat: create and test ABI for portal precompile enum
  pallets/portal/src/lib.rs
  primitives/src/portal.rs
Labels: rust

test: add mini-mock runtime available for pallets to use
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust

feat: implement Portal precompile based on Enum recoding
  pallets/evm/precompile/portal/Cargo.toml
  pallets/evm/precompile/portal/src/lib.rs
  pallets/portal/src/lib.rs
  types/abi/src/recode.rs
Labels: rust

feat: implement PortalReadApi trait in Portal
  pallets/portal/src/lib.rs
Labels: rust

build: implement precompiles and PortalReadApi trait in mock
  primitives/src/portal.rs
  runtime/mock/src/contracts_config.rs
Labels: runtime :hammer_and_wrench:, rust
