Repository t3rn/t3rn, changes with the labels that .github/labeler.yml gives for each.
All labels: test, dependencies :deciduous_tree:, javascript, runtime :hammer_and_wrench:, rust, circuit, github_actions

.github/labeler.yml:

test:
  - "**/test*.rs"

"dependencies :deciduous_tree:":
  - any: ['**/Cargo.lock']

javascript:
  - '**/*.js'
  - '**/*.ts'

"runtime :hammer_and_wrench:":
  - 'runtime/**'

rust:
  - '**/*.rs'

circuit:
  - pallets/circuit/**

github_actions:
  - .github/**

test: reorganize
  client/packages/executor/src/index.ts
  client/packages/executor/tests/instance.test.ts
Labels: javascript

refactor: cleanup obsolete snippets
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
Labels: javascript

chore: wip headache to restore custom pdot type
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
Labels: javascript

fix: shutdown keypress listener
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/index.ts
Labels: javascript

refactor: better private key detection
  client/packages/executor/src/utils/index.ts
Labels: javascript

fix: reheckQueue at shutdown w/o initial event
  client/packages/executor/src/executionManager/index.ts
Labels: javascript

chore: config reloading
  client/packages/executor/README.md
  client/packages/executor/config.json
  client/packages/executor/src/index.ts
  client/packages/executor/yarn.lock
Labels: javascript

chore: code docs and fmt
  client/packages/executor/config/config.ts
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/gateways/types.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/utils/index.ts
Labels: javascript

style: fmt
  client/packages/executor/config/config.ts
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
Labels: javascript

chore: local test, update readme and makefile
  client/packages/Makefile
  client/packages/executor/README.md
  client/packages/executor/yarn.lock
  client/packages/sdk/package.json
  client/packages/sdk/yarn.lock
  client/packages/types/yarn.lock
Labels: none

feat: init executor shutdown on ctrl+k
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

refactor: separate instance manager methods
  client/packages/executor/src/index.ts
Labels: javascript

fix: ts-compile errors
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

refactor: group executor exit logic
  client/packages/executor/src/index.ts
Labels: javascript

test: use sinon and chai-as-promised
  client/packages/executor/package.json
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/yarn.lock
Labels: javascript

refactor: accomodate new confirmed side effect type
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/index.ts
Labels: javascript

fix: exec listener registration
  client/packages/executor/src/executionManager/index.ts
Labels: javascript

refactor: use vendors in config.json
  client/packages/executor/config.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/yarn.lock
  client/packages/types/yarn.lock
Labels: javascript

fix: actually exit the process once all executions done
  client/packages/executor/src/index.ts
Labels: javascript

feat: sfx json serialization
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
Labels: javascript

chore: wip sfx gtwy
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/pricing.test.ts
  client/packages/executor/tests/strategy.test.ts
Labels: javascript

chore: shutdown complete
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

test: sfx json serialization
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/executionManager.test.ts
Labels: javascript

feat: xtx json serialization
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/yarn.lock
Labels: javascript

refactor: sdk gtwy carries full xdns
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/sdk/src/gateways/gateway.ts
Labels: javascript

chore: wip todos
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
Labels: javascript

ci: fixing broken make
  client/packages/executor/yarn.lock
  client/packages/sdk/yarn.lock
  client/packages/types/yarn.lock
Labels: none

build: fix types yarn.lock
  client/packages/executor/yarn.lock
  client/packages/sdk/yarn.lock
  client/packages/types/package-lock.json
  client/packages/types/package.json
  client/packages/types/yarn.lock
Labels: none

build: fix npm ci
  client/packages/executor/package-lock.json
  client/packages/executor/yarn.lock
Labels: none

build: fix yarn and npm 🤞
  client/packages/executor/package-lock.json
  client/packages/executor/package.json
  client/packages/executor/yarn.lock
  client/packages/sdk/package-lock.json
  client/packages/types/package-lock.json
  client/packages/types/package.json
  client/packages/types/src/augment/augment-api-consts.ts
  client/packages/types/src/augment/augment-api-errors.ts
  client/packages/types/src/augment/augment-api-events.ts
  client/packages/types/src/augment/augment-api-query.ts
  client/packages/types/src/augment/augment-api-rpc.ts
  client/packages/types/src/augment/augment-api-runtime.ts
  client/packages/types/src/augment/augment-api-tx.ts
  client/packages/types/src/augment/augment-api.ts
  client/packages/types/src/augment/augment-types.ts
  client/packages/types/src/augment/registry.ts
  client/packages/types/src/augment/types-lookup.ts
  client/packages/types/yarn.lock
Labels: javascript

feat: extend 3vm local trigger with SpeedMode
  node/standalone/src/chain_spec.rs
  node/t0rn-parachain/src/chain_spec.rs
  pallets/3vm/src/precompile.rs
  pallets/circuit/src/escrow/mod.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/state/mod.rs
  pallets/circuit/src/tests.rs
  pallets/contracts/primitives/src/lib.rs
  pallets/contracts/src/chain_extension.rs
  pallets/contracts/src/exec.rs
  pallets/executors/src/tests.rs
  primitives/src/circuit.rs
  primitives/src/lib.rs
  primitives/src/threevm.rs
Labels: test, rust, circuit

chore: fix client SFX confirmation with executors+rangers
  client/packages/Makefile
  client/packages/executor/package-lock.json
  client/packages/executor/yarn.lock
  client/packages/sdk/src/circuit/index.ts
Labels: javascript

style: format project files
  node/standalone/src/chain_spec.rs
  node/t0rn-parachain/src/chain_spec.rs
  pallets/3vm/src/precompile.rs
  pallets/circuit/src/lib.rs
Labels: rust, circuit

feat: add fault tolerant ws connection handler
  client/packages/grandpa-ranger/.gitignore
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Labels: javascript

feat: portal rpc reimplemented Signed-off-by: petscheit <etscheitp@gmail.com>
  node/standalone/src/rpc.rs
  pallets/portal/rpc/Cargo.toml
  pallets/portal/rpc/runtime-api/src/lib.rs
  pallets/portal/rpc/src/lib.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Labels: runtime :hammer_and_wrench:, rust

feat: impl dynamic http selection for circuit & add final prometheus counter
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

feat: impl prometheus metrics
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

feat: expose crypto and keyring from sdk
  client/packages/sdk/src/index.ts
Labels: javascript

feat: imple header collection and circuit submission logic
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Labels: javascript

feat: impl prometheus status endpoint
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript
