Repository t3rn/t3rn, pull requests merged in 2021-12, with the labels that each got.

#190 Implement generic DFD decoder - Refers #119
  circuit/primitives/src/event_signature.rs
  circuit/primitives/src/lib.rs
  circuit/primitives/src/match_format.rs
Labels: ready :white_check_mark:

#186 Upgrade XDNS to v0.9.12 and add it to runtime - Refers #180
  .github/workflows/circuit-parachain-release.yml
  .github/workflows/circuit-parachain.yml
  .github/workflows/circuit-release.yml
  .github/workflows/circuit.yml
  .github/workflows/gateway.yml
  .gitignore
  circuit-parachain/Cargo.lock
  circuit-parachain/node/src/chain_spec.rs
  circuit-parachain/runtime/Cargo.toml
  circuit-parachain/runtime/src/lib.rs
  pallets/multi-finality-verifier/Cargo.lock
  pallets/multi-finality-verifier/Cargo.toml
  pallets/multi-finality-verifier/src/lib.rs
  pallets/multi-finality-verifier/src/mock.rs
  pallets/multi-finality-verifier/src/weights.rs
  pallets/xdns/Cargo.lock
  pallets/xdns/Cargo.toml
  pallets/xdns/README.md
  pallets/xdns/metadata/polkadot.json
  pallets/xdns/src/benchmarking.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/mock.rs
  pallets/xdns/src/tests.rs
  pallets/xdns/src/weights.rs
  primitives/.gitignore
  primitives/Cargo.toml
  primitives/README.md
  primitives/src/abi.rs
  primitives/src/contract_metadata.rs
  primitives/src/gateway_inbound_protocol.rs
  primitives/src/lib.rs
  primitives/src/side_effect.rs
  primitives/src/transfers.rs
  primitives/src/xtx.rs
Labels: ready :white_check_mark:

#187 Add token symbol, decimals, and SS58 prefix to XDNS records - Closes #177
  .github/workflows/circuit-release.yml
  circuit/Cargo.lock
  circuit/node/Cargo.toml
  circuit/node/src/chain_spec.rs
  circuit/pallets/execution-delivery/src/benchmarking.rs
  circuit/pallets/execution-delivery/src/lib.rs
  circuit/pallets/execution-delivery/src/mock.rs
  circuit/pallets/execution-delivery/src/tests.rs
  circuit/pallets/multi-finality-verifier/src/lib.rs
  circuit/pallets/xdns/src/benchmarking.rs
  circuit/pallets/xdns/src/lib.rs
  circuit/pallets/xdns/src/mock.rs
  circuit/pallets/xdns/src/tests.rs
  circuit/pallets/xdns/src/types.rs
  circuit/primitives/src/lib.rs
  client/circuit-integration-tests/src/utils/utils.ts
  client/circuit-integration-tests/test/execution_delivery.test.ts
  client/types/src/interfaces/augment-api-events.ts
  client/types/src/interfaces/augment-api-tx.ts
  client/types/src/interfaces/augment-types.ts
  client/types/src/interfaces/primitives/definitions.ts
  client/types/src/interfaces/primitives/types.ts
  client/types/src/interfaces/xdns/definitions.ts
  client/types/src/interfaces/xdns/types.ts
Labels: in progress :gear:

#203 Update Contracts Registry and integrate into runtime - Refers #180
  circuit-parachain/Cargo.lock
  circuit-parachain/node/src/chain_spec.rs
  circuit-parachain/runtime/Cargo.toml
  circuit-parachain/runtime/src/lib.rs
  pallets/contracts-registry/Cargo.lock
  pallets/contracts-registry/Cargo.toml
  pallets/contracts-registry/README.md
  pallets/contracts-registry/rpc/Cargo.lock
  pallets/contracts-registry/rpc/Cargo.toml
  pallets/contracts-registry/rpc/README.md
  pallets/contracts-registry/rpc/runtime-api/Cargo.lock
  pallets/contracts-registry/rpc/runtime-api/Cargo.toml
  pallets/contracts-registry/rpc/runtime-api/README.md
  pallets/contracts-registry/rpc/runtime-api/src/lib.rs
  pallets/contracts-registry/rpc/src/lib.rs
  pallets/contracts-registry/src/benchmarking.rs
  pallets/contracts-registry/src/lib.rs
  pallets/contracts-registry/src/mock.rs
  pallets/contracts-registry/src/tests.rs
  pallets/contracts-registry/src/types.rs
  pallets/contracts-registry/src/weights.rs
  primitives/src/abi.rs
  primitives/src/contract_metadata.rs
  primitives/src/lib.rs
  primitives/src/storage.rs
Labels: do review :receipt:

#200 Create onboarding documentation for register gateway - Closes #159
  client/examples/register-gateway/.gitignore
  client/examples/register-gateway/README.md
  client/examples/register-gateway/package.json
  client/examples/register-gateway/register.ts
  client/examples/register-gateway/utils/utils.ts
  client/examples/register-gateway/yarn.lock
Labels: ready :white_check_mark:

#207 Add signature codec for Side Effects Raw Headers - Closes #205
  circuit/primitives/src/lib.rs
  circuit/primitives/src/match_format.rs
  circuit/primitives/src/signature_caster.rs
Labels: ready :white_check_mark:
