Repository t3rn/t3rn, pull requests merged in 2021-11, with the labels that each got.

#162 Move exec delivery rpc to pallet - Relates #157
  .github/workflows/circuit.yml
  circuit/Cargo.lock
  circuit/Cargo.toml
  circuit/node/Cargo.toml
  circuit/node/src/chain_spec.rs
  circuit/node/src/service.rs
  circuit/pallets/execution-delivery/rpc/Cargo.toml
  circuit/pallets/execution-delivery/rpc/README.md
  circuit/pallets/execution-delivery/rpc/runtime-api/Cargo.toml
  circuit/pallets/execution-delivery/rpc/runtime-api/README.md
  circuit/pallets/execution-delivery/rpc/runtime-api/src/lib.rs
  circuit/pallets/execution-delivery/rpc/src/lib.rs
  circuit/pallets/execution-delivery/rpc/src/tests.rs
  circuit/pallets/execution-delivery/rpc/src/types.rs
  circuit/rpc-test/Cargo.toml
  circuit/rpc-test/jsonrpc-runtime-client/Cargo.toml
  circuit/rpc-test/jsonrpc-runtime-client/src/lib.rs
  circuit/rpc-test/jsonrpc-runtime-client/src/main.rs
  circuit/rpc-test/jsonrpc-runtime-client/src/polkadot_like_chain.rs
  circuit/rpc-test/jsonrpc-runtime-client/src/useful_queries.rs
  circuit/rpc-test/src/extrinsic_gateway_mock.rs
  circuit/rpc-test/src/extrinsic_gateway_remote.rs
  circuit/rpc-test/src/intrinsic_gateway_remote.rs
  circuit/rpc-test/src/lib.rs
  circuit/rpc-test/src/mock_rpc_setup.rs
  circuit/rpc-test/src/smart_contract_deployment_remote.rs
  circuit/rpc/.gitignore
  circuit/rpc/Cargo.toml
  circuit/rpc/README.md
  circuit/rpc/runtime-api/Cargo.toml
  circuit/rpc/runtime-api/README.md
  circuit/rpc/src/lib.rs
  circuit/runtime/Cargo.toml
  circuit/runtime/src/lib.rs
Labels: ready :white_check_mark:

#163 Add argument for allowed side effects to register_gateway extrinsic - Closes #160
  circuit/Cargo.lock
  circuit/node/src/chain_spec.rs
  circuit/pallets/execution-delivery/src/benchmarking.rs
  circuit/pallets/execution-delivery/src/exec_composer/tests.rs
  circuit/pallets/execution-delivery/src/lib.rs
  circuit/pallets/execution-delivery/src/mock.rs
  circuit/pallets/execution-delivery/src/tests.rs
  circuit/pallets/multi-finality-verifier/src/lib.rs
  circuit/pallets/xdns/src/benchmarking.rs
  circuit/pallets/xdns/src/lib.rs
  circuit/pallets/xdns/src/mock.rs
  circuit/pallets/xdns/src/tests.rs
Labels: ready :white_check_mark:, circuit :green_circle:

#139 Revamp Exec Delivery - Closes #142
  circuit/Cargo.lock
  circuit/pallets/execution-delivery/src/benchmarking.rs
  circuit/pallets/execution-delivery/src/dfd/io_schedule.rs
  circuit/pallets/execution-delivery/src/dfd/mod.rs
  circuit/pallets/execution-delivery/src/exec_composer/mod.rs
  circuit/pallets/execution-delivery/src/lib.rs
  circuit/pallets/execution-delivery/src/message_assembly/chain_generic_metadata.rs
  circuit/pallets/execution-delivery/src/message_assembly/ethereum_gateway_protocol.rs
  circuit/pallets/execution-delivery/src/message_assembly/test_utils.rs
  circuit/pallets/execution-delivery/src/side_effect/mod.rs
  circuit/pallets/execution-delivery/src/tests.rs
  circuit/pallets/execution-delivery/src/weights.rs
  circuit/pallets/execution-delivery/src/xbridges/mod.rs
  circuit/pallets/execution-delivery/src/xtx/mod.rs
Labels: do review :receipt:

#165 Move structures out of ExecDelivery to primitives - Closes #164
  circuit/Cargo.lock
  circuit/pallets/execution-delivery/src/lib.rs
  circuit/primitives/Cargo.toml
  circuit/primitives/src/lib.rs
  circuit/primitives/src/side_effect.rs
  circuit/primitives/src/xtx.rs
Labels: ready :white_check_mark:

#168 Update licensing at main README.md
  README.md
  circuit/pallets/execution-delivery/src/lib.rs
Labels: ready :white_check_mark:

#179 Adds release-on-github jobs to the Circuit/Parachain Release pipelines - Closes #174
  .github/workflows/circuit-parachain-release.yml
  .github/workflows/circuit-release.yml
  CHANGELOG.md
  circuit/primitives/src/lib.rs
Labels: do review :receipt:

#171 Generate ID for Side Effect and link with Xtx - Closes #170
  circuit/Cargo.lock
  circuit/pallets/execution-delivery/src/lib.rs
  circuit/primitives/Cargo.toml
  circuit/primitives/src/side_effect.rs
  circuit/primitives/src/xtx.rs
Labels: do review :receipt:

#185 Implement decoder for events signature - Refers #119
  circuit/primitives/src/event_signature.rs
  circuit/primitives/src/lib.rs
Labels: do review :receipt:

#138 Implement Substrate x Substrate Relayer - Closes #147
  client/package.json
  client/types/package.json
  client/types/src/index.ts
  client/types/src/interfaces/augment-api-consts.ts
  client/types/src/interfaces/augment-api-errors.ts
  client/types/src/interfaces/augment-api-events.ts
  client/types/src/interfaces/augment-api-query.ts
  client/types/src/interfaces/augment-api-rpc.ts
  client/types/src/interfaces/augment-api-tx.ts
  client/types/src/interfaces/augment-api.ts
  client/types/src/interfaces/augment-types.ts
  client/types/src/interfaces/contracts-registry/definitions.ts
  client/types/src/interfaces/definitions.ts
  client/types/src/interfaces/execution-delivery/definitions.ts
  client/types/src/interfaces/index.ts
  client/types/src/interfaces/primitives/definitions.ts
  client/types/src/interfaces/primitives/index.ts
  client/types/src/interfaces/primitives/types.ts
  client/types/src/interfaces/types.ts
  client/types/src/interfaces/xdns/definitions.ts
  client/types/src/interfaces/xdns/index.ts
  client/types/src/interfaces/xdns/types.ts
  client/types/tsconfig.json
  client/types/yarn.lock
  client/yarn.lock
Labels: in progress :gear:

#191 Temporarily remove Exec Composer from Exec Delivery - Relates #180
  circuit/Cargo.lock
  circuit/pallets/execution-delivery/src/benchmarking.rs
  circuit/pallets/execution-delivery/src/dfd/io_schedule.rs
  circuit/pallets/execution-delivery/src/dfd/mod.rs
  circuit/pallets/execution-delivery/src/exec_composer/mod.rs
  circuit/pallets/execution-delivery/src/exec_composer/tests.rs
  circuit/pallets/execution-delivery/src/exec_composer/volatile_vm_impl.rs
  circuit/pallets/execution-delivery/src/lib.rs
  circuit/pallets/execution-delivery/src/mock.rs
  circuit/pallets/execution-delivery/src/tests.rs
Labels: do review :receipt:

#199 Add Democracy and Council pallets to Circuit runtime - Fixes #180
  .github/workflows/circuit-parachain-release.yml
  .github/workflows/circuit-parachain.yml
  circuit-parachain/Cargo.lock
  circuit-parachain/node/src/chain_spec.rs
  circuit-parachain/node/src/command.rs
  circuit-parachain/node/src/service.rs
  circuit-parachain/runtime/Cargo.toml
  circuit-parachain/runtime/src/lib.rs
Labels: enhancement :sparkles:, ready :white_check_mark:

#188 Ugpgrade MFV pallets to v0.9.12 - Refers #180
  .github/workflows/circuit-parachain-release.yml
  .github/workflows/circuit-parachain.yml
  .github/workflows/circuit-release.yml
  .github/workflows/circuit.yml
  .github/workflows/gateway.yml
  circuit-parachain/Cargo.lock
  circuit-parachain/node/src/chain_spec.rs
  circuit-parachain/runtime/Cargo.toml
  circuit-parachain/runtime/src/lib.rs
  pallets/multi-finality-verifier/Cargo.lock
  pallets/multi-finality-verifier/Cargo.toml
  pallets/xdns/Cargo.lock
Labels: ready :white_check_mark:
