Repository t3rn/t3rn, pull requests merged in 2023-10, with the labels that each got.

#1336 fix: lower SyncCommitteeSupermajority sepolia
  runtime/t0rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, rust

#1330 feat(executor): handling nonce in relayer
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executor.class.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/tests/attestationManager.test.ts
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/strategy.test.ts
Labels: javascript, test, deploy-executor

#1350 feat(cli): enabled XCM transactions sending using the CLI
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/schemas/xcm.ts
  client/packages/cli/src/utils/xcm.ts
Labels: javascript

#1293 feat: enable inbound bridging of ERC-20 tokens via GMP & SFX attestations
  Cargo.lock
  pallets/3vm/src/mock.rs
  pallets/attesters/contracts/contracts/attestationsVerifier.sol
  pallets/attesters/contracts/contracts/attestationsVerifierProofs.sol
  pallets/attesters/contracts/contracts/escrowGMP.sol
  pallets/attesters/contracts/contracts/localExchange.sol
  pallets/attesters/contracts/contracts/remoteOrder.sol
  pallets/attesters/contracts/contracts/t3rnVault.sol
  pallets/attesters/contracts/contracts/xDOT.sol
  pallets/attesters/contracts/contracts/xOrder.sol
  pallets/attesters/contracts/hardhat.config.js
  pallets/attesters/contracts/package.json
  pallets/attesters/contracts/pnpm-lock.yaml
  pallets/attesters/contracts/scripts/callRemoteOrder.js
  pallets/attesters/contracts/scripts/deployGMP.js
  pallets/attesters/contracts/test/AttestationsVerifier.js
  pallets/attesters/contracts/test/AttestationsVerifierProof.js
  pallets/attesters/contracts/test/EscrowGMP.js
  pallets/attesters/contracts/test/LocalExchange.js
  pallets/attesters/contracts/test/RemoteOrder.js
  pallets/attesters/src/lib.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test.rs
  pallets/circuit/vacuum/Cargo.toml
  pallets/circuit/vacuum/src/lib.rs
  pallets/xdns/Cargo.toml
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/attesters.rs
  primitives/src/circuit/traits.rs
  primitives/src/portal.rs
  primitives/src/xdns.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t1rn-parachain/src/circuit_config.rs
  types/abi/src/evm_ingress_logs.rs
  types/abi/src/lib.rs
  types/abi/src/recode.rs
  types/abi/src/recode_rlp.rs
  types/abi/src/sfx_abi.rs
  types/abi/src/standard.rs
  types/abi/src/to_filled_abi.rs
  types/abi/src/types.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, javascript, test, circuit

#1300 feat: add polkadot and kusama to executor
  client/packages/executor/config/config.ts
  client/packages/executor/helm/templates/prometheusrule.yaml
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
Labels: javascript, deploy-executor

#1353 refactor: add XOrders on top of RemoteOrders contracts
  pallets/attesters/contracts/Makefile
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/access/Ownable.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/interfaces/draft-IERC6093.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/security/ReentrancyGuard.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/token/ERC20/ERC20.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/token/ERC20/IERC20.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/token/ERC20/extensions/IERC20Permit.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/token/ERC20/utils/SafeERC20.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/utils/Address.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/utils/Context.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/utils/cryptography/MerkleProof.sol
  pallets/attesters/contracts/contracts/.deps/npm/@openzeppelin/contracts/utils/math/SafeMath.sol
  pallets/attesters/contracts/contracts/ERC20Mock.sol
  pallets/attesters/contracts/contracts/attestationsVerifier.sol
  pallets/attesters/contracts/contracts/attestationsVerifierProofs.sol
  pallets/attesters/contracts/contracts/escrowGMP.sol
  pallets/attesters/contracts/contracts/localExchange.sol
  pallets/attesters/contracts/contracts/t3rnVault.sol
  pallets/attesters/contracts/contracts/xDOT.sol
  pallets/attesters/contracts/contracts/xOrder.sol
  pallets/attesters/contracts/hardhat.config.js
  pallets/attesters/contracts/scripts/callRemoteOrder.js
  pallets/attesters/contracts/scripts/deployGMP.js
  pallets/attesters/contracts/test/xOrder.js
Labels: javascript

#1364 fix: include binary for docker context
  .dockerignore
  .github/workflows/release-t1rn.yml
  .github/workflows/release.yml
  .github/workflows/semantic-version.yml
Labels: github_actions

#1366 build: temporary re-organize runtime and node to build t1rn shell
  Cargo.lock
  node/t1rn-parachain/Cargo.toml
  node/t1rn-parachain/src/chain_spec.rs
  node/t1rn-parachain/src/cli.rs
  node/t1rn-parachain/src/command.rs
  node/t1rn-parachain/src/lib.rs
  node/t1rn-parachain/src/main.rs
  node/t1rn-parachain/src/rpc.rs
  node/t1rn-parachain/src/service.rs
  runtime/t1rn-parachain/Cargo.toml
  runtime/t1rn-parachain/src/accounts_config.rs
  runtime/t1rn-parachain/src/circuit_config.rs
  runtime/t1rn-parachain/src/contracts_config.rs
  runtime/t1rn-parachain/src/hooks.rs
  runtime/t1rn-parachain/src/lib.rs
  runtime/t1rn-parachain/src/parachain_config.rs
  runtime/t1rn-parachain/src/system_config.rs
  runtime/t1rn-parachain/src/treasuries_config.rs
  specs/t1rn.json
  specs/t1rn.raw.json
  specs/t1rn.wasm
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1365 feat(sdk): added SDK support for XCM transfers and enabled TRN XCM transfers through CLI
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/utils/xcm.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/utils/index.ts
  client/packages/sdk/src/utils/xcm.ts
  client/packages/sdk/yarn.lock
  tests/zombienet/zombienet-xcm.toml
  tests/zombienet/zombienet.sh
Labels: dependencies :deciduous_tree:, javascript

#1367 fix: runtime upgrade
  .github/workflows/test-circuit.yml
  tests/zombienet/download.sh
  tests/zombienet/download_latest_wasm_blob.sh
  tests/zombienet/zombienet.sh
Labels: github_actions

#1370 feat: add force flag for purge commands
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/purgeGateway/index.ts
  client/packages/cli/src/commands/purgeToken/index.ts
  client/packages/cli/src/commands/resetGateway/index.ts
Labels: javascript

#1373 fix: remove matrix which messes up CI required checks
  .github/workflows/test-circuit.yml
Labels: github_actions

#1375 fix: enable XCM transfers of USDT, ROC, and TRN between AssetHub & t0rn
  Cargo.lock
  Cargo.toml
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/schemas/xcm.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/utils/xcm.ts
  runtime/common-types/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
  runtime/t0rn-parachain/src/xbi_config.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, javascript

#1379 fix: decrease CommitteeMajorityThresholdSepolia for sepolia ranger
  runtime/t0rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, rust

#1371 chore: add extra SpeedMode::Instant
  Cargo.lock
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
  pallets/circuit/vacuum/src/lib.rs
  pallets/portal/Cargo.toml
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/Cargo.toml
  primitives/src/attesters.rs
  primitives/src/lib.rs
  primitives/src/xdns.rs
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  types/abi/src/evm_ingress_logs.rs
  types/abi/src/standard.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test, circuit

#1387 ci: zombienet test upgrade local
  .github/workflows/test-circuit.yml
  scripts/build_wasm.sh
  scripts/testing_maintenance.sh
  scripts/update_parachain_versions.sh
  tests/zombienet/download.sh
  tests/zombienet/download_collator.sh
  tests/zombienet/download_local.sh
  tests/zombienet/zombienet.sh
Labels: github_actions

#1392 fix: successful USDT and TRN XCM transfers using CLI
  Cargo.lock
  Cargo.toml
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/utils/xcm.ts
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/xbi_config.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, javascript

#1389 feat: Grandpa Ranger Height Diff Loop
  .gitignore
  client/packages/grandpa-ranger/.prettierrc
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/pnpm-lock.yaml
  client/packages/grandpa-ranger/prettier.rc
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/logging.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

#1397 fix: updated CLI config to use latest SDK version
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
Labels: javascript

#1396 fix: rewrite scheduleHeightMonitoring method
  client/packages/grandpa-ranger/src/index.ts
Labels: javascript, deploy-grandpa-ranger

#1394 feat: make Vacuum use remote order addresses added to XDNS
  pallets/circuit/vacuum/src/lib.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/xdns.rs
Labels: rust, test, circuit

#1388 chore: update cli for local circuit node run
  client/packages/cli/.gitignore
  client/packages/cli/src/commands/purgeGateway/index.ts
  client/packages/cli/src/commands/purgeToken/index.ts
  client/packages/cli/src/commands/rebootGateway/index.ts
  client/packages/cli/src/commands/resetGateway/index.ts
  client/packages/cli/src/utils/circuit.ts
Labels: javascript, client

#1398 ci: check for runtime upgrade
  .github/workflows/check-runtime-upgrade.yml
  scripts/check_runtime.sh
Labels: github_actions

#1393 feat: include extra SpeedMode::Instant (only)
  Cargo.lock
  pallets/circuit/vacuum/src/lib.rs
  pallets/portal/Cargo.toml
  primitives/src/attesters.rs
  primitives/src/lib.rs
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  types/abi/src/evm_ingress_logs.rs
  types/abi/src/standard.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, circuit

#1408 fix: catch pallet errors in signAndSafe & format client SDK files
  client/packages/sdk/.prettierrc
  client/packages/sdk/package.json
  client/packages/sdk/pnpm-lock.yaml
  client/packages/sdk/src/circuit/index.ts
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/config/rpc.json
  client/packages/sdk/src/config/types.json
  client/packages/sdk/src/converters/address/index.ts
  client/packages/sdk/src/converters/address/substrate.ts
  client/packages/sdk/src/converters/amounts.ts
  client/packages/sdk/src/converters/index.ts
  client/packages/sdk/src/converters/utils.ts
  client/packages/sdk/src/encodings/index.ts
  client/packages/sdk/src/encodings/substrate/decoder.ts
  client/packages/sdk/src/encodings/substrate/encoder.ts
  client/packages/sdk/src/encodings/substrate/index.ts
  client/packages/sdk/src/export/index.ts
  client/packages/sdk/src/gateways/gateway.ts
  client/packages/sdk/src/gateways/index.ts
  client/packages/sdk/src/gateways/types.ts
  client/packages/sdk/src/index.ts
  client/packages/sdk/src/price-estimation/__tests__/eth.test.ts
  client/packages/sdk/src/price-estimation/__tests__/substrate.test.ts
  client/packages/sdk/src/price-estimation/cg.ts
  client/packages/sdk/src/price-estimation/eth.ts
  client/packages/sdk/src/price-estimation/index.ts
  client/packages/sdk/src/price-estimation/substrate.ts
  client/packages/sdk/src/price-estimation/utils.ts
  client/packages/sdk/src/side-effects/index.ts
  client/packages/sdk/src/side-effects/types.ts
  client/packages/sdk/src/types.ts
  client/packages/sdk/src/utils/index.ts
  client/packages/sdk/src/utils/substrate.ts
  client/packages/sdk/src/utils/xcm.ts
Labels: javascript, test

#1402 feat: add tx enrolling new sfx abi to selected gateway
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/init.ts
  client/packages/cli/src/commands/purgeGateway/index.ts
  client/packages/cli/src/commands/purgeToken/index.ts
  client/packages/cli/src/commands/rebootGateway/index.ts
  client/packages/cli/src/commands/registerGateway/vendors/substrate.ts
  client/packages/cli/src/commands/resetGateway/index.ts
  client/packages/cli/src/commands/sfxABI/index.ts
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/schemas/abi.ts
  client/packages/cli/src/schemas/xcm.ts
  client/packages/cli/src/templates/xtransfer.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/src/utils/sfx.ts
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/xdns.rs
Labels: rust, javascript, test

#1411 fix: loosen fail checks in CLI SDK signAndSafeSafe
  client/packages/cli/src/commands/sfxABI/index.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/circuit/tx.ts
Labels: javascript

#1412 fix(sdk): add CI and allow only yarn
  .github/workflows/sdk.yml
  client/packages/sdk/package.json
  client/packages/sdk/pnpm-lock.yaml
  client/packages/sdk/src/circuit/tx.ts
Labels: javascript, github_actions

#1414 feat: registering assets on t0rn through CLI and integration tests for XCM transfers of ROC
  .github/workflows/test-circuit.yml
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/registerAsset/index.ts
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/schemas/registerAsset.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/utils/index.ts
  client/packages/sdk/src/utils/registerAsset.ts
  client/packages/sdk/src/utils/xcm.ts
  tests/zombienet/xcm/transfer_ROC_from_AssetHub_to_t0rn.ts
  tests/zombienet/xcm/transfer_ROC_from_relay_to_t0rn.ts
  tests/zombienet/xcm/xcm.zndsl
  tests/zombienet/zombienet-xcm.toml
  tests/zombienet/zombienet.sh
Labels: javascript, github_actions
