Repository t3rn/t3rn, pull requests merged in 2023-12, with the labels that each got.

#1489 feat: enable multi optimistic & escrow orders with Dynamic Destination Deal
  Cargo.lock
  Cargo.toml
  pallets/account-manager/src/manager.rs
  pallets/circuit/src/bids/mod.rs
  pallets/circuit/src/escrow/mod.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/square_up/mod.rs
  pallets/circuit/vacuum/src/lib.rs
  pallets/portal/Cargo.toml
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/circuit/traits.rs
  primitives/src/circuit/types.rs
  primitives/src/claimable.rs
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t1rn-parachain/Cargo.toml
  runtime/t1rn-parachain/src/circuit_config.rs
  runtime/t2rn-parachain/Cargo.toml
  runtime/t2rn-parachain/src/circuit_config.rs
  types/abi/src/standard.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test, circuit

#1492 feat: added support bi-directional AccountId-H160 and AssetId-H160 mapping
  Cargo.lock
  Cargo.toml
  pallets/3vm/Cargo.toml
  pallets/3vm/account-mapping/Cargo.toml
  pallets/3vm/account-mapping/src/lib.rs
  pallets/3vm/account-mapping/src/tests.rs
  pallets/evm/primitives/Cargo.toml
  pallets/evm/primitives/src/lib.rs
  primitives/src/threevm.rs
  runtime/common-pallets/Cargo.toml
  runtime/common-pallets/src/lib.rs
  runtime/common-types/Cargo.toml
  runtime/common-types/src/lib.rs
  runtime/mock/Cargo.toml
  runtime/mock/src/contracts_config.rs
  runtime/mock/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/contracts_config.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t2rn-parachain/Cargo.toml
  runtime/t2rn-parachain/src/contracts_config.rs
  runtime/t2rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test

#1502 feat: bump celestia light client to version updating weights
  Cargo.lock
  Cargo.toml
Labels: dependencies :deciduous_tree:, rust

#1485 fix: removed automated USDT XCM transfers and updated yaml formatting
  client/packages/cli/helm/templates/cronjob.yaml
  client/packages/cli/helm/values-t0rn.yaml
Labels: deploy-cli

#1503 fix: update automated XCM transactions signer to use CIRCUIT_SIGNER_KEY
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/src/commands/xcmTransfer/index.ts
Labels: javascript

#1506 build: re-bump t7rn runtime version
  .github/workflows/release-t7rn.yml
  runtime/t7rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust, github_actions

#1507 build: re-enable t7rn runtime versions
  .github/workflows/release.yml
Labels: github_actions

#1484 chore: uncomment version checking
  Cargo.toml
  scripts/upgrade-runtime-set-code.sh
Labels: rust

#1509 chore: add t7rn release
  .github/workflows/release-t7rn.yml
  .github/workflows/release.yml
  scripts/upgrade-runtime-cargo-release.sh
Labels: github_actions
