Repository t3rn/t3rn, pull requests merged in 2023-09, with the labels that each got.

#1272 ci: publish types to npm registry
  .github/workflows/cli.yml
  .github/workflows/npm-types.yml
  client/packages/attester/package.json
  client/packages/cli/package.json
  client/packages/executor/package.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/types/package.json
  client/packages/types/yarn.lock
Labels: dependencies :deciduous_tree:, javascript, github_actions, deploy-cli, deploy-executor, deploy-grandpa-ranger, deploy-attester

#1273 feat: add sdk to npmjs
  .github/workflows/attester.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/grandpa-ranger.yml
  .github/workflows/npm-sdk.yml
  .github/workflows/update-dev-docs.yml
  client/attester.Dockerfile
  client/cli.Dockerfile
  client/executor.Dockerfile
  client/grandpa-ranger.Dockerfile
  client/packages/attester/README.md
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/yarn.lock
  client/packages/sdk/package.json
Labels: dependencies :deciduous_tree:, javascript, github_actions, deploy-cli, deploy-executor, deploy-grandpa-ranger, deploy-attester

#1276 fix: sfx in xtx existence check
  client/packages/executor/src/executionManager/index.ts
Labels: javascript

#1277 fix: npm packages have to be built before publishing
  .github/workflows/npm-sdk.yml
  .github/workflows/npm-types.yml
  client/packages/sdk/package.json
  client/packages/types/package.json
Labels: javascript, github_actions

#1279 fix: derive admin origin set to Escrow for Root token destroys
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
Labels: rust, test

#1281 fix: sdk/types support sepolia gw
  client/packages/Makefile
  client/packages/sdk/package.json
  client/packages/sdk/src/config/types.json
  client/packages/types/metadata-t3rn.json
  client/packages/types/package.json
  client/packages/types/src/augment/augment-api-consts.ts
  client/packages/types/src/augment/augment-api-errors.ts
  client/packages/types/src/augment/augment-api-events.ts
  client/packages/types/src/augment/augment-api-query.ts
  client/packages/types/src/augment/augment-api-runtime.ts
  client/packages/types/src/augment/augment-api-tx.ts
  client/packages/types/src/augment/lookup.ts
  client/packages/types/src/augment/registry.ts
  client/packages/types/src/augment/types-lookup.ts
Labels: javascript

#1282 chore: reinstantiate standalone RPC for Portal + XDNS
  node/standalone/src/rpc.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Labels: runtime :hammer_and_wrench:, rust

#1245 feat: migrate attesters + circuit to include finality fee against v1.0.0 Polkadot dependencies
  pallets/3vm/src/mock.rs
  pallets/attesters/src/lib.rs
  pallets/circuit/src/escrow/mod.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/machine/test_extra_stress.rs
  pallets/circuit/src/square_up/mod.rs
  pallets/circuit/src/square_up/test.rs
  pallets/circuit/src/tests.rs
  pallets/circuit/vacuum/src/lib.rs
  pallets/rewards/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/attesters.rs
  primitives/src/circuit/traits.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t1rn-parachain/src/circuit_config.rs
  test-utils/src/replay.rs
Labels: runtime :hammer_and_wrench:, review, rust, test, circuit

#1278 feat(grandpa-ranger): new sdk and types npm + logging for ranger
  .github/workflows/grandpa-ranger.yml
  client/grandpa-ranger.Dockerfile
  client/packages/Makefile
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/bid.ts
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/commands/init.ts
  client/packages/cli/src/commands/purgeGateway/index.ts
  client/packages/cli/src/commands/purgeToken/index.ts
  client/packages/cli/src/commands/reboot/index.ts
  client/packages/cli/src/commands/register/__test__/gateway.test.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/src/commands/register/vendors/substrate.ts
  client/packages/cli/src/commands/submit/headers.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/commands/submit/submit.ts
  client/packages/cli/src/schemas/setup.ts
  client/packages/cli/src/templates/setup.ts
  client/packages/cli/src/templates/transfer.ts
  client/packages/cli/src/utils/__test__/log.test.ts
  client/packages/cli/src/utils/__test__/wrapCryptoWaitReady.test.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/src/utils/config.ts
  client/packages/cli/src/utils/dgf.ts
  client/packages/cli/src/utils/fns.ts
  client/packages/cli/src/utils/sfx.ts
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/grandpa-ranger/config/kusama.ts
  client/packages/grandpa-ranger/config/polkadot.ts
  client/packages/grandpa-ranger/config/rococo.ts
  client/packages/grandpa-ranger/helm/values.yaml
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/pnpm-lock.yaml
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/logging.ts
  client/packages/grandpa-ranger/src/prometheus.ts
  client/packages/grandpa-ranger/yarn.lock
Labels: dependencies :deciduous_tree:, javascript, github_actions, test

#1285 feat: renaming CLI commands
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/rebootGateway/index.ts
  client/packages/cli/src/commands/registerGateway/__test__/gateway.test.ts
  client/packages/cli/src/commands/registerGateway/gateway.ts
  client/packages/cli/src/commands/registerGateway/register.ts
  client/packages/cli/src/commands/registerGateway/vendors/eth.ts
  client/packages/cli/src/commands/registerGateway/vendors/substrate.ts
Labels: javascript, test

#1286 fix: correct assignment for Polkadot and Kusama vendors and instances to runtimes
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/portal/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t1rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, rust

#1287 fix: cli with config file
  .github/workflows/attester.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/grandpa-ranger.yml
  client/cli.Dockerfile
  client/packages/cli/.gitignore
  client/packages/cli/README.md
  client/packages/cli/config.json
  client/packages/cli/entrypoint.sh
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/__test__/init.test.ts
  client/packages/cli/src/commands/init.ts
  client/packages/cli/src/commands/submit/__test__/sfx.test.ts
  client/packages/cli/src/commands/submit/headers.ts
  client/packages/cli/src/schemas/setup.ts
  client/packages/cli/src/templates/setup.ts
  client/packages/cli/src/utils/__test__/config.test.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/src/utils/sfx.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/gateways/gateway.ts
  client/packages/types/metadata-t3rn.json
  client/packages/types/package.json
  client/packages/types/src/augment/augment-api-errors.ts
  client/packages/types/src/augment/augment-api-events.ts
  client/packages/types/src/augment/augment-api-query.ts
  client/packages/types/src/augment/augment-api-tx.ts
  client/packages/types/src/augment/lookup.ts
  client/packages/types/src/augment/registry.ts
  client/packages/types/src/augment/types-lookup.ts
Labels: javascript, github_actions, test

#1288 fix: gha for cli
  .github/workflows/cli.yml
Labels: deploy-cli

#1290 fix: drain imported headers at grandpa reset
  finality-verifiers/grandpa/src/lib.rs
Labels: rust

#1291 test: check for drained ImportedHeaders at grandpa LC reset
  finality-verifiers/grandpa/src/lib.rs
Labels: rust

#1289 feat: deployment kusama and polkadot ranger
  client/packages/cli/helm/templates/cronjob.yaml
  client/packages/grandpa-ranger/config/docker.ts
  client/packages/grandpa-ranger/config/kusama.ts
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/config/polkadot.ts
  client/packages/grandpa-ranger/config/rococo.ts
  client/packages/grandpa-ranger/helm/templates/_helpers.tpl
  client/packages/grandpa-ranger/helm/templates/deployment.yaml
  client/packages/grandpa-ranger/helm/templates/serviceaccount.yaml
  client/packages/grandpa-ranger/helm/templates/servicemonitor.yaml
  client/packages/grandpa-ranger/helm/templates/svc.yaml
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Labels: javascript, deploy-grandpa-ranger

#1294 chore: grandpa ranger healthcheck
  client/packages/grandpa-ranger/.gitignore
  client/packages/grandpa-ranger/config/kusama.ts
  client/packages/grandpa-ranger/config/polkadot.ts
  client/packages/grandpa-ranger/config/rococo.ts
  client/packages/grandpa-ranger/helm/templates/deployment.yaml
  client/packages/grandpa-ranger/helm/values.yaml
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/logging.ts
  client/packages/grandpa-ranger/src/prometheus.ts
  client/packages/grandpa-ranger/tsconfig.json
Labels: javascript, deploy-grandpa-ranger

#1296 refactor(grandpa-ranger): submissions without interval
  client/packages/grandpa-ranger/config/kusama.ts
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/config/polkadot.ts
  client/packages/grandpa-ranger/config/rococo.ts
  client/packages/grandpa-ranger/helm/templates/deployment.yaml
  client/packages/grandpa-ranger/helm/templates/prometheusrule.yaml
  client/packages/grandpa-ranger/prettier.rc
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript, deploy-grandpa-ranger

#1298 feat: t0rn XCM config update
  Cargo.lock
  Cargo.toml
  runtime/common-types/Cargo.toml
  runtime/common-types/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/xbi_config.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1299 fix: grandpa-ranger should not escape submission loop
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Labels: javascript

#1304 feat: sdk align for ethereum ranger
  client/packages/sdk/package.json
  client/packages/sdk/src/config/types.json
  client/packages/sdk/src/gateways/gateway.ts
  client/packages/sdk/src/index.ts
  client/packages/sdk/src/utils/substrate.ts
Labels: javascript

#1305 fix: sdk have utils exported
  client/packages/sdk/package.json
Labels: javascript

#1302 build: point to tag instead of branch for eth2 & sepolia pallets
  Cargo.lock
  client/packages/cli/.gitignore
  pallets/portal/Cargo.toml
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t1rn-parachain/Cargo.toml
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1306 chore: upgrade sepolia pallet version
  Cargo.lock
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t1rn-parachain/Cargo.toml
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1307 fix: check for above-zero target height increase before setting isActive
  Cargo.lock
  node/parachain/src/rpc.rs
  node/standalone/src/rpc.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test.rs
  pallets/circuit/vacuum/src/lib.rs
  pallets/portal/rpc/Cargo.toml
  pallets/portal/rpc/runtime-api/Cargo.toml
  pallets/portal/rpc/runtime-api/src/lib.rs
  pallets/portal/rpc/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/circuit/traits.rs
  primitives/src/lib.rs
  runtime/mini-mock/src/lib.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t0rn-parachain/src/parachain_config.rs
  runtime/t1rn-parachain/src/lib.rs
  types/src/sfx.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test, circuit

#1309 chore: update sepolia pallet version to tag 1.1.3
  .gitignore
  Cargo.lock
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t1rn-parachain/Cargo.toml
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1303 feat: recover executor for each Vacuum::read_xtx_status
  pallets/circuit/vacuum/src/lib.rs
Labels: rust, circuit

#1311 chore: disable inactive t0rn collators once per 6h session
  pallets/rewards/src/lib.rs
  runtime/t0rn-parachain/src/hooks.rs
Labels: runtime :hammer_and_wrench:, rust

#1310 fix: disregard past accumulated settlements from current round calculation
  pallets/circuit/src/lib.rs
  pallets/circuit/src/tests.rs
  pallets/circuit/vacuum/src/lib.rs
  pallets/rewards/src/lib.rs
  primitives/src/circuit/types.rs
Labels: rust, test, circuit

#1323 feat: updated XCM configuration including Zombienet setup with enabled dev accounts on AssetHub
  Cargo.lock
  Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/xbi_config.rs
  tests/zombienet/zombienet-xcm.toml
  tests/zombienet/zombienet.sh
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1322 feat: sdk sign and send with options
  client/packages/sdk/package.json
  client/packages/sdk/src/circuit/tx.ts
Labels: javascript

#1320 feat(executor): nonce increment for multiple bidSfx
  client/packages/executor/.env-tests
  client/packages/executor/README.md
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/executor.class.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/index.ts
Labels: javascript, test, deploy-executor

#1308 feat(cli): xcm transfer
  client/packages/cli/config.json
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/init.ts
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/schemas/xcm.ts
  client/packages/cli/src/templates/xtransfer.ts
  client/packages/sdk/package.json
  client/packages/sdk/pnpm-lock.yaml
  client/packages/sdk/src/gateways/gateway.ts
  client/packages/sdk/src/utils/index.ts
  client/packages/sdk/src/utils/xcm.ts
Labels: javascript

#1332 fix: bump outdated t3rn SDK version at CLI package.json
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
Labels: javascript

#1333 chore: upgrade eth2-lc for sepolia to next version
  Cargo.lock
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t1rn-parachain/Cargo.toml
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust
