Repository t3rn/t3rn, pull requests merged in 2023-11, with the labels that each got.

#1415 fix: updated SDK version in CLI package.json to enable asset registration
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
Labels: javascript

#1417 chore: update t0rn session parameters: time to 1h, kick threshold to 6h, no disabled validators from session
  node/parachain/src/chain_spec.rs
  runtime/t0rn-parachain/src/parachain_config.rs
Labels: runtime :hammer_and_wrench:, rust

#1422 fix: speed up CI with actions that can run on smaller workers
  .github/workflows/subalfred.yml
  .github/workflows/test-cargo-release.yml
  .github/workflows/test-e2e.yml
  .github/workflows/update-dev-docs.yml
Labels: github_actions

#1420 feat: add command to build executor binaries for linux, macOS and window (x64 and arm64) targets
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/rollup.config.cjs
Labels: javascript

#1409 feat: make SFX validation verbose & extend CLI with writer of Orders to Vacuum
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/fastWriter/decode_scale.sh
  client/packages/cli/src/commands/fastWriter/index.ts
  client/packages/cli/src/commands/fastWriter/interface.sh
  client/packages/cli/src/commands/fastWriter/tx_builder.ts
  client/packages/cli/src/commands/sfxABI/index.ts
  client/packages/cli/src/schemas/fastWriter.ts
  client/packages/cli/tsconfig.json
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  primitives/src/circuit/types.rs
Labels: rust, javascript, circuit

#1404 fix(grandpa-ranger): sending limited ranges to not exceed blocksize
  client/packages/grandpa-ranger/config/kusama.ts
  client/packages/grandpa-ranger/jest.config.js
  client/packages/grandpa-ranger/jest.setup.js
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/pnpm-lock.yaml
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/ranger.test.ts
  client/packages/grandpa-ranger/src/ranger.ts
Labels: javascript, test, deploy-grandpa-ranger

#1421 chore: add missing @t3rn/sdk TS options of Vendor::XBI & Instant
  client/packages/sdk/package.json
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/config/types.json
  client/packages/sdk/src/utils/registerAsset.ts
  client/packages/sdk/src/utils/xcm.ts
  client/packages/sdk/yarn.lock
Labels: dependencies :deciduous_tree:, javascript

#1424 chore: add prettier rules and reformat the whole project
  client/packages/cli/.prettierrc
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/bid.ts
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/commands/estimate.ts
  client/packages/cli/src/commands/fastWriter/index.ts
  client/packages/cli/src/commands/fastWriter/tx_builder.ts
  client/packages/cli/src/commands/init.ts
  client/packages/cli/src/commands/purgeGateway/index.ts
  client/packages/cli/src/commands/purgeToken/index.ts
  client/packages/cli/src/commands/rebootGateway/index.ts
  client/packages/cli/src/commands/registerAsset/index.ts
  client/packages/cli/src/commands/registerGateway/__test__/gateway.test.ts
  client/packages/cli/src/commands/registerGateway/gateway.ts
  client/packages/cli/src/commands/registerGateway/register.ts
  client/packages/cli/src/commands/registerGateway/vendors/eth.ts
  client/packages/cli/src/commands/registerGateway/vendors/substrate.ts
  client/packages/cli/src/commands/resetGateway/index.ts
  client/packages/cli/src/commands/sfxABI/index.ts
  client/packages/cli/src/commands/submit/headers.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/commands/submit/submit.ts
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/consts.ts
  client/packages/cli/src/schemas/abi.ts
  client/packages/cli/src/schemas/estimate.ts
  client/packages/cli/src/schemas/extrinsic.ts
  client/packages/cli/src/schemas/fastWriter.ts
  client/packages/cli/src/schemas/registerAsset.ts
  client/packages/cli/src/schemas/setup.ts
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/schemas/xcm.ts
  client/packages/cli/src/templates/transfer.ts
  client/packages/cli/src/templates/xtransfer.ts
  client/packages/cli/src/types.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/cli/src/utils/__test__/log.test.ts
  client/packages/cli/src/utils/__test__/wrapCryptoWaitReady.test.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/src/utils/config.ts
  client/packages/cli/src/utils/dgf.ts
  client/packages/cli/src/utils/fns.ts
  client/packages/cli/src/utils/log.ts
  client/packages/cli/src/utils/sfx.ts
Labels: javascript, test

#1423 fix(executor): disable attestations
  .github/workflows/release-lock.yml
  .github/workflows/release.yml
  client/packages/executor/config/config.ts
  client/packages/executor/helm/templates/deployment.yaml
  client/packages/executor/helm/values.yaml
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/main.ts
Labels: javascript, github_actions

#1427 fix: correct ABI descriptor for RLP-encoded "tass" & refresh standard ABI list at XDNS::reboot
  pallets/circuit/vacuum/src/lib.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  types/abi/src/standard.rs
Labels: rust, test, circuit

#1432 feat: include SFX evaluation by executors for transfer assets against t0rn
  .github/workflows/npm-eth2-proof.yml
  .github/workflows/npm-sdk.yml
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/gateways/gateway.ts
  client/packages/sdk/src/side-effects/types.ts
Labels: javascript, github_actions

#1429 fix: cli reset register light client
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/sdk/.prettierrc
  client/packages/sdk/package.json
  client/packages/sdk/src/circuit/tx.ts
Labels: javascript

#1431 test: extend mock single vacuum order to test all registered gateways
  client/packages/cli/src/commands/fastWriter/index.ts
  client/packages/cli/src/commands/sfxABI/index.ts
Labels: javascript

#1430 feat(ci): add automated XCM transactions sending using helm
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/registerAsset/index.ts
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/schemas/xcm.ts
  tests/zombienet/xcm/transfer_ROC_from_AssetHub_to_t0rn.ts
  tests/zombienet/xcm/transfer_ROC_from_relay_to_t0rn.ts
Labels: javascript

#1434 fix: correct signAndSendSafe not resolving on success
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/sdk/package.json
  client/packages/sdk/src/circuit/tx.ts
Labels: javascript

#1433 chore: update sepolia LC version
  Cargo.lock
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1428 feat: fast writer
  .github/workflows/fast-writer.yml
  client/fast-writer.Dockerfile
  client/packages/fast-writer/.env-example.t0rn
  client/packages/fast-writer/.eslintrc.json
  client/packages/fast-writer/.gitignore
  client/packages/fast-writer/.mocharc.json
  client/packages/fast-writer/.nvmrc
  client/packages/fast-writer/.prettierrc.json
  client/packages/fast-writer/babel.config.js
  client/packages/fast-writer/helm/.helmignore
  client/packages/fast-writer/helm/Chart.yaml
  client/packages/fast-writer/helm/templates/_helpers.tpl
  client/packages/fast-writer/helm/templates/deployment.yaml
  client/packages/fast-writer/helm/templates/prometheusrule.yaml
  client/packages/fast-writer/helm/templates/serviceaccount.yaml
  client/packages/fast-writer/helm/templates/servicemonitor.yaml
  client/packages/fast-writer/helm/templates/sfxConfigMap.yaml
  client/packages/fast-writer/helm/templates/svc.yaml
  client/packages/fast-writer/helm/values.yaml
  client/packages/fast-writer/package.json
  client/packages/fast-writer/pnpm-lock.yaml
  client/packages/fast-writer/prettier.rc
  client/packages/fast-writer/rollup.config.cjs
  client/packages/fast-writer/src/config/config.ts
  client/packages/fast-writer/src/config/types.ts
  client/packages/fast-writer/src/index.ts
  client/packages/fast-writer/src/prometheus.ts
  client/packages/fast-writer/src/services/circuit/client.ts
  client/packages/fast-writer/src/services/circuit/connection.class.ts
  client/packages/fast-writer/src/services/fast-writer/enums.ts
  client/packages/fast-writer/src/services/fast-writer/fast-writer.class.ts
  client/packages/fast-writer/src/services/fast-writer/order.ts
  client/packages/fast-writer/src/utils/helpers.ts
  client/packages/fast-writer/src/utils/logger.ts
  client/packages/fast-writer/tests/mock.test.ts
  client/packages/fast-writer/tsconfig.json
  client/packages/fast-writer/tsup.config.cjs
  client/packages/fast-writer/typedoc.json
Labels: javascript, github_actions, test, deploy-fast-writer

#1442 fix(fast-writer): unrecognized exception handled
  client/packages/fast-writer/src/index.ts
Labels: javascript

#1445 feat: t1rn on kusama
  .github/workflows/release-t0rn.yml
  .github/workflows/release-t1rn.yml
  .github/workflows/release.yml
  .github/workflows/semantic-version.yml
  .github/workflows/test-circuit.yml
  scripts/upgrade-runtime-cargo-release.sh
  tests/zombienet/download.sh
  tests/zombienet/download_local.sh
  tests/zombienet/zombienet.sh
Labels: github_actions

#1447 build: switch t1rn to t0rn runtime
  .github/workflows/release-t1rn.yml
  .github/workflows/test-circuit.yml
  .github/workflows/test-zombie.yml
  Cargo.lock
  node/t1rn-parachain/Cargo.toml
  node/t1rn-parachain/src/chain_spec.rs
  node/t1rn-parachain/src/command.rs
  node/t1rn-parachain/src/rpc.rs
  runtime/t1rn-parachain/Cargo.toml
  runtime/t1rn-parachain/src/accounts_config.rs
  runtime/t1rn-parachain/src/circuit_config.rs
  runtime/t1rn-parachain/src/contracts_config.rs
  runtime/t1rn-parachain/src/hooks.rs
  runtime/t1rn-parachain/src/lib.rs
  runtime/t1rn-parachain/src/parachain_config.rs
  runtime/t1rn-parachain/src/signed_extrinsics_config.rs
  runtime/t1rn-parachain/src/system_config.rs
  runtime/t1rn-parachain/src/treasuries_config.rs
  runtime/t1rn-parachain/src/xbi_config.rs
  runtime/t1rn-parachain/src/xcm_config.rs
  tests/zombienet/smoke/9999-runtime_upgrade_t1rn.zndsl
  tests/zombienet/zombienet.sh
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, github_actions

#1448 fix: revert to t3rn spec name for t1rn
  runtime/t1rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust

#1436 feat: connect Light Client Async API to Attesters and allow generic InfluxMessage attestations
  pallets/attesters/contracts/.prettierrc
  pallets/attesters/contracts/contracts/attestationsVerifierProofs.sol
  pallets/attesters/contracts/hardhat.config.js
  pallets/attesters/contracts/package.json
  pallets/attesters/contracts/pnpm-lock.yaml
  pallets/attesters/contracts/scripts/callRemoteOrder.js
  pallets/attesters/contracts/scripts/deploy.js
  pallets/attesters/contracts/scripts/deployGMP.js
  pallets/attesters/contracts/test/AttestationsVerifierProof.js
  pallets/attesters/contracts/test/EscrowGMP.js
  pallets/attesters/contracts/test/LocalExchange.js
  pallets/attesters/contracts/test/xOrder.js
  pallets/attesters/src/lib.rs
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/lib.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, rust, javascript, test

#1455 build: set t2rn total supply to 100mln & block to 1sec
  node/t2rn-parachain/src/chain_spec.rs
  runtime/t2rn-parachain/src/system_config.rs
Labels: runtime :hammer_and_wrench:, rust

#1435 fix: cli reset register light client
  client/packages/cli/.env-example
  client/packages/cli/.t3rn-config.json
  client/packages/cli/README.md
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/purgeToken/index.ts
  client/packages/cli/src/commands/registerAsset/index.ts
  client/packages/cli/src/commands/registerGateway/gateway.ts
  client/packages/cli/src/commands/registerGateway/register.ts
  client/packages/cli/src/commands/registerGateway/vendors/eth.ts
  client/packages/cli/src/commands/registerGateway/vendors/substrate.ts
  client/packages/cli/src/commands/registerGateway/vendors/types-eth.ts
  client/packages/cli/src/commands/resetGateway/index.ts
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/config/config.ts
  client/packages/cli/src/consts.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/src/utils/config.ts
  client/packages/cli/src/utils/fns.ts
  client/packages/sdk/src/circuit/tx.ts
Labels: javascript, test

#1456 build: compile t1rn with runtime benchmarks flag
  runtime/t1rn-parachain/src/accounts_config.rs
  runtime/t1rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust

#1457 fix: increase specs
  .github/workflows/release-t2rn.yml
  scripts/upgrade-runtime-cargo-release.sh
Labels: github_actions

#1470 build: reset t0rn-parachain spec versions to 1
  runtime/t0rn-parachain/src/lib.rs
  specs/t0rn.genesis
  specs/t0rn.json
  specs/t0rn.raw.json
Labels: runtime :hammer_and_wrench:, rust

#1471 build: reset t0rn to genesis runtime version
  runtime/t0rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust

#1472 build: reset t0rn-parachain spec versions
  runtime/t0rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust

#1459 fix: set correct weights to Vacuum & Circuit orders; mitigate state bloat
  .github/workflows/release-t0rn.yml
  Cargo.lock
  pallets/3vm/src/mock.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/tests.rs
  pallets/circuit/src/weights.rs
  pallets/circuit/vacuum/Cargo.toml
  pallets/circuit/vacuum/src/benchmarking.rs
  pallets/circuit/vacuum/src/lib.rs
  pallets/circuit/vacuum/src/weights.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/Cargo.toml
  runtime/mock/src/accounts_config.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/xbi_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/standalone/src/lib.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t1rn-parachain/src/circuit_config.rs
  runtime/t2rn-parachain/src/accounts_config.rs
  runtime/t2rn-parachain/src/circuit_config.rs
  runtime/t2rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, github_actions, test, circuit

#1474 build: temporarily remove feature flags of parachain collators
  .github/workflows/test-circuit.yml
  Cargo.lock
  Cargo.toml
  node/parachain/Cargo.toml
  node/parachain/Makefile
  node/parachain/build.rs
  node/parachain/src/main.rs
  node/t0rn-parachain/Cargo.toml
  node/t0rn-parachain/src/chain_spec.rs
  node/t0rn-parachain/src/cli.rs
  node/t0rn-parachain/src/command.rs
  node/t0rn-parachain/src/lib.rs
  node/t0rn-parachain/src/main.rs
  node/t0rn-parachain/src/rpc.rs
  node/t0rn-parachain/src/service.rs
  node/t1rn-parachain/Cargo.toml
  node/t1rn-parachain/src/chain_spec.rs
  node/t1rn-parachain/src/cli.rs
  node/t1rn-parachain/src/command.rs
  node/t1rn-parachain/src/lib.rs
  node/t1rn-parachain/src/main.rs
  node/t1rn-parachain/src/rpc.rs
  node/t1rn-parachain/src/service.rs
  node/t3rn-parachain/Cargo.toml
  node/t3rn-parachain/src/chain_spec.rs
  node/t3rn-parachain/src/cli.rs
  node/t3rn-parachain/src/command.rs
  node/t3rn-parachain/src/lib.rs
  node/t3rn-parachain/src/main.rs
  node/t3rn-parachain/src/rpc.rs
  node/t3rn-parachain/src/service.rs
  node/t7rn-parachain/Cargo.toml
  node/t7rn-parachain/src/chain_spec.rs
  node/t7rn-parachain/src/cli.rs
  node/t7rn-parachain/src/command.rs
  node/t7rn-parachain/src/lib.rs
  node/t7rn-parachain/src/main.rs
  node/t7rn-parachain/src/rpc.rs
  node/t7rn-parachain/src/service.rs
  runtime/t1rn-parachain/src/circuit_config.rs
  runtime/t1rn-parachain/src/xbi_config.rs
  tests/zombienet/zombienet-alles.toml
  tests/zombienet/zombienet.sh
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, github_actions

#1476 feat: skip light clients registration for empty init data
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
Labels: rust, test

#1478 build: make sure release CI has the wasm32-unknown-unknown target
  .github/workflows/release-t0rn.yml
  .github/workflows/release-t2rn.yml
Labels: github_actions

#1481 build: reset t0rn runtime to tx version = 2 in genesis
  runtime/t0rn-parachain/src/lib.rs
  specs/t0rn.genesis
  specs/t0rn.json
  specs/t0rn.raw.json
Labels: runtime :hammer_and_wrench:, rust

#1483 build: upload t0rn specs on tx version = 2
  runtime/t0rn-parachain/src/lib.rs
  specs/t0rn.genesis
  specs/t0rn.json
  specs/t0rn.raw.json
Labels: runtime :hammer_and_wrench:, rust

#1426 feat: enable multiple blocks per slot for t0rn
  .github/workflows/release-t0rn.yml
  runtime/t0rn-parachain/src/parachain_config.rs
Labels: runtime :hammer_and_wrench:, rust, github_actions

#1444 feat: added XCM SDK support for automated sending of RUSD and USDT from AssetHub to t0rn
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/commands/registerAsset/index.ts
  client/packages/cli/src/commands/xcmTransfer/index.ts
  client/packages/cli/src/schemas/registerAsset.ts
  client/packages/cli/src/schemas/xcm.ts
  client/packages/cli/src/utils/xcm.ts
  client/packages/sdk/package.json
  client/packages/sdk/src/utils/registerAsset.ts
  client/packages/sdk/src/utils/xcm.ts
  runtime/t0rn-parachain/src/xbi_config.rs
Labels: runtime :hammer_and_wrench:, rust, javascript
