Repository t3rn/t3rn, pull requests merged in 2023-05, with the labels that each got.

#931 build: cicd require executor tests [skip release]
  .github/workflows/executor.yml
Labels: github_actions

#934 build: cicd improve PR labeling [skip release]
  .github/labeler.yml
Labels: github_actions

#937 build: cicd executor test fix + eslint [skip release]
  .github/workflows/executor.yml
  client/packages/Makefile
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
  client/packages/executor/.eslintrc.json
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/gateways/types.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/pricing/index.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/package.json
  client/packages/sdk/yarn.lock
  client/packages/types/package.json
  client/packages/types/yarn.lock
Labels: dependencies :deciduous_tree:, javascript, github_actions, test

#938 build: cicd fix eslint executor [skip release]
  .github/workflows/executor.yml
  .github/workflows/update-dev-docs.yml
  client/packages/executor/package.json
  client/packages/executor/src/utils/index.ts
  node/standalone/Makefile
Labels: javascript, github_actions

#882 feat: add maintenance mode to runtime
  Cargo.lock
  node/standalone/src/chain_spec.rs
  node/t0rn-parachain/src/chain_spec.rs
  pallets/account-manager/src/manager.rs
  pallets/contracts/src/storage.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/lib.rs
  runtime/standalone/src/system_config.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
  runtime/t0rn-parachain/src/system_config.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#947 build(cicd): add required permissions to executor workflow [skip release]
  .github/workflows/executor.yml
Labels: github_actions

#948 fix: cli shoud not have set-operational [skip release]
  client/packages/cli/README.md
  client/packages/cli/index.ts
Labels: javascript

#952 fix: submit headers & bid process.exit
  client/grandpa-ranger/src/index.ts
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/bid.ts
  client/packages/cli/src/commands/submit/headers.ts
  client/packages/cli/src/schemas/setup.ts
  client/packages/cli/src/templates/setup.ts
  client/packages/cli/yarn.lock
Labels: dependencies :deciduous_tree:, javascript

#959 fix: executor docs build issue [skip release]
  .github/workflows/executor.yml
  client/packages/executor/src/gateways/substrate/estimator/index.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
Labels: javascript, github_actions

#880 build: runtime upgrade without approval
  .github/workflows/release-t0rn.yml
  .github/workflows/runtime-upgrade-t0rn.yml
Labels: github_actions

#960 build: cli and executor Dockerfile build [skip release]
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  client/cli.Dockerfile
  client/cli_entrypoint.sh
  client/contracts/deploy.ts
  client/executor.Dockerfile
  client/packages/cli/helm/Chart.yaml
  client/packages/cli/helm/templates/_helpers.tpl
  client/packages/cli/helm/templates/cronjob.yaml
  client/packages/cli/helm/templates/serviceaccount.yaml
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/index.ts
  client/packages/cli/src/templates/setup.ts
  client/packages/cli/src/utils/circuit.ts
  tests/zombienet/zombienet.sh
Labels: javascript, github_actions

#914 feat: standalone grandpa ranger
  test-utils/Cargo.toml
Labels: rust

#964 feat: impl grandpa reset + xnds cleanup
  finality-verifiers/grandpa/src/lib.rs
  node/standalone/src/chain_spec.rs
  node/t0rn-parachain/src/chain_spec.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/xdns.rs
  runtime/mock/src/lib.rs
  runtime/standalone/src/system_config.rs
  runtime/t0rn-parachain/src/system_config.rs
Labels: runtime :hammer_and_wrench:, rust, test

#967 fix: expose portal rpc endpoint in t0rn runtime
  client/packages/cli/src/commands/submit/headers.ts
  runtime/t0rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust, javascript

#968 feat: activate portal rpc service in t0rn runtime
  Cargo.lock
  node/t0rn-parachain/Cargo.toml
  node/t0rn-parachain/src/rpc.rs
  node/t0rn-parachain/src/service.rs
Labels: dependencies :deciduous_tree:, rust

#969 feat: implement export extrinsic data to file
  client/packages/cli/.gitignore
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/bid.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/register.ts
  client/packages/cli/src/commands/submit/headers.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/commands/submit/submit.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/yarn.lock
  client/packages/sdk/src/circuit/index.ts
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/export/index.ts
  client/packages/sdk/yarn.lock
Labels: dependencies :deciduous_tree:, javascript

#970 feat: add support for enforce executioner field
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/templates/transfer.ts
Labels: javascript

#977 build: add eslint report and annotations
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/semantic-version.yml
  client/packages/cli/package.json
  client/packages/executor/package.json
Labels: javascript, github_actions

#961 feat: impl eth2 pallet
  Cargo.lock
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  finality-verifiers/grandpa/src/mock.rs
  pallets/3vm/src/precompile.rs
  pallets/circuit/src/lib.rs
  pallets/portal/Cargo.toml
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  pallets/xdns/src/tests.rs
  primitives/src/light_client.rs
  primitives/src/portal.rs
  runtime/common-pallets/Cargo.toml
  runtime/common-pallets/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/standalone/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test, circuit

#979 build: add automatic summary to PRs [skip release]
  .github/workflows/auto-summary.yml
Labels: github_actions

#981 refactor: sfx actions
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/sfx.ts
Labels: javascript

#986 ci(gha): wait for release to finish before merge [skip release]
  .github/workflows/release-lock.yml
  .github/workflows/runtime-upgrade-t0rn.yml
Labels: github_actions

#966 feat: distribute inflation rewards to block authors
  Cargo.lock
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/3vm/src/precompile.rs
  pallets/portal/src/tests.rs
  pallets/rewards/src/lib.rs
  pallets/xdns/rpc/runtime-api/src/lib.rs
  primitives/src/light_client.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test

#989 fix: add correct filter
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/system_config.rs
Labels: runtime :hammer_and_wrench:, rust

#980 feat: batch attestations per target for committee transitions, penalties and SFX
  Cargo.lock
  pallets/attesters/Cargo.toml
  pallets/attesters/README.md
  pallets/attesters/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/attesters.rs
  primitives/src/rewards.rs
  primitives/src/xdns.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1001 fix: grandpa range edge case
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/config/roco.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/yarn.lock
  finality-verifiers/grandpa/src/lib.rs
Labels: dependencies :deciduous_tree:, rust, javascript

#994 ci(dependabot): add cli for automated version update
  .github/dependabot.yml
Labels: github_actions

#1007 ci(dependabot): fix fetching dependencies from pirvate repos
  .github/dependabot.yml
Labels: github_actions

#984 ci(grandpa-ranger): deployment
  .github/workflows/grandpa-ranger.yml
  client/grandpa-ranger.Dockerfile
  client/grandpa-ranger/README.md
  client/grandpa-ranger/config.json
  client/grandpa-ranger/package-lock.json
  client/grandpa-ranger/package.json
  client/grandpa-ranger/src/index.ts
  client/grandpa-ranger/src/listeners/headers.ts
  client/grandpa-ranger/src/listeners/parachain.ts
  client/grandpa-ranger/src/listeners/relaychain.ts
  client/grandpa-ranger/src/relayer.ts
  client/grandpa-ranger/src/types.json
  client/grandpa-ranger/src/util.ts
  client/grandpa-ranger/tsconfig.json
  client/grandpa-ranger/yarn.lock
  client/packages/grandpa-ranger/.eslintrc.cjs
  client/packages/grandpa-ranger/.nvmrc
  client/packages/grandpa-ranger/config/t0rn.ts
  client/packages/grandpa-ranger/helm/.helmignore
  client/packages/grandpa-ranger/helm/Chart.yaml
  client/packages/grandpa-ranger/helm/templates/_helpers.tpl
  client/packages/grandpa-ranger/helm/templates/deployment.yaml
  client/packages/grandpa-ranger/helm/templates/serviceaccount.yaml
  client/packages/grandpa-ranger/helm/templates/servicemonitor.yaml
  client/packages/grandpa-ranger/helm/templates/svc.yaml
  client/packages/grandpa-ranger/helm/values.yaml
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/yarn.lock
Labels: dependencies :deciduous_tree:, javascript, github_actions

#1009 ci(grandpa-ranger): use correct profile in helm
  client/packages/grandpa-ranger/config/t0rn.ts
  client/packages/grandpa-ranger/helm/values.yaml
Labels: javascript

#1016 feat: allow attester calls
  runtime/standalone/src/system_config.rs
  runtime/t0rn-parachain/src/system_config.rs
Labels: runtime :hammer_and_wrench:, rust

#992 ci(gha): run zombienet test only before runtime upgrade
  .github/workflows/test-circuit.yml
Labels: github_actions

#1014 feat: data generation framework for unhappy paths
  client/packages/cli/README.md
  client/packages/cli/index.ts
  client/packages/cli/package.json
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/commands/register/__test__/gateway.test.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/submit/__test__/sfx.test.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/cli/src/utils/dgf.ts
  client/packages/cli/src/utils/sfx.ts
  client/packages/cli/tsconfig.json
  client/packages/cli/tsup.config.cjs
  client/packages/cli/yarn.lock
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/gateways/gateway.ts
  runtime/t0rn-parachain/src/system_config.rs
  scripts/testing_maintenance.sh
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, test :test_tube:, rust, javascript, test

#1021 ci(e2e): tests should not run when label e2e is not added atm
  .github/workflows/test-e2e.yml
Labels: github_actions
