Repository t3rn/t3rn, pull requests merged in 2023-06, with the labels that each got.

#1024 fix(chainspecs): replace outdated bootnodes for rococo
  .github/workflows/release-t0rn.yml
  .github/workflows/semantic-version.yml
  specs/rococo.raw.json
Labels: github_actions

#1026 feat: update executor
  .github/workflows/executor.yml
  client/packages/Makefile
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
  client/packages/executor/.gitignore
  client/packages/executor/README.md
  client/packages/executor/babel.config.js
  client/packages/executor/config.json
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/prettier.rc
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/estimator/cost.ts
  client/packages/executor/src/gateways/types.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/pricing/index.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/tests/pricing.test.ts
  client/packages/executor/tests/strategy.test.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/src/gateways/gateway.ts
  client/packages/sdk/src/gateways/index.ts
Labels: dependencies :deciduous_tree:, javascript, github_actions, test

#1030 fix(attester): info logs for events are spamming
  client/packages/attester/src/attester.ts
Labels: javascript

#1031 feat: add support to register eth2 gateway via CLI
  Cargo.lock
  client/cli.Dockerfile
  client/packages/cli/package.json
  client/packages/cli/src/commands/init.ts
  client/packages/cli/src/commands/register/__test__/gateway.test.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/src/commands/register/vendors/substrate.ts
  client/packages/cli/src/consts.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/cli/src/utils/fns.ts
  client/packages/cli/yarn.lock
  client/packages/sdk/package.json
  client/packages/sdk/src/config/types.json
  client/packages/sdk/tsconfig.json
  client/packages/types/package.json
  pallets/portal/src/tests.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  yarn.lock
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, javascript, test

#1042 chore: offchain script for automated nominations
  .github/workflows/executor.yml
  client/executor.Dockerfile
  client/packages/executor/.nvmrc
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  pallets/attesters/offchain/offchain-attester.js
Labels: javascript, github_actions

#1036 fix: client apps should deploy in order
  .github/workflows/attester.yml
  .github/workflows/executor.yml
  .github/workflows/grandpa-ranger.yml
Labels: github_actions

#1044 fix: create new batches for each committee transition
  pallets/attesters/src/lib.rs
  runtime/mini-mock/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust

#1052 fix: executor bidding works
  client/packages/Makefile
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/templates/transfer.ts
  client/packages/cli/src/utils/sfx.ts
  client/packages/cli/yarn.lock
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/yarn.lock
  client/packages/types/package.json
  client/packages/types/yarn.lock
Labels: dependencies :deciduous_tree:, javascript

#1027 feat: connect XDNS with Assets to create, purge, lookup via Overlay trait
  Cargo.lock
  finality-verifiers/grandpa/Cargo.toml
  node/standalone/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/3vm/src/mock.rs
  pallets/account-manager/Cargo.toml
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
  pallets/circuit/Cargo.toml
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test.rs
  pallets/contracts-registry/Cargo.toml
  pallets/contracts/Cargo.toml
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/Cargo.toml
  pallets/evm/src/tests/threevm/mock.rs
  pallets/executors/Cargo.toml
  pallets/portal/Cargo.toml
  pallets/portal/rpc/Cargo.toml
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  pallets/rewards/Cargo.toml
  pallets/rewards/src/lib.rs
  pallets/xdns/Cargo.toml
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/Cargo.toml
  primitives/src/attesters.rs
  primitives/src/light_client.rs
  primitives/src/portal.rs
  primitives/src/xdns.rs
  release.toml
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
  runtime/mock/Cargo.toml
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
  test-utils/Cargo.toml
  tests/integration/tests/config.toml
  types/Cargo.toml
  types/abi/Cargo.toml
  types/src/sfx.rs
  zombienet.toml
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test, circuit

#1060 fix: add reboot self gateway extrinsic to XDNS
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  pallets/xdns/src/weights.rs
Labels: rust, test

#1061 fix: sdk ignores local gateway entry
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/sdk/src/gateways/index.ts
Labels: javascript

#1064 refactor: check XDNS entry exists before adding as attestation targets + permanent slash as StorageValue
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust

#1071 chore: deploy docs on self hosted runners
  .github/workflows/update-dev-docs.yml
Labels: github_actions

#1068 refactor: customise max rewards executors kickback and default to zero
  pallets/rewards/src/lib.rs
Labels: rust

#1074 fix: quorum calculates Committee not ActiveSet size
  pallets/attesters/src/lib.rs
Labels: rust

#1075 feat: added attestationsDone array
  client/packages/attester/src/attester.ts
  client/packages/attester/tests/processAttestations.test.ts
Labels: javascript, test

#1077 chore: move pr template to t3rn repo
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github_actions

#1051 feat: add telemetry to executor
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/estimator/cost.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/prometheus.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/yarn.lock
Labels: in progress :gear:, dependencies :deciduous_tree:, javascript, test

#1078 fix: log all attester events and update metrics
  .github/workflows/attester.yml
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Labels: javascript, github_actions

#1054 feat: process gateways activity overview in XDNS
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/attesters.rs
  primitives/src/lib.rs
  primitives/src/xdns.rs
  types/src/sfx.rs
Labels: rust, test

#1085 fix: deploy phase should not be run by dependabot
  .github/workflows/attester.yml
  .github/workflows/executor.yml
  .github/workflows/grandpa-ranger.yml
Labels: github_actions

#1086 fix: executor deploy step
  .github/workflows/executor.yml
Labels: github_actions

#1095 fix: update SDK metadata
  client/packages/executor/yarn.lock
  client/packages/sdk/src/config/types.json
  client/packages/types/metadata-t3rn.json
  client/packages/types/package.json
  client/packages/types/src/augment/augment-api-consts.ts
  client/packages/types/src/augment/augment-api-errors.ts
  client/packages/types/src/augment/augment-api-events.ts
  client/packages/types/src/augment/augment-api-query.ts
  client/packages/types/src/augment/augment-api-runtime.ts
  client/packages/types/src/augment/augment-api-tx.ts
  client/packages/types/src/augment/lookup.ts
  client/packages/types/src/augment/registry.ts
  client/packages/types/src/augment/types-lookup.ts
Labels: dependencies :deciduous_tree:, javascript

#1099 chore(grandpa-ranger): types/SDK changes should trigger deploy
  .github/workflows/grandpa-ranger.yml
Labels: github_actions
