Repository t3rn/t3rn, pull requests merged in 2023-08, with the labels that each got.

#1230 fix: reduce majority threshold to unbrick LC
  runtime/t0rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, rust

#1232 fix: temporarily set 67% committee majority threshold to Sepolia light client
  runtime/t0rn-parachain/src/circuit_config.rs
Labels: runtime :hammer_and_wrench:, rust

#1228 fix(executor): new contract for rotated committee
  client/cli_entrypoint.sh
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/executor/config/config.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/prometheus.ts
  pallets/attesters/contracts/scripts/deploy.js
Labels: javascript

#1236 fix: sdk docs build
  client/packages/sdk/tsconfig.json
Labels: javascript

#1212 feat(executor): optimistic execution for roco
  .github/workflows/attester.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  client/executor.Dockerfile
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/src/templates/setup.ts
  client/packages/executor/config.json
  client/packages/executor/config/config.ts
  client/packages/executor/helm/templates/deployment.yaml
  client/packages/executor/helm/templates/svc.yaml
  client/packages/executor/package.json
  client/packages/executor/src/attestationManager/index.ts
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/src/prometheus.ts
Labels: javascript, github_actions, deploy-cli, deploy-executor

#1234 feat: implement substrate price estimation
  client/packages/sdk/src/price-estimation/__tests__/substrate.test.ts
  client/packages/sdk/src/price-estimation/index.ts
  client/packages/sdk/src/price-estimation/substrate.ts
  client/packages/sdk/src/price-estimation/utils.ts
  client/packages/sdk/tsconfig.json
Labels: javascript, test

#1241 fix(executor): custom signer for relaychain
  client/packages/cli/helm/templates/cronjob.yaml
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/src/utils/circuit.ts
  client/packages/executor/config/config.ts
  client/packages/executor/helm/templates/deployment.yaml
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/prometheus.ts
Labels: javascript, deploy-cli, deploy-executor

#1246 ci(gha): dont remove rustup dir
  .github/workflows/test-circuit.yml
Labels: github_actions

#1244 chore: add extra Xtx Status log for submission target height
  pallets/circuit/src/lib.rs
Labels: rust, circuit

#1251 feat(zombienet): zombienet parachain id fix and upgrade ci
  .github/workflows/runtime-upgrade-t0rn.yml
  .github/workflows/test-circuit.yml
  tests/zombienet/download_local.sh
  tests/zombienet/smoke/9999-runtime_upgrade.feature
  tests/zombienet/zombienet-real-upgrade-sim.toml
  tests/zombienet/zombienet.sh
Labels: github_actions

#1252 fix: runtime upgrade script using sudo flag
  .github/workflows/runtime-upgrade-t0rn.yml
  .github/workflows/test-circuit.yml
  .github/workflows/test-zombienet.yml
  scripts/regenerate_parachain_build_artifacts.sh
  scripts/run-rococo-collators.sh
  scripts/upgrade-runtime-set-code.sh
Labels: github_actions

#1253 ci: npx failures during ci
  client/packages/attester/package.json
  client/packages/cli/package.json
  client/packages/executor/package.json
  client/packages/types/package.json
  docs/main/package.json
  pallets/attesters/contracts/package.json
  scripts/upgrade-runtime-set-code.sh
  types/abi/src/test_rlp_contracts/package.json
Labels: javascript

#1254 ci: run auto gpt actions more sporadically
  .github/workflows/auto-review.yml
  .github/workflows/auto-summary.yml
Labels: github_actions

#1256 fix(executor): outdated transactions
  .fleet/run.json
  client/packages/attester/config/roco.ts
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/executor/.envrc-example
  client/packages/executor/README.md
  client/packages/executor/helm/values.yaml
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/attestationManager/index.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/yarn.lock
  client/packages/grandpa-ranger/config/roco.ts
Labels: dependencies :deciduous_tree:, javascript, test, deploy-executor

#1259 chore: add debug logs for inclusion proof
  .github/workflows/attester.yml
  .github/workflows/auto-review.yml
  .github/workflows/auto-summary.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/grandpa-ranger.yml
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/executor/helm/templates/deployment.yaml
  client/packages/executor/helm/values.yaml
  client/packages/executor/src/attestationManager/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/prometheus.ts
Labels: javascript, github_actions, deploy-executor

#1261 chore: improve failed xtx logging
  pallets/circuit/src/lib.rs
Labels: rust, circuit

#1262 fix: inclusion_receipt.height should be lower than submission_target_height
  pallets/circuit/src/lib.rs
Labels: rust, circuit

#1260 fix(executor): balance calculation and new metrics
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/prometheus.ts
  client/packages/executor/src/utils/index.ts
Labels: javascript, deploy-executor

#1265 ci(dependabot): dependabot should be triggered by pull request
  .github/workflows/dependabot-update.yml
Labels: github_actions

#1267 chore: move docker images from aws to ghcr
  .github/workflows/attester.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/grandpa-ranger.yml
  client/packages/cli/helm/values-t0rn.yaml
Labels: github_actions, deploy-cli, deploy-executor, deploy-grandpa-ranger, deploy-attester

#1263 fix: docker image name aligned
  .github/workflows/runtime-upgrade-t0rn.yml
Labels: github_actions

#1268 fix: docker image paths and docs
  .github/workflows/runtime-upgrade-t0rn.yml
  collator.t0rn.Dockerfile
  collator.t3rn.Dockerfile
  docs/main/docs/collator/testnet/testnet-collator.md
Labels: github_actions

#1270 fix: cli register gateway
  client/packages/cli/src/commands/register/gateway.ts
Labels: javascript

#1271 refactor: revisit and test attestation targets removal
  pallets/attesters/src/lib.rs
Labels: rust
