Repository t3rn/t3rn, pull requests merged in 2023-07, with the labels that each got.

#1110 fix: call reboot self gateway
  client/packages/attester/pnpm-lock.yaml
  client/packages/cli/src/commands/register/gateway.ts
Labels: javascript

#1065 feat: include smart contract targets in source verification
  Cargo.lock
  client/contracts/compile.ts
  client/contracts/contract.sol
  client/contracts/deploy.ts
  client/contracts/transact.ts
  client/contracts/yarn.lock
  client/packages/cli/src/commands/register/gateway.ts
  client/snorkle/package.json
  client/snorkle/snorkle.sol
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/3vm/src/precompile.rs
  pallets/attesters/src/lib.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test.rs
  pallets/portal/Cargo.toml
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/attesters.rs
  primitives/src/lib.rs
  primitives/src/light_client.rs
  primitives/src/portal.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  types/abi/src/recode.rs
  types/abi/src/test_rlp_contracts/.gitignore
  types/abi/src/test_rlp_contracts/contracts/portalPrecompile.sol
  types/abi/src/test_rlp_contracts/hardhat.config.js
  types/abi/src/test_rlp_contracts/package-lock.json
  types/abi/src/test_rlp_contracts/package.json
  types/abi/src/test_rlp_contracts/test/portalPrecompile.js
  types/abi/src/to_filled_abi.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, javascript, test, circuit

#1116 chore: only one package manager to rule them all [skip release]
  .github/workflows/check-lock-files.yml
Labels: github_actions

#1118 refactor: check lock files [skip release]
  .github/workflows/check-lock-files.yml
  client/packages/attester/pnpm-lock.yaml
  docs/main/package-lock.json
  docs/main/package.json
  pallets/attesters/contracts/package-lock.json
  pallets/attesters/contracts/package.json
  pallets/attesters/contracts/yarn.lock
  types/abi/src/test_rlp_contracts/package-lock.json
  types/abi/src/test_rlp_contracts/package.json
  types/abi/src/test_rlp_contracts/yarn.lock
Labels: dependencies :deciduous_tree:, javascript, github_actions

#1120 build: update eth2 light client to latest with receipt verification
  Cargo.lock
Labels: dependencies :deciduous_tree:, rust

#1135 fix: filter modification
  runtime/standalone/src/system_config.rs
  runtime/t0rn-parachain/src/system_config.rs
Labels: runtime :hammer_and_wrench:, rust

#1148 chore: empty PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE_FULL.md
Labels: github_actions

#1132 feat: add vacuum pallet to enhance transfer assets SFX path
  Cargo.lock
  Cargo.toml
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/attesters/src/lib.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test.rs
  pallets/circuit/src/square_up/mod.rs
  pallets/circuit/vacuum/Cargo.toml
  pallets/circuit/vacuum/src/lib.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/circuit/traits.rs
  primitives/src/circuit/types.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/hooks.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/lib.rs
  types/abi/src/standard.rs
  types/abi/src/to_abi.rs
Labels: ready :white_check_mark:, runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test, circuit

#1165 fix: current committee transitions to next committee correctly
  pallets/attesters/src/lib.rs
Labels: rust

#1166 ci(github): automate prs asignee and add to project
  .github/workflows/github-pr-assignee.yml
  .github/workflows/github-pr-project.yml
Labels: github_actions

#1091 feat: add ETH gas fees price estimation utility methods to @t3rn/sdk
  client/packages/attester/pnpm-lock.yaml
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/estimate.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/estimate.ts
  client/packages/cli/src/schemas/extrinsic.ts
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/yarn.lock
  client/packages/executor/package.json
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/tests/attestationManager.test.ts
  client/packages/executor/tsconfig.json
  client/packages/executor/tsup.config.cjs
  client/packages/executor/yarn.lock
  client/packages/sdk/.babelrc
  client/packages/sdk/.eslintrc.cjs
  client/packages/sdk/.gitignore
  client/packages/sdk/jest.config.cjs
  client/packages/sdk/package.json
  client/packages/sdk/src/index.ts
  client/packages/sdk/src/price-estimation/__tests__/eth.test.ts
  client/packages/sdk/src/price-estimation/cg.ts
  client/packages/sdk/src/price-estimation/eth.ts
  client/packages/sdk/src/price-estimation/index.ts
  client/packages/sdk/tsconfig.build.json
  client/packages/sdk/tsconfig.json
  client/packages/sdk/tsup.config.js
  client/packages/sdk/yarn.lock
Labels: dependencies :deciduous_tree:, javascript, test

#1183 fix(executor): contract data types
  README.md
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/attestationManager/index.ts
Labels: javascript

#1184 chore(docs): update packages and add dependabot
  .github/dependabot.yml
  .gitignore
  client/yarn.lock
  docs/attester/.nojekyll
  docs/attester/assets/highlight.css
  docs/attester/assets/main.js
  docs/attester/assets/search.js
  docs/attester/assets/style.css
  docs/attester/docs/.nojekyll
  docs/attester/docs/assets/highlight.css
  docs/attester/docs/assets/main.js
  docs/attester/docs/assets/search.js
  docs/attester/docs/assets/style.css
  docs/attester/docs/index.html
  docs/attester/docs/modules.html
  docs/attester/index.html
  docs/attester/modules.html
  docs/main/README.md
  docs/main/package.json
  docs/main/yarn.lock
Labels: dependencies :deciduous_tree:, javascript, github_actions

#1185 feat(cli): send continuously SFX to circuit
  .github/workflows/check-lock-files.yml
  .github/workflows/cli.yml
  client/cli.Dockerfile
  client/cli_entrypoint.sh
  client/packages/Makefile
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/commands/bid.ts
  client/packages/cli/yarn.lock
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/circuit/relayer.ts
Labels: dependencies :deciduous_tree:, javascript, github_actions

#1196 feat(cli): parametrize CLI with env variables
  client/packages/cli/.gitignore
  client/packages/cli/package.json
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/consts.ts
  client/packages/cli/src/templates/transfer.ts
  client/packages/cli/src/utils/circuit.ts
Labels: javascript

#1200 feat(executor): bid monitoring and logging
  .github/workflows/cli.yml
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/utils/sfx.ts
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/attestationManager/index.ts
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/prometheus.ts
Labels: javascript, github_actions

#1207 fix: executor sending Confirmed Batches
  .github/workflows/executor.yml
  client/packages/cli/helm/values-t0rn.yaml
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/src/attestationManager/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/main.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/prometheus.ts
  pallets/attesters/contracts/scripts/deploy.js
Labels: javascript, github_actions

#1218 fix: ensure XDNS override stores single Gateway ID
  client/packages/cli/CONFIG.md
  client/packages/cli/pnpm-lock.yaml
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/schemas/setup.ts
  client/packages/cli/src/templates/setup.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/executor/pnpm-lock.yaml
  client/packages/types/metadata-t3rn.json
  client/packages/types/src/augment/augment-api-consts.ts
  client/packages/types/src/augment/augment-api-errors.ts
  client/packages/types/src/augment/augment-api-events.ts
  client/packages/types/src/augment/augment-api-query.ts
  client/packages/types/src/augment/augment-api-runtime.ts
  client/packages/types/src/augment/augment-api-tx.ts
  client/packages/types/src/augment/lookup.ts
  client/packages/types/src/augment/registry.ts
  client/packages/types/src/augment/types-lookup.ts
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
Labels: rust, javascript, test

#1222 fix: add storage migration to raw key of XDNSRegistry
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
Labels: rust, test

#1205 test: cover xtx id calculations for nonces 0,1 and 2
  primitives/src/circuit/types.rs
Labels: rust

#1221 fix: stop committee shuffle if previous transition request still awaits attestation
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Labels: runtime :hammer_and_wrench:, rust

#1225 fix: remove remaining deprecated XDNS records with storage migration
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
Labels: rust, test

#1224 feat: extend GatewayVendor select with XBI and Sepolia
  Cargo.lock
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/lib.rs
  runtime/common-pallets/Cargo.toml
  runtime/common-pallets/src/lib.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test

#1223 fix: move process estimation of treasury balances to on_initialize hook
  pallets/rewards/src/lib.rs
Labels: rust

#1229 feat: implement evm call price estimation
  client/packages/sdk/package.json
  client/packages/sdk/src/price-estimation/__tests__/eth.test.ts
  client/packages/sdk/src/price-estimation/eth.ts
  client/packages/sdk/src/price-estimation/index.ts
  client/packages/sdk/yarn.lock
Labels: dependencies :deciduous_tree:, javascript, test
