Repository t3rn/t3rn, pull requests merged in 2024-01, with the labels that each got.

#1512 build: re-register t1rn to parachain id 3343
  Cargo.lock
  node/t7rn-parachain/src/chain_spec.rs
  node/t7rn-parachain/src/command.rs
  runtime/t7rn-parachain/Cargo.toml
  runtime/t7rn-parachain/src/lib.rs
  runtime/t7rn-parachain/src/system_config.rs
  specs/t7rn.genesis.compressed.wasm
  specs/t7rn.json
  specs/t7rn.raw.json
  specs/t7rn.t1rn.genesis.state
  specs/t7rn.t1rn.genesis.wasm
  tests/zombienet/zombienet-t7rn.toml
  tests/zombienet/zombienet.sh
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust

#1515 refactor: resolve, address, fix todos left across the workspace
  node/t3rn-parachain/src/chain_spec.rs
  node/t3rn-parachain/src/command.rs
  node/t3rn-parachain/src/rpc.rs
  node/t7rn-parachain/src/chain_spec.rs
  node/t7rn-parachain/src/command.rs
  node/t7rn-parachain/src/rpc.rs
  pallets/3vm/account-mapping/src/lib.rs
  pallets/account-manager/src/lib.rs
  pallets/account-manager/src/monetary.rs
  pallets/attesters/src/lib.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/clock/src/tests.rs
  pallets/contracts-registry/src/lib.rs
  pallets/rewards/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/attesters.rs
  primitives/src/circuit/traits.rs
  primitives/src/xdns.rs
  runtime/common-types/src/lib.rs
  runtime/mock/src/contracts_config.rs
  types/abi/src/evm_ingress_logs.rs
  types/abi/src/recode_rlp.rs
Labels: runtime :hammer_and_wrench:, rust, test, circuit

#1529 docs: change t3rn testnet namings in executor docs
  docs/main/docs/components/executor-overview.md
Labels: documentation :books:

#1530 fix: all issues that hinders build success
  .github/workflows/check-main-docs-build.yml
  .github/workflows/deploy-main-docs.yml
  docs/main/docs/components/executor-overview.md
Labels: github_actions

#1533 chore: update environment variable
  .github/workflows/deploy-main-docs.yml
  docs/main/docs/components/executor-overview.md
  docs/main/static/img/t3rn-protocol-anatomy.jpg
Labels: github_actions

#1525 chore: plug GRANDPA proveFinality RPC to standalone node
  .github/workflows/test-circuit.yml
  Cargo.lock
  Cargo.toml
  node/standalone/Cargo.toml
  node/standalone/src/rpc.rs
  node/standalone/src/service.rs
Labels: dependencies :deciduous_tree:, rust, github_actions

#1535 fix: correct typo in docs release main docs CI pipeline [skip ci]
  .github/workflows/deploy-main-docs.yml
Labels: github_actions

#1534 chore: plug GRANDPA proveFinality RPC to standalone node
  .github/workflows/check-main-docs-build.yml
  .github/workflows/deploy-main-docs.yml
  .github/workflows/test-cargo-release.yml
  .github/workflows/test-circuit.yml
  Cargo.lock
  Cargo.toml
  node/standalone/Cargo.toml
  node/standalone/src/rpc.rs
  node/standalone/src/service.rs
Labels: dependencies :deciduous_tree:, rust, github_actions

#1540 feat: bump sepolia & ethereum light client versions; fix benchmarks
  Cargo.lock
  Cargo.toml
  pallets/circuit/vacuum/src/benchmarking.rs
  pallets/portal/src/tests.rs
  runtime/mini-mock/src/lib.rs
  runtime/mini-mock/src/treasuries_config.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/treasuries_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/treasuries_config.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/treasuries_config.rs
  runtime/t1rn-parachain/src/circuit_config.rs
  runtime/t1rn-parachain/src/treasuries_config.rs
  runtime/t2rn-parachain/src/circuit_config.rs
  runtime/t2rn-parachain/src/treasuries_config.rs
  runtime/t3rn-parachain/src/parachain_config.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, test, circuit

#1542 build: bump sepolia & eth2 light client pallets
  Cargo.lock
  Cargo.toml
Labels: dependencies :deciduous_tree:, rust

#1543 feat: update Celestia light client to v1.0.4
  Cargo.lock
  Cargo.toml
Labels: dependencies :deciduous_tree:, rust

#1550 feat: enable pre-funded Metamask accounts for t0rn & t2rn
  Cargo.lock
  Cargo.toml
  node/t0rn-parachain/src/chain_spec.rs
  node/t2rn-parachain/src/chain_spec.rs
  pallets/3vm/account-mapping/Cargo.toml
  pallets/3vm/account-mapping/src/lib.rs
  pallets/attesters/Cargo.toml
  pallets/circuit/vacuum/Cargo.toml
  pallets/contracts/primitives/Cargo.toml
  pallets/contracts/proc-macro/Cargo.toml
  pallets/rewards/Cargo.toml
  primitives/src/threevm.rs
  runtime/mini-mock/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/contracts_config.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t2rn-parachain/src/contracts_config.rs
  runtime/t2rn-parachain/src/lib.rs
Labels: runtime :hammer_and_wrench:, dependencies :deciduous_tree:, rust, circuit
