Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev

refactor: state persist
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

feat: request SFX attestations on Circuit Commit+Revert
  pallets/circuit/src/lib.rs
Owners: @MaciejBaj, @t3rn/dev

refactor: attesters implement DispatchError for WriteApi
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: connect Assets create,purge,lookup via Overlay to XDNS
  pallets/portal/src/lib.rs
  pallets/xdns/Cargo.toml
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/Cargo.toml
  primitives/src/light_client.rs
  primitives/src/portal.rs
  primitives/src/xdns.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
  types/src/sfx.rs
Owners: @t3rn/dev, @AwesomeIbex

refactor: link & unlink only registered tokens to gateways
  pallets/portal/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/xdns.rs
  runtime/mock/src/circuit_config.rs
Owners: @t3rn/dev

fix: cover with tests and fixup register+link tokens
  pallets/3vm/src/mock.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @AwesomeIbex, @t3rn/dev

test: fix 3vm, evm, contracts mocks with new XDNS trait
  pallets/3vm/src/mock.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  primitives/src/attesters.rs
  primitives/src/xdns.rs
Owners: @AwesomeIbex, @t3rn/dev

fix: compile mocks for 3vm + xdns, format files
  pallets/3vm/src/mock.rs
  pallets/circuit/src/lib.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  pallets/portal/src/lib.rs
  pallets/rewards/src/lib.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @AwesomeIbex, @t3rn/dev, @MaciejBaj

chore: add missing files after rebase
  runtime/standalone/Cargo.toml
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Owners: @t3rn/dev

style: format Cargo.toml files with taplo
  finality-verifiers/grandpa/Cargo.toml
  node/standalone/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/account-manager/Cargo.toml
  pallets/attesters/Cargo.toml
  pallets/circuit/Cargo.toml
  pallets/contracts-registry/Cargo.toml
  pallets/contracts/Cargo.toml
  pallets/evm/Cargo.toml
  pallets/executors/Cargo.toml
  pallets/portal/Cargo.toml
  pallets/portal/rpc/Cargo.toml
  pallets/rewards/Cargo.toml
  pallets/xdns/Cargo.toml
  primitives/Cargo.toml
  release.toml
  runtime/common-pallets/Cargo.toml
  runtime/mini-mock/Cargo.toml
  runtime/mock/Cargo.toml
  runtime/standalone/Cargo.toml
  test-utils/Cargo.toml
  tests/integration/tests/config.toml
  types/Cargo.toml
  types/abi/Cargo.toml
  zombienet.toml
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

fix: comment out Circuit asking Xdns::verify_active
  pallets/circuit/src/lib.rs
Owners: @MaciejBaj, @t3rn/dev

test: correct attester double SFX req exp. to DispatchError
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

fix: remove execution vendor match for token & fix portal tests
  pallets/portal/src/tests.rs
  pallets/xdns/src/lib.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

chore: still working
  client/packages/Makefile
  client/packages/cli-old/commands/bid.ts
  client/packages/cli-old/index.ts
  client/packages/cli-old/yarn.lock
  client/packages/executor-old/src/circuit/listener.ts
  client/packages/executor-old/src/executionManager/execution.ts
  client/packages/executor-old/src/executionManager/index.ts
  client/packages/executor-old/src/executionManager/sideEffect.ts
  client/packages/executor-old/src/gateways/substrate/relayer.ts
  client/packages/executor-old/src/index.ts
  client/packages/executor-old/yarn.lock
  client/packages/types/src/augment/augment-api-consts.ts
  client/packages/types/src/augment/augment-api-errors.ts
  client/packages/types/src/augment/augment-api-events.ts
  client/packages/types/src/augment/augment-api-query.ts
  client/packages/types/src/augment/augment-api-rpc.ts
  client/packages/types/src/augment/augment-api-tx.ts
  client/packages/types/src/augment/augment-api.ts
  client/packages/types/src/augment/augment-types.ts
  client/packages/types/src/augment/registry.ts
  client/packages/types/src/augment/types-lookup.ts
Owners: @t3rn/dev

chore: sdk v1.19
  client/packages/sdk/package.json
  client/packages/sdk/src/config/types.json
  client/packages/sdk/src/export/index.ts
  client/packages/sdk/yarn.lock
Owners: @t3rn/dev

chore: sdk v1.25
  client/packages/sdk/.nvmrc
  client/packages/sdk/src/circuit/index.ts
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/export/index.ts
  client/packages/sdk/yarn.lock
Owners: @t3rn/dev

chore: sdk latest
  client/packages/cli-old/yarn.lock
  client/packages/executor/yarn.lock
  client/packages/sdk/package.json
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/config/types.json
  client/packages/sdk/src/gateways/gateway.ts
  client/packages/sdk/src/gateways/index.ts
  client/packages/sdk/tsconfig.json
Owners: @t3rn/dev

feat: add env variable port config
  client/packages/executor/src/prometheus.ts
Owners: @t3rn/dev

fix: create new batches for each committee transition (#1044)
  pallets/attesters/src/lib.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

chore: types v1.19
  client/packages/types/metadata-t3rn.json
  client/packages/types/package.json
  client/packages/types/src/augment/augment-api-errors.ts
  client/packages/types/src/augment/augment-api-tx.ts
  client/packages/types/src/augment/lookup.ts
  client/packages/types/src/augment/registry.ts
  client/packages/types/src/augment/types-lookup.ts
  client/packages/types/yarn.lock
Owners: @t3rn/dev

build(release): release 1.31.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.31.1-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

test: test Circuit requesting SFX attestations
  pallets/attesters/src/lib.rs
  pallets/circuit/src/machine/test.rs
  runtime/mock/src/lib.rs
Owners: @t3rn/dev, @MaciejBaj

chore: sdk v1.20
  client/packages/executor-old/yarn.lock
  client/packages/types/package.json
  client/packages/types/yarn.lock
Owners: @t3rn/dev

chore: types development
  client/packages/cli-old/yarn.lock
  client/packages/executor-old/yarn.lock
  client/packages/types/package.json
Owners: @t3rn/dev

feat: wip contracts
  Cargo.lock
  client/contracts/compile.ts
  client/contracts/contract.sol
  client/contracts/deploy.ts
  client/contracts/transact.ts
  client/contracts/yarn.lock
Owners: @t3rn/dev

code size
  runtime/mock/src/contracts_config.rs
  runtime/standalone/src/contracts_config.rs
  runtime/t0rn-parachain/src/contracts_config.rs
Owners: @t3rn/dev

fix: cli sends correct transfer
  client/packages/cli-old/commands/onExtrinsicTrigger.ts
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/templates/transfer.ts
  client/packages/cli/src/utils/sfx.ts
  client/packages/cli/yarn.lock
Owners: @t3rn/dev

chore: remove old cli
  client/packages/cli-old/.gitignore
  client/packages/cli-old/README.md
  client/packages/cli-old/commands/bid.ts
  client/packages/cli-old/commands/onExtrinsicTrigger.ts
  client/packages/cli-old/commands/operational.ts
  client/packages/cli-old/commands/register/ethereum.ts
  client/packages/cli-old/commands/register/register.ts
  client/packages/cli-old/commands/register/substrate.ts
  client/packages/cli-old/commands/submit_header/submit_header.ts
  client/packages/cli-old/commands/submit_header/substrate.ts
  client/packages/cli-old/config/setup.ts
  client/packages/cli-old/config/transfer.ts
  client/packages/cli-old/converters/substrate.ts
  client/packages/cli-old/generateTest.ts
  client/packages/cli-old/index.ts
  client/packages/cli-old/package.json
  client/packages/cli-old/utils/parseArgs.ts
  client/packages/cli-old/utils/sideEffects.ts
  client/packages/cli-old/utils/substrate.ts
  client/packages/cli-old/yarn.lock
Owners: @t3rn/dev

fix: executor bids
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/yarn.lock
Owners: @t3rn/dev

chore: fixes and eslint
  client/packages/Makefile
  client/packages/cli/src/utils/sfx.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
Owners: @t3rn/dev

chore: remove unused config required for old cli
  client/packages/tsconfig.json
Owners: @t3rn/dev

chore: remove logging and comments
  client/packages/cli/src/utils/sfx.ts
  client/packages/types/tsup.config.js
Owners: @t3rn/dev

test: cover AttestersReadApiEmptyMock with tests
  primitives/src/attesters.rs
Owners: @t3rn/dev

feat: adds snorkle contract
  client/contracts/contract.sol
  client/snorkle/snorkle.sol
Owners: @t3rn/dev

test: cover fetch full gateway records XDNS getter
  pallets/xdns/src/tests.rs
Owners: @t3rn/dev

fix: executor bidding works (#1052)
  client/packages/Makefile
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/templates/transfer.ts
  client/packages/cli/src/utils/sfx.ts
  client/packages/cli/yarn.lock
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/yarn.lock
  client/packages/types/package.json
  client/packages/types/yarn.lock
Owners: @t3rn/dev

feat: react on CurrentPendingAttestationBatches event
  .envrc
  .gitignore
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

build(release): release 1.32.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev
