Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

refactor: check XDNS entry exists + permanent slash as Value
  Cargo.lock
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

test: working tests for attesterCommittee
  client/packages/attester/src/attester.ts
  client/packages/attester/src/logging.ts
  client/packages/attester/tests/committeeMembers.test.ts
Owners: @t3rn/dev

chore: current committee member msg is debug
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

chore: added attestionsPending metric
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
  client/packages/attester/tests/committeeMembers.test.ts
Owners: @t3rn/dev

fix: fmt should error out
  client/packages/attester/package.json
Owners: @t3rn/dev

fix: add custom encoding for Select Portal Option
  primitives/src/portal.rs
Owners: @t3rn/dev

fix: extend fill_abi over Triple,Quadruple, etc
  types/abi/src/recode.rs
Owners: @AwesomeIbex, @t3rn/dev

fix: iterate correctly through events
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

fix: deploy without tests
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

fix: fmt
  .github/workflows/attester.yml
  client/packages/attester/src/attester.ts
Owners: @3h4x, @t3rn/dev

fix: metric names
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

fix: unify naming of metrics
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

feat: allow only whitelisted targets
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

fmt: fix
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

fix: do not attest when not in committee
  client/packages/attester/.gitignore
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

feat: replace mutex with async queue
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

docs: add vercel docs
  .github/workflows/attester.yml
  .github/workflows/update-dev-docs.yml
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
Owners: @3h4x, @t3rn/dev

docs: generate some docs by exporting in index.ts
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/src/index.ts
  client/packages/attester/tsconfig.json
  client/packages/attester/typedoc.json
  docs/attester/.nojekyll
  docs/attester/assets/highlight.css
  docs/attester/assets/main.js
  docs/attester/assets/search.js
  docs/attester/assets/style.css
  docs/attester/docs/.nojekyll
  docs/attester/docs/assets/highlight.css
  docs/attester/docs/assets/main.js
  docs/attester/docs/assets/search.js
  docs/attester/docs/assets/style.css
  docs/attester/docs/index.html
  docs/attester/docs/modules.html
  docs/attester/index.html
  docs/attester/modules.html
Owners: @t3rn/dev

fix: purge queue when new event is received
  .github/workflows/attester.yml
  client/packages/attester/src/attester.ts
Owners: @3h4x, @t3rn/dev

fix: fmt
  client/packages/attester/src/index.ts
Owners: @t3rn/dev

fix: implement custom decode for PrecompileEnum
  primitives/src/portal.rs
Owners: @t3rn/dev

fix: remove all items in queue before adding pending attestation'
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

chore: deploy attesters only on development
  .github/workflows/attester.yml
  client/packages/attester/src/attester.ts
  client/packages/attester/tests/committeeMembers.test.ts
  client/packages/attester/typedoc.json
Owners: @3h4x, @t3rn/dev

fix: recognize jest
  client/packages/Makefile
  client/packages/attester/src/attester.ts
  client/packages/attester/tsconfig.json
Owners: @t3rn/dev

test: attestation queue
  client/packages/attester/src/attester.ts
  client/packages/attester/tests/attestationQueue.test.ts
  client/packages/attester/yarn.lock
Owners: @t3rn/dev

fix: fmt
  .github/workflows/attester.yml
  client/packages/attester/src/attester.ts
  client/packages/attester/tests/attestationQueue.test.ts
Owners: @3h4x, @t3rn/dev

fix: fmt
  client/packages/Makefile
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/tests/attestationQueue.test.ts
Owners: @t3rn/dev

chore: deploy on development
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

fix: makefile with pnpm
  client/packages/Makefile
Owners: @t3rn/dev

fix: add @types/node
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  docs/attester/docs/assets/search.js
  docs/attester/docs/index.html
  docs/attester/docs/modules.html
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

test: cover latency status Reads from Attesters
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
Owners: @t3rn/dev

feat(attester): submit attestation (#1037)
  .envrc
  .github/workflows/attester.yml
  .github/workflows/update-dev-docs.yml
  .gitignore
  client/packages/Makefile
  client/packages/attester/.envrc
  client/packages/attester/.envrc-example
  client/packages/attester/.gitignore
  client/packages/attester/README.md
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/helm/templates/deployment.yaml
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/logging.ts
  client/packages/attester/src/prometheus.ts
  client/packages/attester/src/utils.ts
  client/packages/attester/tests/attestationQueue.test.ts
  client/packages/attester/tests/committeeMembers.test.ts
  client/packages/attester/tsconfig.json
  client/packages/attester/yarn.lock
  docs/attester/.nojekyll
  docs/attester/assets/highlight.css
  docs/attester/assets/main.js
  docs/attester/assets/search.js
  docs/attester/assets/style.css
  docs/attester/docs/.nojekyll
  docs/attester/docs/assets/highlight.css
  docs/attester/docs/assets/main.js
  docs/attester/docs/assets/search.js
  docs/attester/docs/assets/style.css
  docs/attester/docs/index.html
  docs/attester/docs/modules.html
  docs/attester/index.html
  docs/attester/modules.html
Owners: @t3rn/dev, @3h4x

refactor: check XDNS entry exists before adding as attestation targets + permanent slash as StorageValue (#1064)
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

build(release): release 1.33.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.33.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

fix: do not convert Eth addresses back to H160 at verification
  pallets/attesters/contracts/test/AttestationsVerifier.js
  primitives/src/attesters.rs
Owners: @t3rn/dev

style: format files
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/circuit/src/lib.rs
  pallets/portal/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/attesters.rs
  primitives/src/portal.rs
Owners: @t3rn/dev, @MaciejBaj

refactor: extend PortalVerify to Quadruple in primitives
  primitives/src/lib.rs
  primitives/src/light_client.rs
  primitives/src/portal.rs
Owners: @t3rn/dev

refactor: extend PortalVerify to Quadruple in GrandpaFV
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
Owners: @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
