Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev

feat: request executors repatriations from rewards after limit
  pallets/attesters/src/lib.rs
  pallets/rewards/src/lib.rs
  primitives/src/rewards.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

feat: batch attestations per target for committee transitions, penalties and SFX (#980)
  Cargo.lock
  pallets/attesters/Cargo.toml
  pallets/attesters/README.md
  pallets/attesters/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/attesters.rs
  primitives/src/rewards.rs
  primitives/src/xdns.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

build(release): release 1.27.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.27.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

ci(runtime-upgrade): update npx with npm exec
  scripts/upgrade-runtime-set-code.sh
Owners: @chiefbiiko, @3h4x, @t3rn/dev

chore: remove unused scripts
  scripts/enact-runtime-upgrade.sh
  scripts/get-rococo-artifacts.sh
  scripts/upgrade-runtime-unsafe.sh
  scripts/upgrade-runtime.sh
Owners: @chiefbiiko, @3h4x, @t3rn/dev

chore: remove cli ranger
  .github/workflows/runtime-upgrade-t0rn.yml
Owners: @3h4x, @t3rn/dev

docs: add comment on cli ranger helm
  client/packages/cli/helm/values-t0rn.yaml
Owners: @t3rn/dev

feat: remove empty range check from grandpa FV
  finality-verifiers/grandpa/src/lib.rs
Owners: @t3rn/dev

chore: remove unused config field
  client/packages/grandpa-ranger/config/roco.ts
Owners: @t3rn/dev

feat: impl empty range edge case fix
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/config/roco.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/yarn.lock
Owners: @t3rn/dev

chore: remove file
  client/packages/cli/index.ts
Owners: @t3rn/dev

refactor: vendor structure
  client/packages/cli/src/commands/register/__test__/gateway.test.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/src/commands/register/vendors/substrate.ts
  client/packages/cli/src/utils/fns.ts
Owners: @t3rn/dev

refactor: update Args type
  client/packages/cli/src/utils/fns.ts
Owners: @t3rn/dev

refactor: greet function
  client/packages/cli/src/commands/init.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/cli/src/utils/fns.ts
Owners: @t3rn/dev

refactor: update message
  client/packages/cli/src/utils/fns.ts
Owners: @t3rn/dev

fix: grandpa range edge case (#1001)
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/config/roco.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/yarn.lock
  finality-verifiers/grandpa/src/lib.rs
Owners: @t3rn/dev

build(release): release 1.27.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.27.1-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

ci: limit dependabot PRs for cli to 1
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

ci(dependabot): add cli for automated version update (#994)
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

ci(ranger): cli ranger removal (#1000)
  .github/workflows/runtime-upgrade-t0rn.yml
  client/packages/cli/helm/values-t0rn.yaml
Owners: @3h4x, @t3rn/dev

build(release): release 1.27.2-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

chore: remove unused scripts (#999)
  scripts/enact-runtime-upgrade.sh
  scripts/get-rococo-artifacts.sh
  scripts/upgrade-runtime-unsafe.sh
  scripts/upgrade-runtime.sh
Owners: @chiefbiiko, @3h4x, @t3rn/dev

ci(runtime-upgrade): update npx with npm exec (#998)
  scripts/upgrade-runtime-set-code.sh
Owners: @chiefbiiko, @3h4x, @t3rn/dev

ci(dependabot): fix fetching dependencies from pirvate repos
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

ci(dependabot): fix fetching dependencies from pirvate repos (#1007)
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

build: grandpa-ranger monitoring
  .github/workflows/grandpa-ranger.yml
  client/packages/grandpa-ranger/helm/templates/servicemonitor.yaml
  client/packages/grandpa-ranger/helm/templates/svc.yaml
Owners: @3h4x, @t3rn/dev

ci(grandpa-ranger): deployment (#984)
  .github/workflows/grandpa-ranger.yml
  client/grandpa-ranger.Dockerfile
  client/grandpa-ranger/README.md
  client/grandpa-ranger/config.json
  client/grandpa-ranger/package-lock.json
  client/grandpa-ranger/package.json
  client/grandpa-ranger/src/index.ts
  client/grandpa-ranger/src/listeners/headers.ts
  client/grandpa-ranger/src/listeners/parachain.ts
  client/grandpa-ranger/src/listeners/relaychain.ts
  client/grandpa-ranger/src/relayer.ts
  client/grandpa-ranger/src/types.json
  client/grandpa-ranger/src/util.ts
  client/grandpa-ranger/tsconfig.json
  client/grandpa-ranger/yarn.lock
  client/packages/grandpa-ranger/.eslintrc.cjs
  client/packages/grandpa-ranger/.nvmrc
  client/packages/grandpa-ranger/config/t0rn.ts
  client/packages/grandpa-ranger/helm/.helmignore
  client/packages/grandpa-ranger/helm/Chart.yaml
  client/packages/grandpa-ranger/helm/templates/_helpers.tpl
  client/packages/grandpa-ranger/helm/templates/deployment.yaml
  client/packages/grandpa-ranger/helm/templates/serviceaccount.yaml
  client/packages/grandpa-ranger/helm/templates/servicemonitor.yaml
  client/packages/grandpa-ranger/helm/templates/svc.yaml
  client/packages/grandpa-ranger/helm/values.yaml
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/yarn.lock
Owners: @3h4x, @t3rn/dev

ci(grandpa-ranger): use correct profile in helm
  client/packages/grandpa-ranger/config/t0rn.ts
  client/packages/grandpa-ranger/helm/values.yaml
Owners: @t3rn/dev

ci(grandpa-ranger): use correct profile in helm (#1009)
  client/packages/grandpa-ranger/config/t0rn.ts
  client/packages/grandpa-ranger/helm/values.yaml
Owners: @t3rn/dev

refactor: extend AttesterInfo with eth and substrate address
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
  pallets/circuit/src/square_up/mod.rs
  primitives/Cargo.toml
  primitives/src/attesters.rs
Owners: @t3rn/dev, @MaciejBaj

build: port address extension to attester against development
  Cargo.lock
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
  primitives/Cargo.toml
Owners: @t3rn/dev

fix: use sp_std::str::from_utf8 to derive substrate address format
  primitives/Cargo.toml
  primitives/src/attesters.rs
Owners: @t3rn/dev

chore: remove address checks for substrate attestations
  primitives/Cargo.toml
  primitives/src/attesters.rs
Owners: @t3rn/dev

fix: rpc endpoint changed
  pallets/contracts-registry/rpc/src/lib.rs
Owners: @t3rn/dev

evm
  Cargo.lock
  Cargo.toml
  node/standalone/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  pallets/evm/Cargo.toml
  pallets/evm/primitives/Cargo.toml
  pallets/evm/primitives/src/lib.rs
  pallets/evm/primitives/src/precompile.rs
  pallets/evm/rpc/Cargo.toml
  pallets/evm/rpc/runtime-api/Cargo.toml
  pallets/evm/rpc/runtime-api/src/lib.rs
  pallets/evm/rpc/src/lib.rs
  pallets/evm/src/address.rs
  pallets/evm/src/lib.rs
  pallets/evm/src/runner/stack.rs
  runtime/common-pallets/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t3rn-parachain/Cargo.toml
Owners: @t3rn/dev, @AwesomeIbex

use new sendxcm
  Cargo.lock
  primitives/src/lib.rs
Owners: @t3rn/dev

fix std
  Cargo.lock
  Cargo.toml
  node/standalone/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/3vm/Cargo.toml
  pallets/account-manager/Cargo.toml
  pallets/circuit/Cargo.toml
  pallets/clock/Cargo.toml
  pallets/contracts-registry/Cargo.toml
  pallets/contracts/Cargo.toml
  pallets/contracts/primitives/Cargo.toml
  pallets/executors/Cargo.toml
  pallets/xdns/Cargo.toml
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj
