Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

chore: added events total metric
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

chore: add attestions metric
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

chore: deploy attesters only on development/
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

fix: remove one key to have exactly 32 attesters
  client/packages/attester/helm/values.yaml
  pallets/attesters/offchain/Dockerfile
  pallets/attesters/offchain/keys.json
Owners: @t3rn/dev

update contracts config
  Cargo.lock
  runtime/t0rn-parachain/src/contracts_config.rs
  runtime/t0rn-parachain/src/xbi_config.rs
Owners: @t3rn/dev

feat: update batch verifier contracts to be more gas-efficient
  pallets/attesters/contracts/contracts/attestationsVerifier.sol
  pallets/attesters/contracts/test/AttestationsVerifier.js
Owners: @t3rn/dev

refactor: better private key detection
  client/packages/executor/config.json
  client/packages/executor/package.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/yarn.lock
Owners: @t3rn/dev

feat: executor state persistence
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
  client/packages/executor/tests/executionManager.test.ts
Owners: @t3rn/dev

refactor: config presetup
  client/packages/executor/README.md
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

feat: xtx json serialization
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/yarn.lock
Owners: @t3rn/dev

feat: custom named executor config file
  client/packages/executor/README.md
  client/packages/executor/package.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

chore: config reloading
  client/packages/executor/README.md
  client/packages/executor/config.json
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

feat: persist state when crash
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/tests/instance.test.ts
Owners: @t3rn/dev

refactor: sdk gtwy carries full xdns
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
  client/packages/sdk/src/gateways/gateway.ts
Owners: @t3rn/dev

test: sfx json serialization
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/pricing.test.ts
  client/packages/executor/tests/strategy.test.ts
Owners: @t3rn/dev

feat: init executor shutdown on ctrl+k
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/utils/index.ts
Owners: @t3rn/dev

feat: squash everything
  client/packages/Makefile
  client/packages/executor/.gitignore
  client/packages/executor/package.json
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/src/gateways/index.ts
Owners: @t3rn/dev

chore: fix yarn ci
  .github/workflows/executor.yml
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
Owners: @3h4x, @t3rn/dev

chore: add lint to executor
  client/packages/executor/package.json
Owners: @t3rn/dev

chore: eslint for executioner is not priority
  .github/workflows/executor.yml
Owners: @3h4x, @t3rn/dev

chore: fix tests with any
  client/packages/executor/src/circuit/relayer.ts
Owners: @t3rn/dev

feat: pnpm executor + eslint everything
  .github/workflows/executor.yml
  client/packages/executor/babel.config.js
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/prettier.rc
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/estimator/cost.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/gateways/types.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/pricing/index.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/tests/pricing.test.ts
  client/packages/executor/tests/strategy.test.ts
Owners: @3h4x, @t3rn/dev

chore: add prettier
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
Owners: @t3rn/dev

test: fix config.json to have default values
  client/packages/executor/config.json
Owners: @t3rn/dev

fix: add node-gyp-build
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
Owners: @t3rn/dev

test: should timeout after 5m
  .github/workflows/executor.yml
Owners: @3h4x, @t3rn/dev

feat: request SFX attestations on Circuit Commit+Revert
  pallets/circuit/src/lib.rs
Owners: @MaciejBaj, @t3rn/dev

refactor: attesters implement DispatchError for WriteApi
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: connect Assets create,purge,lookup via Overlay to XDNS
  Cargo.lock
  pallets/portal/src/lib.rs
  pallets/xdns/Cargo.toml
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/Cargo.toml
  primitives/src/light_client.rs
  primitives/src/portal.rs
  primitives/src/xdns.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
  types/src/sfx.rs
Owners: @t3rn/dev, @AwesomeIbex

build: hook new XDNS config to Standalone
  Cargo.lock
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Owners: @t3rn/dev

chore: comment out serialization tests
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
Owners: @t3rn/dev

feat: update executor (#1026)
  .github/workflows/executor.yml
  client/packages/Makefile
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
  client/packages/executor/.gitignore
  client/packages/executor/README.md
  client/packages/executor/babel.config.js
  client/packages/executor/config.json
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/prettier.rc
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/estimator/cost.ts
  client/packages/executor/src/gateways/types.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/main.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/pricing/index.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/instance.test.ts
  client/packages/executor/tests/pricing.test.ts
  client/packages/executor/tests/strategy.test.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/src/gateways/gateway.ts
  client/packages/sdk/src/gateways/index.ts
Owners: @3h4x, @t3rn/dev

fix: config should be in homedir
  .github/workflows/executor.yml
  client/executor.Dockerfile
  client/packages/executor/config.json
Owners: @3h4x, @t3rn/dev

fix: add pnpm to Dockerfile
  client/executor.Dockerfile
Owners: @t3rn/dev

build(release): release 1.30.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

fix: tests
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.30.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

test: fix 3vm, evm, contracts mocks with new XDNS trait
  pallets/3vm/src/mock.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  primitives/src/attesters.rs
  primitives/src/xdns.rs
Owners: @AwesomeIbex, @t3rn/dev

refactor: link & unlink only registered tokens to gateways
  pallets/portal/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/xdns.rs
  runtime/mock/src/circuit_config.rs
Owners: @t3rn/dev

fix: cover with tests and fixup register+link tokens
  pallets/3vm/src/mock.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @AwesomeIbex, @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
