Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

feat: impl eth2 pallet (#961)
  Cargo.lock
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  finality-verifiers/grandpa/src/mock.rs
  pallets/3vm/src/precompile.rs
  pallets/circuit/src/lib.rs
  pallets/portal/Cargo.toml
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  pallets/xdns/src/tests.rs
  primitives/src/light_client.rs
  primitives/src/portal.rs
  runtime/common-pallets/Cargo.toml
  runtime/common-pallets/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/standalone/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

build: add automatic summary to PRs [skip release] (#979)
  .github/workflows/auto-summary.yml
Owners: @3h4x, @t3rn/dev

build: add automatic summary to PRs [skip release] (#979)
  .github/workflows/auto-summary.yml
Owners: @3h4x, @t3rn/dev

build: add automatic summary to PRs [skip release] (#979)
  .github/workflows/auto-summary.yml
Owners: @3h4x, @t3rn/dev

build(release): release 1.23.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.23.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

refactor: add Elastic Gateway Settings with Source based on ABI
  primitives/src/xdns.rs
  types/abi/src/recode_scale.rs
Owners: @t3rn/dev, @AwesomeIbex

bump
  Cargo.lock
  Cargo.toml
  node/standalone/Cargo.toml
  node/t0rn-parachain/Cargo.toml
  pallets/contracts/rpc/Cargo.toml
  pallets/contracts/rpc/README.md
  pallets/contracts/rpc/runtime-api/Cargo.toml
  pallets/contracts/rpc/runtime-api/README.md
  pallets/contracts/rpc/runtime-api/src/lib.rs
  pallets/contracts/rpc/src/lib.rs
  runtime/common-pallets/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
  runtime/t3rn-parachain/Cargo.toml
  runtime/t3rn-parachain/src/xcm_config.rs
Owners: @t3rn/dev, @AwesomeIbex

mainnet builds
  Cargo.lock
  Cargo.toml
  pallets/xdns/src/weights.rs
  runtime/t3rn-parachain/src/lib.rs
  runtime/t3rn-parachain/src/parachain_config.rs
  runtime/t3rn-parachain/src/xcm_config.rs
Owners: @t3rn/dev

feat: add more action types
  client/packages/cli/src/schemas/sfx.ts
Owners: @t3rn/dev

xcm and versions
  Cargo.lock
  Cargo.toml
  finality-verifiers/grandpa/Cargo.toml
  pallets/contracts-registry/rpc/Cargo.toml
  pallets/portal/rpc/Cargo.toml
  rpc-test/Cargo.toml
  runtime/t3rn-parachain/src/lib.rs
  runtime/t3rn-parachain/src/parachain_config.rs
  runtime/t3rn-parachain/src/xcm_config.rs
Owners: @t3rn/dev

fix updates to proofs
  finality-verifiers/grandpa/src/bridges/runtime/storage_proof.rs
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/weights.rs
  pallets/evm/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex

refactor: move Circuit structs to primitives & implement ReadSFX
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/extra.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/machine/test_extra_stress.rs
  pallets/circuit/src/square_up/mod.rs
  pallets/circuit/src/square_up/test.rs
  pallets/circuit/src/state/mod.rs
  primitives/src/circuit/mod.rs
  primitives/src/circuit/traits.rs
  primitives/src/circuit/types.rs
  primitives/src/threevm.rs
Owners: @MaciejBaj, @t3rn/dev

chore: add sp_std prelude to circuit types primitives
  primitives/src/circuit/types.rs
Owners: @t3rn/dev

build: grandpa-ranger cicd workflow
  .github/workflows/grandpa-ranger.yml
  client/grandpa-ranger.Dockerfile
  client/grandpa-ranger/.eslintrc.cjs
  client/grandpa-ranger/.nvmrc
  client/grandpa-ranger/config.json
  client/grandpa-ranger/package-lock.json
  client/grandpa-ranger/package.json
  client/grandpa-ranger/src/relayer.ts
  client/grandpa-ranger/src/util.ts
  client/grandpa-ranger/tsconfig.json
  client/grandpa-ranger/yarn.lock
Owners: @3h4x, @t3rn/dev

build: skip tests
  .github/workflows/grandpa-ranger.yml
Owners: @3h4x, @t3rn/dev

build: fix helm syntax
  .github/workflows/grandpa-ranger.yml
Owners: @3h4x, @t3rn/dev

build: add helm
  client/grandpa-ranger/helm/.helmignore
  client/grandpa-ranger/helm/Chart.yaml
  client/grandpa-ranger/helm/templates/_helpers.tpl
  client/grandpa-ranger/helm/templates/deployment.yaml
  client/grandpa-ranger/helm/templates/serviceaccount.yaml
  client/grandpa-ranger/helm/values.yaml
Owners: @t3rn/dev

chore: update circuit types with speed mode
  pallets/circuit/src/lib.rs
  primitives/src/circuit/types.rs
Owners: @MaciejBaj, @t3rn/dev

build: remove old grandpa-ranger
  .github/workflows/grandpa-ranger.yml
  client/grandpa-ranger/README.md
  client/grandpa-ranger/config.json
  client/grandpa-ranger/package-lock.json
  client/grandpa-ranger/package.json
  client/grandpa-ranger/src/index.ts
  client/grandpa-ranger/src/listeners/headers.ts
  client/grandpa-ranger/src/listeners/parachain.ts
  client/grandpa-ranger/src/listeners/relaychain.ts
  client/grandpa-ranger/src/relayer.ts
  client/grandpa-ranger/src/types.json
  client/grandpa-ranger/src/util.ts
  client/grandpa-ranger/tsconfig.json
  client/grandpa-ranger/yarn.lock
  client/packages/grandpa-ranger/.eslintrc.cjs
  client/packages/grandpa-ranger/.nvmrc
  client/packages/grandpa-ranger/config/t0rn.ts
  client/packages/grandpa-ranger/helm/.helmignore
  client/packages/grandpa-ranger/helm/Chart.yaml
  client/packages/grandpa-ranger/helm/templates/_helpers.tpl
  client/packages/grandpa-ranger/helm/templates/deployment.yaml
  client/packages/grandpa-ranger/helm/templates/serviceaccount.yaml
  client/packages/grandpa-ranger/helm/values.yaml
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/yarn.lock
Owners: @3h4x, @t3rn/dev

build: fix dockerfile
  client/grandpa-ranger.Dockerfile
Owners: @t3rn/dev

build: grandpa ranger docker fix
  .github/workflows/grandpa-ranger.yml
  client/grandpa-ranger.Dockerfile
Owners: @3h4x, @t3rn/dev

build: grandpa ranger docker fix
  client/grandpa-ranger.Dockerfile
Owners: @t3rn/dev

build(grandpa-ranger): add tsnode to dockerfile
  client/grandpa-ranger.Dockerfile
Owners: @t3rn/dev

build(grandpa-ranger): add duplicated rpc to config file
  client/packages/grandpa-ranger/config/t0rn.ts
Owners: @t3rn/dev

build: changes need to be tested against cli as well
  .github/workflows/cli.yml
  .github/workflows/executor.yml
Owners: @3h4x, @t3rn/dev

refactor: sfx actions (#981)
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/sfx.ts
Owners: @t3rn/dev

ci(gha): wait for release to finish
  .github/workflows/release-lock.yml
Owners: @3h4x, @t3rn/dev

build(release): release 1.24.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.24.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

build: deploy grandpa-ranger only on development
  .github/workflows/grandpa-ranger.yml
Owners: @3h4x, @t3rn/dev

build: add servicemonitor
  client/packages/grandpa-ranger/helm/templates/servicemonitor.yaml
  client/packages/grandpa-ranger/helm/templates/svc.yaml
Owners: @t3rn/dev

feat: add rewards for block authors
  pallets/rewards/src/lib.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

test: rotate round robin 32 mocked block authors
  pallets/rewards/src/lib.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

feat: add FindAuthor to rewar traits for t0rn, mock
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

test: cover entire rewards round distributution to block authors
  node/t0rn-parachain/src/rpc.rs
  pallets/rewards/src/lib.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

build: update Cargo.lock
  node/t0rn-parachain/src/rpc.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

build: change tg message for runtime upgrade
  .github/workflows/runtime-upgrade-t0rn.yml
Owners: @3h4x, @t3rn/dev

ci(gha): wait for release to finish before merge (#986)
  .github/workflows/release-lock.yml
  .github/workflows/runtime-upgrade-t0rn.yml
Owners: @3h4x, @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
