Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev

build(release): release 1.24.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

chore: add Xdns::retreive_treasury_address entry + file format
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/3vm/src/precompile.rs
  pallets/portal/src/tests.rs
  pallets/xdns/rpc/runtime-api/src/lib.rs
  primitives/src/light_client.rs
  runtime/mock/src/lib.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex

test: cover ReadSFX API with happy and unhappy paths
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test.rs
  primitives/src/circuit/traits.rs
  primitives/src/circuit/types.rs
  primitives/src/light_client.rs
Owners: @MaciejBaj, @t3rn/dev

chore: remove unused flags from Machine apply
  pallets/circuit/src/machine/mod.rs
Owners: @MaciejBaj, @t3rn/dev

style: format project files
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/3vm/src/precompile.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test.rs
  pallets/portal/src/tests.rs
  runtime/mock/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

build: cargo clippy should always run on development branch
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

chore: improve process_author when MAX reached with min_by sort
  pallets/rewards/src/lib.rs
Owners: @t3rn/dev

build: remove lgtm from auto review
  .github/workflows/auto-summary.yml
Owners: @3h4x, @t3rn/dev

build: using paths in trigger ease out on if conditions
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/subalfred.yml
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

build: better comment on paths
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/subalfred.yml
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

build: dont trigger on workflow changes on development
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

feat: distribute inflation rewards to block authors (#966)
  Cargo.lock
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/3vm/src/precompile.rs
  pallets/portal/src/tests.rs
  pallets/rewards/src/lib.rs
  pallets/xdns/rpc/runtime-api/src/lib.rs
  primitives/src/light_client.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex

ci(clippy): cargo clippy should always run on base branch [skip release] (#988)
  .github/workflows/auto-summary.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/subalfred.yml
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

ci(clippy): cargo clippy should always run on base branch [skip release] (#988)
  .github/workflows/auto-summary.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/subalfred.yml
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

ci(clippy): cargo clippy should always run on base branch [skip release] (#988)
  .github/workflows/auto-summary.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/subalfred.yml
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

build(release): release 1.25.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.25.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

fix: add correct filter
  runtime/t0rn-parachain/src/system_config.rs
Owners: @t3rn/dev

chore: update cargo toml
  runtime/t0rn-parachain/Cargo.toml
Owners: @t3rn/dev

feat: add get_fsx to ReadSFX API
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test.rs
  primitives/src/circuit/traits.rs
Owners: @MaciejBaj, @t3rn/dev

refactor: sfx actions (#981)
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/sfx.ts
Owners: @t3rn/dev

build(release): release 1.24.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.24.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

build(release): release 1.24.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.25.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

build(release): release 1.25.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

ci(gha): wait for release to finish before merge (#986)
  .github/workflows/release-lock.yml
  .github/workflows/runtime-upgrade-t0rn.yml
Owners: @3h4x, @t3rn/dev

feat: distribute inflation rewards to block authors (#966)
  Cargo.lock
  pallets/rewards/src/lib.rs
  pallets/xdns/rpc/runtime-api/src/lib.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

ci(clippy): cargo clippy should always run on base branch [skip release] (#988)
  .github/workflows/auto-summary.yml
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/subalfred.yml
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

feat: replace attestations with batching
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

test: cover return unnominations after attester deregister
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: implement next batch and batch messages with status for all actions
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

feat: implement + test attesters deregistration
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

refactor: store last state with attestations submitted per unique SFX
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: add attesters indexes and keccak hash of batches
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

build: add Portal and XDNS to attesters runtime config
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

feat: apply permanent slash to colluding set at confirmation
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/xdns.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

feat: add attesters indexes and keccak hash of batches
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

refactor: store last state with attestations submitted per unique SFX
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev
