Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

fix: sort top nominated attesters DSC and keep their stake
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

fix: return last batch for new attestations
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

build: configure pallet-attesters for standalone
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/lib.rs
Owners: @t3rn/dev

feat: check if current committee when submitting signature
  pallets/attesters/src/lib.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

build: configure pallet-attesters for t0rn parachain
  runtime/mini-mock/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

test: change attesters config to config attesters
  pallets/attesters/src/lib.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

feat: add committee shuffling to attesters
  pallets/attesters/src/lib.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

feat: update claimable with role to claim as argument
  Cargo.lock
  pallets/rewards/src/lib.rs
Owners: @t3rn/dev

build: configure pallet-attesters for mock and common
  runtime/common-pallets/Cargo.toml
  runtime/common-pallets/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
Owners: @t3rn/dev

feat: rework inflation to work with Perbill and Percent
  primitives/src/attesters.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

feat: implement scaffold for pallet rewards + inflation
  Cargo.toml
  pallets/account-manager/src/manager.rs
  pallets/rewards/Cargo.toml
  pallets/rewards/src/lib.rs
  primitives/src/account_manager.rs
Owners: @t3rn/dev, @AwesomeIbex

build: add attesters to chainspecs for standalone and t0rn
  Cargo.lock
  node/standalone/src/chain_spec.rs
  node/t0rn-parachain/src/chain_spec.rs
Owners: @t3rn/dev

feat: infallible inflation distribution to attesters and executors
  pallets/rewards/Cargo.toml
  pallets/rewards/src/lib.rs
Owners: @t3rn/dev

test: distributes all available executor rewards proportionally
  pallets/rewards/src/lib.rs
Owners: @t3rn/dev

chore: expose round duration from Clock
  pallets/clock/src/lib.rs
Owners: @t3rn/dev

test: extend mock runtime with rewards, account manager, clock
  Cargo.lock
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

feat: re-organize attesters primitives and impl Attester trait
  primitives/src/attesters.rs
  primitives/src/clock.rs
  primitives/src/lib.rs
Owners: @t3rn/dev

feat: add attesters unnomination, slashing, expose rewards interface
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

chore: change trigger_distribution access to root
  Cargo.lock
  pallets/account-manager/src/manager.rs
  pallets/circuit/src/lib.rs
  pallets/rewards/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

build: plug rewards to t0rn, standalone, mock runtimes
  Cargo.lock
  node/standalone/src/chain_spec.rs
  node/t0rn-parachain/src/chain_spec.rs
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/common-pallets/Cargo.toml
  runtime/common-pallets/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

chore: format project files
  pallets/circuit/src/lib.rs
  runtime/standalone/src/circuit_config.rs
Owners: @MaciejBaj, @t3rn/dev

feat: min attester bond; test attestation with rewards
  pallets/attesters/src/lib.rs
  pallets/rewards/src/lib.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

chore: update comments with OneYear calc, use TargetId
  Cargo.lock
  pallets/attesters/src/lib.rs
  pallets/rewards/src/lib.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

build: merge with latest development without xdns known records
  Cargo.lock
  pallets/account-manager/src/manager.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex

build(release): release 1.21.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.21.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

feat: implement export extrinsic data to file
  client/packages/cli/.gitignore
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/bid.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/register.ts
  client/packages/cli/src/commands/submit/headers.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/commands/submit/submit.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/yarn.lock
  client/packages/sdk/src/circuit/index.ts
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/export/index.ts
  client/packages/sdk/yarn.lock
Owners: @t3rn/dev

fix: cli test
  client/packages/cli/src/commands/submit/sfx.ts
Owners: @t3rn/dev

feat: add support for enforce executioner field
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/sfx.ts
Owners: @t3rn/dev

feat: add escrow, fee, parachain, slash treasuries to all runtimes
  Cargo.lock
  finality-verifiers/grandpa/src/lib.rs
  node/standalone/src/chain_spec.rs
  node/standalone/src/rpc.rs
  node/t0rn-parachain/src/chain_spec.rs
  pallets/account-manager/src/manager.rs
  pallets/circuit/src/tests.rs
  pallets/contracts/src/storage.rs
  pallets/xdns/src/lib.rs
  primitives/src/lib.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
  runtime/mini-mock/src/treasuries_config.rs
  runtime/mock/Cargo.toml
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/mock/src/system_no_version_config.rs
  runtime/mock/src/treasuries_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/lib.rs
  runtime/standalone/src/system_config.rs
  runtime/standalone/src/treasuries_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t0rn-parachain/src/parachain_config.rs
  runtime/t0rn-parachain/src/system_config.rs
  runtime/t0rn-parachain/src/treasuries_config.rs
  test-utils/src/tests.rs
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

feat: set inflation beneficiary to ParachainTreasury
  pallets/rewards/src/lib.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

build: add pallet-attesters with benchmarks to t0rn
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

feat: add attesters indexes and keccak hash of batches
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: implement next batch and batch messages with status for all actions
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

refactor: store last state with attestations submitted per unique SFX
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: replace attestations with batching
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

build: merge with latest feat/rewards
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
