Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

fix: compile mocks for 3vm + xdns, format files
  Cargo.lock
  pallets/3vm/src/mock.rs
  pallets/circuit/src/lib.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  pallets/portal/src/lib.rs
  pallets/rewards/src/lib.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

fix: add required deps
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
Owners: @t3rn/dev

fix: comment out breaking code
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

chore: deploy only on development
  .github/workflows/executor.yml
Owners: @3h4x, @t3rn/dev

chore: no pretty logs during start
  client/packages/executor/package.json
Owners: @t3rn/dev

fix(executor): config in Docker and libraries update (#1028)
  client/executor.Dockerfile
  client/packages/executor/config.json
  client/packages/executor/package.json
  client/packages/executor/pnpm-lock.yaml
  client/packages/executor/src/index.ts
  client/packages/executor/tests/__snapshots__/instance.test.ts.snap
Owners: @t3rn/dev

fix: pnpm i
  client/packages/executor/pnpm-lock.yaml
Owners: @t3rn/dev

chore: test build time with incremental build enabled
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

fix: info logs for events are spamming
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

chore: deploy attester
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

temp
  Cargo.lock
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/sdk/src/config/types.json
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
Owners: @t3rn/dev

fix: deploy only on development
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

fix(attester): info logs for events are spamming (#1030)
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

fix: client apps should deploy in order
  .github/workflows/attester.yml
  .github/workflows/executor.yml
  .github/workflows/grandpa-ranger.yml
Owners: @3h4x, @t3rn/dev

fix: deploy only on development
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

chore: deploy attester
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

fix: pnpm update
  client/packages/executor/pnpm-lock.yaml
Owners: @t3rn/dev

fix: remove unused console.log
  client/packages/sdk/src/gateways/index.ts
Owners: @t3rn/dev

refactor: update Args type
  client/packages/cli/src/utils/fns.ts
Owners: @t3rn/dev

refactor: vendor structure
  client/packages/cli/src/commands/register/__test__/gateway.test.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/src/commands/register/vendors/substrate.ts
  client/packages/cli/src/utils/fns.ts
Owners: @t3rn/dev

refactor: greet function
  client/packages/cli/src/commands/init.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/cli/src/utils/fns.ts
Owners: @t3rn/dev

refactor: update message
  client/packages/cli/src/utils/fns.ts
Owners: @t3rn/dev

feat: eth2 register gateway (work in progress)
  client/packages/cli/package.json
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/yarn.lock
  client/packages/package.json
  client/packages/yarn.lock
Owners: @t3rn/dev

feat: update CLI to use ESM as build output
  client/packages/cli/.nvmrc
  client/packages/cli/package.json
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/tsup.config.cjs
  client/packages/cli/yarn.lock
  client/packages/package.json
  client/packages/yarn.lock
  yarn.lock
Owners: @t3rn/dev

feat: work in progress
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/tsup.config.cjs
Owners: @t3rn/dev

chore: upgrade SDK to use tsup --dts
  client/packages/sdk/package.json
  client/packages/sdk/tsconfig.json
Owners: @t3rn/dev

feat: update @t3rn/types to use tsup --dts
  client/packages/types/package.json
Owners: @t3rn/dev

fix: lock
  client/packages/cli/yarn.lock
Owners: @t3rn/dev

feat: eth2 registration working
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/sdk/src/config/types.json
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
Owners: @t3rn/dev

feat: fetch next_committee from lodestar
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/vendors/eth.ts
Owners: @t3rn/dev

chore: cleanup
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/vendors/eth.ts
Owners: @t3rn/dev

chore: update runtime configs
  Cargo.lock
  runtime/mock/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

chore: resolve pr comments
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/src/consts.ts
Owners: @t3rn/dev

fix: cli Dockerfile with python to satisfy gyp
  client/cli.Dockerfile
Owners: @t3rn/dev

refactor: remove unused packages
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
Owners: @t3rn/dev

refactor: eth2 registration
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/src/consts.ts
Owners: @t3rn/dev

refactor: rearrange imports
  client/packages/cli/src/commands/register/vendors/eth.ts
Owners: @t3rn/dev

fix: ts-node required for generating types
  client/packages/types/package.json
Owners: @t3rn/dev

refactor: revert node version downgrade
  client/packages/cli/.nvmrc
Owners: @t3rn/dev

refactor: improve gateway reg error handling
  client/packages/cli/src/commands/register/gateway.ts
Owners: @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
