Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev

ci(e2e): tests should not run when label e2e is not added atm (#1021)
  .github/workflows/test-e2e.yml
Owners: @3h4x, @t3rn/dev

build(release): release 1.29.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

feat: added attester nodejs app
  client/packages/attester/.envrc
  client/packages/attester/.eslintrc.js
  client/packages/attester/.gitignore
  client/packages/attester/.nvmrc
  client/packages/attester/.prettierrc
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/helm/.helmignore
  client/packages/attester/helm/Chart.yaml
  client/packages/attester/helm/templates/_helpers.tpl
  client/packages/attester/helm/templates/deployment.yaml
  client/packages/attester/helm/templates/serviceaccount.yaml
  client/packages/attester/helm/templates/servicemonitor.yaml
  client/packages/attester/helm/templates/svc.yaml
  client/packages/attester/helm/values.yaml
  client/packages/attester/package-lock.json
  client/packages/attester/package.json
  client/packages/attester/src/connection.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/prometheus.ts
  client/packages/attester/tsconfig.json
  client/packages/attester/yarn.lock
Owners: @t3rn/dev

chore: renaming
  client/packages/attester/helm/templates/_helpers.tpl
  client/packages/attester/helm/templates/deployment.yaml
  client/packages/attester/helm/templates/serviceaccount.yaml
  client/packages/attester/helm/templates/servicemonitor.yaml
  client/packages/attester/helm/templates/svc.yaml
  client/packages/attester/helm/values.yaml
Owners: @t3rn/dev

fix: env variables must be single line b64enc
  client/packages/attester/helm/templates/deployment.yaml
  client/packages/attester/helm/values.yaml
Owners: @t3rn/dev

fix: lock
  client/packages/cli/yarn.lock
Owners: @t3rn/dev

chore: listening to events work
  client/packages/attester/package.json
  client/packages/attester/src/connection.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/prometheus.ts
  client/packages/attester/yarn.lock
Owners: @t3rn/dev

ci: helm deployment works for 32 attesters
  client/packages/attester/helm/templates/deployment.yaml
Owners: @t3rn/dev

ci: added attesters deployment
  .github/workflows/attester.yml
  client/attester.Dockerfile
Owners: @3h4x, @t3rn/dev

ci: deploy attesters
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

ci: no tests yet
  .github/workflows/attester.yml
Owners: @3h4x, @t3rn/dev

ci: add missing ts-node
  client/attester.Dockerfile
Owners: @t3rn/dev

test: fix square_up test expactations to settle with Requester
  pallets/circuit/src/square_up/test.rs
Owners: @MaciejBaj, @t3rn/dev

chore: add npm test script for attesters contracts
  pallets/attesters/contracts/package.json
Owners: @t3rn/dev

chore: unify spaces, quotes, commas, parens with prettier
  client/packages/attester/.prettierrc
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/src/connection.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

chore: lower resource requests
  client/packages/attester/helm/values.yaml
Owners: @t3rn/dev

chore: standarize logging
  client/packages/attester/src/index.ts
Owners: @t3rn/dev

chore: npm fmt changed to prettier
  client/packages/attester/package.json
Owners: @t3rn/dev

chore: prettier quotes
  client/packages/attester/.envrc
  client/packages/attester/.prettierrc
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/src/connection.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

chore: better logging for attestation
  client/packages/attester/src/index.ts
Owners: @t3rn/dev

chore: logging used everywhere with correct extra properties
  client/packages/attester/.envrc
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/src/connection.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

chore: replace console logs to logger
  client/packages/attester/src/connection.ts
  client/packages/attester/src/index.ts
Owners: @t3rn/dev

feat: add logging lib
  client/packages/attester/src/logging.ts
Owners: @t3rn/dev

fix: keys are also encoded with b64 to fit env variable
  client/packages/attester/src/index.ts
Owners: @t3rn/dev

chore: fix .envrc keys b64 encoded
  client/packages/attester/.envrc
  client/packages/attester/config/roco.ts
  client/packages/attester/src/connection.ts
  client/packages/attester/src/index.ts
Owners: @t3rn/dev

fix: replace outdated bootnodes for rococo
  .github/workflows/release-t0rn.yml
  .github/workflows/semantic-version.yml
  specs/rococo.raw.json
Owners: @3h4x, @t3rn/dev, @chiefbiiko

fix(chainspecs): replace outdated bootnodes for rococo (#1024)
  .github/workflows/release-t0rn.yml
  .github/workflows/semantic-version.yml
  specs/rococo.raw.json
Owners: @3h4x, @t3rn/dev, @chiefbiiko

build(release): release 1.29.2-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.29.2-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

chore: change yarn to pnpm
  .github/workflows/attester.yml
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/yarn.lock
Owners: @3h4x, @t3rn/dev

docs: attester
  client/packages/attester/README.md
Owners: @t3rn/dev

test: added utils tests
  .github/workflows/attester.yml
  client/packages/attester/.eslintrc.js
  client/packages/attester/babel.config.js
  client/packages/attester/package-lock.json
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/utils.ts
  client/packages/attester/tests/utils.test.ts
Owners: @3h4x, @t3rn/dev

chore: eslint
  .github/workflows/attester.yml
  client/packages/attester/src/attester.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/utils.ts
  client/packages/attester/tests/utils.test.ts
Owners: @3h4x, @t3rn/dev

refactor: revisit fsx repatriation for late slash to requester,executor,fees
  pallets/rewards/src/lib.rs
  primitives/src/rewards.rs
Owners: @t3rn/dev

feat: extend ReadSFX API for Circuit with get_fsx_requester
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/test.rs
  primitives/src/circuit/traits.rs
Owners: @MaciejBaj, @t3rn/dev

refactor: re-organize how attestation messages are built and allow lateness
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

chore: extend NewConfirmationBatch event with hash + message
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

chore: modify inflation + shuffling periods to 1h for t0rn
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

chore: remove target from prometheus
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

chore: remove target from attester
  client/packages/attester/config/local.ts
  client/packages/attester/config/roco.ts
  client/packages/attester/src/attester.ts
  client/packages/attester/src/connection.ts
Owners: @t3rn/dev
