Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev

build(release): update CHANGELOG.md for v1.32.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

feat: process gateways activity overview in XDNS
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/lib.rs
  types/src/sfx.rs
Owners: @t3rn/dev, @AwesomeIbex

test: cover gateways inactivity after turn off in XDNS
  pallets/xdns/src/tests.rs
Owners: @t3rn/dev

refactor: change XDNS process_overview to always return latest actives
  pallets/xdns/src/lib.rs
  primitives/src/xdns.rs
Owners: @t3rn/dev

fix: correctly submit attesting tx
  client/packages/attester/src/attester.ts
  client/packages/attester/src/index.ts
Owners: @t3rn/dev

feat: ensure all gateways active in Xtx validate,revert,confirm
  pallets/circuit/src/lib.rs
  pallets/xdns/src/lib.rs
Owners: @MaciejBaj, @t3rn/dev

feat: add source_address to light client trait
  Cargo.lock
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/circuit/src/lib.rs
  pallets/portal/src/lib.rs
  primitives/src/light_client.rs
  primitives/src/portal.rs
  runtime/standalone/Cargo.toml
Owners: @t3rn/dev, @MaciejBaj

feat: add source to light client trait
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/3vm/src/precompile.rs
  pallets/attesters/src/lib.rs
  pallets/portal/src/lib.rs
  primitives/src/portal.rs
Owners: @t3rn/dev, @AwesomeIbex

feat: check if attester is in current committee
  client/packages/attester/src/attester.ts
  client/packages/attester/src/utils.ts
Owners: @t3rn/dev

chore: add metric to see which attester is committee member
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

feat: impl source check into grandpa
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
Owners: @t3rn/dev

fix: correct check for isInCommittee
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

build(release): release 1.32.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): release 1.32.2-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

fix: add mutex to not send tx twice
  client/packages/attester/README.md
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/tsconfig.json
Owners: @t3rn/dev

chore: add metric when submitting extrinsing works
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

chore: update portal tests
  Cargo.lock
  primitives/src/portal.rs
  runtime/common-pallets/Cargo.toml
  runtime/standalone/Cargo.toml
Owners: @t3rn/dev

chore: info about attestation in mutex;
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

chore: less log debug
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

fix: add reboot self gateway extrinsic to XDNS
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  pallets/xdns/src/weights.rs
Owners: @t3rn/dev

chore: revert light client trait changes
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  primitives/src/light_client.rs
Owners: @t3rn/dev

chore: revert light client trait changes
  Cargo.lock
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/portal/src/lib.rs
Owners: @t3rn/dev

fix: add reboot self gateway extrinsic to XDNS (#1060)
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  pallets/xdns/src/weights.rs
Owners: @t3rn/dev

chore: add more info on submission error
  client/packages/attester/src/attester.ts
Owners: @t3rn/dev

chore: fmt
  client/packages/attester/src/attester.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/prometheus.ts
  client/packages/attester/src/utils.ts
Owners: @t3rn/dev

build(release): release 1.32.3-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.32.3-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

chore: better handling isInCommittee and fixed metric submittedAttestation labels
  client/packages/attester/src/attester.ts
  client/packages/attester/src/prometheus.ts
Owners: @t3rn/dev

feat: add precompile implementations of trait function
  finality-verifiers/grandpa/src/light_clients.rs
  primitives/src/light_client.rs
Owners: @t3rn/dev

chore: add class field isInCurrentCommittee
  client/packages/attester/src/attester.ts
  client/packages/attester/src/index.ts
  client/packages/attester/src/prometheus.ts
  client/packages/attester/tsconfig.json
Owners: @t3rn/dev

feat: impl precompile functions into portal
  Cargo.lock
  client/snorkle/package.json
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/portal/Cargo.toml
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  primitives/src/portal.rs
Owners: @t3rn/dev

chore: remove speed_mode from light client trait
  finality-verifiers/grandpa/src/light_clients.rs
  primitives/src/light_client.rs
  primitives/src/portal.rs
Owners: @t3rn/dev

test: committeeMembers check
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/src/index.ts
  client/packages/attester/tests/committeeMembers.test.ts
Owners: @t3rn/dev

feat: impl speed_mode into light client trait
  Cargo.lock
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/3vm/src/precompile.rs
  pallets/attesters/src/lib.rs
  pallets/circuit/src/lib.rs
  pallets/portal/src/lib.rs
  primitives/src/light_client.rs
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

chore: standlone is running again Signed-off-by: petscheit <etscheitp@gmail.com>
  Cargo.lock
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/circuit/src/lib.rs
  pallets/portal/src/lib.rs
  pallets/portal/src/tests.rs
  primitives/src/portal.rs
Owners: @t3rn/dev, @MaciejBaj

fix: sdk ignores local gateway entry
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/yarn.lock
  client/packages/sdk/src/gateways/index.ts
Owners: @t3rn/dev

fix: sdk ignores local gateway entry
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/sdk/src/gateways/index.ts
Owners: @t3rn/dev

fix: sdk ignores local gateway entry (#1061)
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/sdk/src/gateways/index.ts
Owners: @t3rn/dev

feat: update and impl heart beat type
  finality-verifiers/grandpa/src/light_clients.rs
  primitives/src/light_client.rs
Owners: @t3rn/dev

chore: fix tests
  Cargo.lock
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/portal/src/tests.rs
Owners: @t3rn/dev
