Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev

make circuit compile
  Cargo.lock
  pallets/3vm/src/lib.rs
  pallets/account-manager/src/lib.rs
  pallets/circuit/src/lib.rs
  pallets/circuit/src/weights.rs
  pallets/clock/src/lib.rs
  pallets/contracts-registry/src/lib.rs
  pallets/contracts-registry/src/weights.rs
  pallets/contracts/primitives/src/lib.rs
  pallets/executors/src/lib.rs
  pallets/parity-evm/src/lib.rs
  pallets/portal/src/lib.rs
  pallets/xdns/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

clock weights
  pallets/account-manager/src/lib.rs
  pallets/clock/src/lib.rs
  pallets/clock/src/traits.rs
  pallets/contracts-registry/src/lib.rs
  pallets/portal/src/lib.rs
  pallets/portal/src/weights.rs
  pallets/xdns/src/lib.rs
Owners: @AwesomeIbex, @t3rn/dev

wip: rpc api
  finality-verifiers/grandpa/src/mock.rs
  node/standalone/src/rpc.rs
  node/t0rn-parachain/src/rpc.rs
  node/t0rn-parachain/src/service.rs
  pallets/3vm/src/mock.rs
  pallets/account-manager/src/transaction.rs
  pallets/contracts-registry/src/mock.rs
  pallets/contracts/src/tests.rs
  pallets/contracts/src/tests/threevm/mock.rs
  pallets/evm/src/lib.rs
  pallets/evm/src/mock.rs
  pallets/evm/src/tests/threevm/mock.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/contracts_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/contracts_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/standalone/src/signed_extrinsics_config.rs
  runtime/standalone/src/system_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/contracts_config.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t0rn-parachain/src/signed_extrinsics_config.rs
Owners: @t3rn/dev, @AwesomeIbex

update configs to follow new pallets
  node/standalone/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/contracts/src/exec.rs
  pallets/evm/src/lib.rs
  runtime/mock/src/consensus_aura_config.rs
  runtime/mock/src/contracts_config.rs
  runtime/standalone/src/accounts_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/consensus_aura_config.rs
  runtime/standalone/src/contracts_config.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
  runtime/standalone/src/system_config.rs
  runtime/t0rn-parachain/src/accounts_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/contracts_config.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t3rn-parachain/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex

feat: eth2 register gateway (work in progress)
  client/packages/cli/package.json
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/yarn.lock
  client/packages/package.json
  client/packages/yarn.lock
Owners: @t3rn/dev

feat: add attesters aggreements for new target and recover eth address
  Cargo.lock
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
  primitives/Cargo.toml
  primitives/src/attesters.rs
  primitives/src/lib.rs
Owners: @t3rn/dev

build: extend attesters with ReadSFX trait
  pallets/attesters/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

feat: add repatriation from slash treasury to Rewards
  pallets/rewards/src/lib.rs
  primitives/src/circuit/types.rs
  primitives/src/claimable.rs
  primitives/src/rewards.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

feat: request executors repatriations from rewards after limit
  pallets/attesters/src/lib.rs
  pallets/rewards/src/lib.rs
  primitives/src/rewards.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

fix: add missing imports after merge with attester slashes
  Cargo.lock
  pallets/attesters/src/lib.rs
  primitives/src/lib.rs
  runtime/mini-mock/Cargo.toml
Owners: @t3rn/dev

test: fix test with new target attester agreements
  pallets/attesters/src/lib.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

standalone building
  Cargo.lock
  Cargo.toml
  node/standalone/Cargo.toml
  node/standalone/src/benchmarking.rs
  node/standalone/src/cli.rs
  node/standalone/src/command.rs
  node/standalone/src/lib.rs
  node/standalone/src/main.rs
  node/standalone/src/rpc.rs
  node/standalone/src/service.rs
  node/t0rn-parachain/Cargo.toml
  node/t3rn-parachain/Cargo.toml
  pallets/contracts-registry/rpc/Cargo.toml
  pallets/portal/rpc/Cargo.toml
  pallets/portal/rpc/src/lib.rs
  pallets/xdns/rpc/Cargo.toml
  pallets/xdns/rpc/src/lib.rs
  runtime/standalone/src/lib.rs
  runtime/standalone/src/signed_extrinsics_config.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

style: apply linter suggestion to primitives
  pallets/rewards/src/lib.rs
  primitives/src/attesters.rs
  primitives/src/rewards.rs
Owners: @t3rn/dev

refactor: add full committee transtion including addresses
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

chore: extend attesters with more events on registration and new batch
  Cargo.lock
  pallets/attesters/src/lib.rs
  primitives/Cargo.toml
  primitives/src/attesters.rs
Owners: @t3rn/dev

feat: create JS-based offchain attester with basic feature + keygen
  pallets/attesters/offchain/.gitignore
  pallets/attesters/offchain/.prettierrc
  pallets/attesters/offchain/generateKeys.js
  pallets/attesters/offchain/generateKeys.test.js
  pallets/attesters/offchain/jest.config.js
  pallets/attesters/offchain/keys.json
  pallets/attesters/offchain/offchain-attester.js
  pallets/attesters/offchain/offchain-attester.test.js
  pallets/attesters/offchain/package.json
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

feat: update CLI to use ESM as build output
  client/packages/cli/.nvmrc
  client/packages/cli/package.json
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/tsup.config.cjs
  client/packages/cli/yarn.lock
  client/packages/package.json
  client/packages/yarn.lock
  yarn.lock
Owners: @t3rn/dev

chore: upgrade SDK to use tsup --dts
  client/packages/sdk/package.json
  client/packages/sdk/tsconfig.json
Owners: @t3rn/dev

feat: update @t3rn/types to use tsup --dts
  client/packages/types/package.json
Owners: @t3rn/dev

feat: add off-chain agreements to new targets
  pallets/attesters/offchain/generateKeys.test.js
  pallets/attesters/offchain/offchain-attester.js
  pallets/attesters/offchain/offchain-attester.test.js
Owners: @t3rn/dev

test: fix requester of SFX test expectation
  pallets/circuit/src/square_up/test.rs
Owners: @MaciejBaj, @t3rn/dev

fix: generate 33b public keys for ethereum compressed attesters
  pallets/attesters/offchain/generateKeys.js
  pallets/attesters/offchain/generateKeys.test.js
  pallets/attesters/offchain/keys.json
  pallets/attesters/offchain/offchain-attester.js
  pallets/attesters/offchain/package.json
Owners: @t3rn/dev

chore: use raw ed25519 pubkey for offchain registration
  pallets/attesters/offchain/keys.json
  pallets/attesters/offchain/offchain-attester.js
Owners: @t3rn/dev

t0rn building
  Cargo.lock
  Cargo.toml
  node/t0rn-parachain/Cargo.toml
  node/t0rn-parachain/src/cli.rs
  node/t0rn-parachain/src/command.rs
  node/t0rn-parachain/src/rpc.rs
  node/t0rn-parachain/src/service.rs
  runtime/t0rn-parachain/src/accounts_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/contracts_config.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t0rn-parachain/src/parachain_config.rs
  runtime/t0rn-parachain/src/signed_extrinsics_config.rs
  runtime/t0rn-parachain/src/system_config.rs
  runtime/t0rn-parachain/src/xbi_config.rs
Owners: @t3rn/dev

feat: allow attester calls
  runtime/t0rn-parachain/src/system_config.rs
Owners: @t3rn/dev

feat: allow attester calls in standalone
  runtime/standalone/src/system_config.rs
Owners: @t3rn/dev

feat: allow attester calls (#1016)
  runtime/standalone/src/system_config.rs
  runtime/t0rn-parachain/src/system_config.rs
Owners: @t3rn/dev

build(release): release 1.28.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.28.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

wip: signAndSend
  pallets/attesters/offchain/offchain-attester.js
Owners: @t3rn/dev

fix warnings
  node/t0rn-parachain/src/chain_spec.rs
  node/t0rn-parachain/src/command.rs
  node/t0rn-parachain/src/rpc.rs
  node/t0rn-parachain/src/service.rs
  pallets/clock/src/traits.rs
  pallets/evm/src/address.rs
  pallets/xdns/rpc/src/lib.rs
  runtime/t0rn-parachain/src/lib.rs
  runtime/t0rn-parachain/src/system_config.rs
  runtime/t0rn-parachain/src/xbi_config.rs
Owners: @t3rn/dev, @AwesomeIbex

ci(gha): run zombienet test only before runtime upgrade (#992)
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

chore: improve code
  pallets/attesters/offchain/offchain-attester.js
  pallets/attesters/offchain/offchain-attester.test.js
Owners: @t3rn/dev

chore: fix btc naming
  pallets/attesters/offchain/keys.json
  pallets/attesters/offchain/offchain-attester.js
Owners: @t3rn/dev

fix: deregister works
  pallets/attesters/offchain/offchain-attester.js
  pallets/attesters/offchain/offchain-attester.test.js
Owners: @t3rn/dev

chore: clean up
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/utils/dgf/sfx_creation.ts
  client/packages/sdk/src/circuit/tx.ts
  runtime/t0rn-parachain/src/system_config.rs
Owners: @t3rn/dev

chore: extend functionality
  client/packages/cli/README.md
  client/packages/cli/src/utils/dgf/sfx_creation.ts
Owners: @t3rn/dev

feat: testing maintenance mode script
  scripts/testing_maintenance.sh
Owners: @chiefbiiko, @3h4x, @t3rn/dev
