Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

chore: clean up
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/utils/dgf/creation.ts
  client/packages/cli/src/utils/dgf/sfx_creation.ts
Owners: @t3rn/dev

feat: ts func for creating sfx for unhappy paths
  client/packages/cli/src/utils/sfx_creation.ts
Owners: @t3rn/dev

chore: for sync wip
  client/packages/cli/package.json
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/utils/dgf/creation.ts
  client/packages/cli/tsconfig.json
  client/packages/cli/yarn.lock
Owners: @t3rn/dev

chore: clean up and remove exit process
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/utils/dgf/creation.ts
Owners: @t3rn/dev

chore: add sfx file
  client/packages/cli/src/utils/dgf/sfx.json
Owners: @t3rn/dev

chore: for sync wip
  client/packages/cli/package.json
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/utils/dgf/creation.ts
  client/packages/cli/yarn.lock
Owners: @t3rn/dev

chore: fix the event listener
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/utils/dgf/creation.ts
  client/packages/sdk/src/circuit/tx.ts
Owners: @t3rn/dev

feat: work in progress
  client/packages/cli/src/commands/register/vendors/eth.ts
  client/packages/cli/tsup.config.cjs
Owners: @t3rn/dev

refactor: remove unused file
  client/packages/cli/index.ts
Owners: @t3rn/dev

refactor: remove unused path alias
  client/packages/cli/tsconfig.json
Owners: @t3rn/dev

refactor: remove @polkadot/api package
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
Owners: @t3rn/dev

refactor: remove submitRawSfx
  client/packages/cli/src/commands/submit/sfx.ts
Owners: @t3rn/dev

refactor: submitSfx function
  client/packages/cli/src/commands/submit/sfx.ts
Owners: @t3rn/dev

refactor: use submitSfx in dgf
  client/packages/cli/src/commands/dgf.ts
Owners: @t3rn/dev

feat: implement utils/sfx.ts for shared sfx methods
  client/packages/cli/src/utils/sfx.ts
Owners: @t3rn/dev

refactor: use functions exposed from utils/sfx.ts
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/utils/dgf/creation.ts
Owners: @t3rn/dev

fix: test
  client/packages/cli/package.json
  client/packages/cli/src/commands/register/__test__/gateway.test.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/submit/__test__/sfx.test.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/cli/yarn.lock
  client/packages/sdk/src/gateways/gateway.ts
Owners: @t3rn/dev

fix: other tx changed to working signAndSend
  pallets/attesters/offchain/offchain-attester.js
Owners: @t3rn/dev

chore: add more attester accounts
  pallets/attesters/offchain/keys.json
Owners: @t3rn/dev

ci: add Dockerfile
  pallets/attesters/offchain/Dockerfile
Owners: @t3rn/dev

refactor: use template/transfer.ts
  client/packages/cli/src/utils/dgf/sfx.json
Owners: @t3rn/dev

refactor: renamed dgf/creation.ts -> dft.ts
  client/packages/cli/src/utils/dgf.ts
Owners: @t3rn/dev

refactor: imports
  client/packages/cli/src/utils/dgf.ts
Owners: @t3rn/dev

chore: nomination working
  pallets/attesters/offchain/offchain-attester.js
Owners: @t3rn/dev

chore: add unnominate
  pallets/attesters/offchain/offchain-attester.js
Owners: @t3rn/dev

refactor: use ESM module for cli
  client/packages/cli/package.json
  client/packages/cli/tsup.config.cjs
Owners: @t3rn/dev

refactor: dfg command
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/dgf.ts
Owners: @t3rn/dev

chore: add more info to the logger
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/utils/dgf.ts
Owners: @t3rn/dev

refactor: update text
  client/packages/cli/src/commands/dgf.ts
Owners: @t3rn/dev

feat: update docs
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
Owners: @t3rn/dev

refactor: update symbol
  client/packages/cli/src/commands/dgf.ts
Owners: @t3rn/dev

feat: fail when a gateway is not registered
  client/packages/cli/src/utils/sfx.ts
Owners: @t3rn/dev

refactor: update docs
  client/packages/cli/README.md
Owners: @t3rn/dev

feat: add AttestationsVerifier solidity contract
  pallets/attesters/contracts/contracts/attestationsVerifier.sol
  pallets/attesters/contracts/hardhat.config.js
  pallets/attesters/contracts/package-lock.json
  pallets/attesters/contracts/package.json
  pallets/attesters/contracts/test/AttestationsVerifier.js
Owners: @t3rn/dev

refactor: fix typo
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
Owners: @t3rn/dev

ci(e2e): tests should not run when label e2e is not added atm
  .github/workflows/test-e2e.yml
Owners: @3h4x, @t3rn/dev

refactor: use circuit context
  client/packages/cli/src/commands/dgf.ts
Owners: @t3rn/dev

feat: data generation framework for unhappy paths (#1014)
  client/packages/cli/README.md
  client/packages/cli/index.ts
  client/packages/cli/package.json
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/dgf.ts
  client/packages/cli/src/commands/register/__test__/gateway.test.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/submit/__test__/sfx.test.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/utils/__test__/fns.test.ts
  client/packages/cli/src/utils/dgf.ts
  client/packages/cli/src/utils/sfx.ts
  client/packages/cli/tsconfig.json
  client/packages/cli/tsup.config.cjs
  client/packages/cli/yarn.lock
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/gateways/gateway.ts
  runtime/t0rn-parachain/src/system_config.rs
  scripts/testing_maintenance.sh
Owners: @t3rn/dev, @chiefbiiko, @3h4x

build(release): release 1.29.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.29.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
