Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

test: sfx json serialization
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/executionManager.test.ts
Owners: @t3rn/dev

wip: headache to restore custom pdot type
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/executionManager.test.ts
Owners: @t3rn/dev

wip: sfx gtwy
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/__snapshots__/executionManager.test.ts.snap
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/executionManager.test.ts
  client/packages/executor/tests/pricing.test.ts
  client/packages/executor/tests/strategy.test.ts
Owners: @t3rn/dev

refactor: sdk gtwy carries full xdns
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/sdk/src/gateways/gateway.ts
Owners: @t3rn/dev

fix: sfx serialization wip
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/tests/executionManager.test.ts
Owners: @t3rn/dev

refactor: cleanup obsolete snippets
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

feat: executor state persistence
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

feat: imple header collection and circuit submission logic
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Owners: @t3rn/dev

build(release): release 1.16.0-rc.0
  test-utils/Cargo.toml
Owners: @t3rn/dev

feat: add fault tolerant ws connection handler
  client/packages/grandpa-ranger/.gitignore
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
Owners: @t3rn/dev

feat: impl prometheus metrics
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Owners: @t3rn/dev

chore: checkin package files
  client/packages/grandpa-ranger/package.json
  client/packages/grandpa-ranger/tsconfig.json
  client/packages/grandpa-ranger/yarn.lock
Owners: @t3rn/dev

chore: impl change requests
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Owners: @t3rn/dev

feat: impl dynamic http selection for circuit & add final prometheus counter
  client/packages/grandpa-ranger/config/local.ts
  client/packages/grandpa-ranger/src/collect.ts
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Owners: @t3rn/dev

feat: portal rpc reimplemented Signed-off-by: petscheit <etscheitp@gmail.com>
  node/standalone/src/rpc.rs
  pallets/portal/rpc/Cargo.toml
  pallets/portal/rpc/runtime-api/src/lib.rs
  pallets/portal/rpc/src/lib.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Owners: @t3rn/dev

feat: connect fetch_head_height to portal properly Signed-off-by: petscheit <etscheitp@gmail.com>
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Owners: @t3rn/dev

chore: update lock
  Cargo.lock
Owners: @t3rn/dev

feat: impl prometheus status endpoint
  client/packages/grandpa-ranger/src/connection.ts
  client/packages/grandpa-ranger/src/index.ts
  client/packages/grandpa-ranger/src/prometheus.ts
Owners: @t3rn/dev

build: cicd improve PR labeling [skip release]
  .github/labeler.yml
Owners: @3h4x

build: update year in README.md [skip release]
  README.md
Owners: @t3rn/dev

build: comment yarn lint results
  .github/workflows/executor.yml
Owners: @3h4x

build: executor tests with yarn ci
  .github/workflows/executor.yml
  client/packages/Makefile
Owners: @3h4x, @t3rn/dev

build: eslint fixes
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/circuit.test.ts
Owners: @t3rn/dev

build: add eslint and run it with --fix
  client/packages/executor/.eslintrc.json
  client/packages/executor/package-lock.json
  client/packages/executor/package.json
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/pricing/index.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/yarn.lock
Owners: @t3rn/dev

build: cicd fix path for lint output
  .github/workflows/executor.yml
Owners: @3h4x

build: remove package-lock.json from executor
  client/packages/executor/package-lock.json
Owners: @t3rn/dev

build: fix executor tests
  .github/workflows/executor.yml
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
  client/packages/executor/.eslintrc.json
  client/packages/executor/config/config.ts
  client/packages/executor/package-lock.json
  client/packages/executor/package.json
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/gateways/types.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/package.json
  client/packages/sdk/yarn.lock
  client/packages/types/package.json
  client/packages/types/yarn.lock
Owners: @3h4x, @t3rn/dev

build: cicd executor test fix + eslint (#937)
  .github/workflows/executor.yml
  client/packages/Makefile
  client/packages/cli/package.json
  client/packages/cli/yarn.lock
  client/packages/executor/.eslintrc.json
  client/packages/executor/config/config.ts
  client/packages/executor/package.json
  client/packages/executor/src/bidding/index.ts
  client/packages/executor/src/circuit/listener.ts
  client/packages/executor/src/circuit/relayer.ts
  client/packages/executor/src/executionManager/execution.ts
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/executionManager/sideEffect.ts
  client/packages/executor/src/gateways/substrate/relayer.ts
  client/packages/executor/src/gateways/types.ts
  client/packages/executor/src/index.ts
  client/packages/executor/src/pricing/coingecko.ts
  client/packages/executor/src/pricing/index.ts
  client/packages/executor/src/strategy/index.ts
  client/packages/executor/src/utils/index.ts
  client/packages/executor/tests/bidding.test.ts
  client/packages/executor/tests/circuit.test.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/package.json
  client/packages/sdk/yarn.lock
  client/packages/types/package.json
  client/packages/types/yarn.lock
Owners: @3h4x, @t3rn/dev

build(release): release 1.17.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
  test-utils/Cargo.toml
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.17.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

build: cicd fix eslint executor [skip release]
  client/packages/executor/src/utils/index.ts
  node/standalone/Makefile
Owners: @t3rn/dev

build: run building docs only on releases
  .github/workflows/executor.yml
  .github/workflows/update-dev-docs.yml
  client/packages/executor/package.json
Owners: @3h4x, @t3rn/dev

build: cicd fix eslint executor [skip release] (#938)
  .github/workflows/executor.yml
  .github/workflows/update-dev-docs.yml
  client/packages/executor/package.json
  client/packages/executor/src/utils/index.ts
  node/standalone/Makefile
Owners: @3h4x, @t3rn/dev

feat: add docs
  client/packages/cli_new/CONFIG.md
  client/packages/cli_new/README.md
Owners: @t3rn/dev

build: squash previous cli revamp commits
  client/packages/cli_new/.eslintrc.cjs
  client/packages/cli_new/.gitignore
  client/packages/cli_new/.nvmrc
  client/packages/cli_new/.prettierrc
  client/packages/cli_new/jest.config.ts
  client/packages/cli_new/package.json
  client/packages/cli_new/pnpm-lock.yaml
  client/packages/cli_new/src/cli.ts
  client/packages/cli_new/src/commands/__test__/init.test.ts
  client/packages/cli_new/src/commands/init.ts
  client/packages/cli_new/src/commands/register/__test__/gateway.test.ts
  client/packages/cli_new/src/commands/register/gateway.ts
  client/packages/cli_new/src/commands/register/register.ts
  client/packages/cli_new/src/commands/set_operational.ts
  client/packages/cli_new/src/commands/submit/__test__/extrinsic.test.ts
  client/packages/cli_new/src/commands/submit/extrinsic.ts
  client/packages/cli_new/src/commands/submit/submit.ts
  client/packages/cli_new/src/consts.ts
  client/packages/cli_new/src/schemas/extrinsic.ts
  client/packages/cli_new/src/schemas/setup.ts
  client/packages/cli_new/src/schemas/transfer.ts
  client/packages/cli_new/src/templates/setup.ts
  client/packages/cli_new/src/templates/transfer.ts
  client/packages/cli_new/src/types.ts
  client/packages/cli_new/src/utils/__test__/config.test.ts
  client/packages/cli_new/src/utils/__test__/fns.test.ts
  client/packages/cli_new/src/utils/__test__/log.test.ts
  client/packages/cli_new/src/utils/__test__/wrapCryptoWaitReady.test.ts
  client/packages/cli_new/src/utils/circuit.ts
  client/packages/cli_new/src/utils/config.ts
  client/packages/cli_new/src/utils/fns.ts
  client/packages/cli_new/src/utils/log.ts
  client/packages/cli_new/tsconfig.json
  client/packages/sdk/src/config/types.json
  client/packages/types/metadata-t3rn.json
  client/packages/types/src/augment/augment-api-errors.ts
  client/packages/types/src/augment/lookup.ts
  client/packages/types/src/augment/types-lookup.ts
Owners: @t3rn/dev

refactor: switch with execution vendor
  client/packages/cli_new/src/commands/submit/headers.ts
Owners: @t3rn/dev

refactor: remove verification vendor match
  client/packages/cli_new/src/commands/set_operational.ts
Owners: @t3rn/dev

feat: use bridge derived from verification vendor
  client/packages/cli_new/src/commands/submit/headers.ts
Owners: @t3rn/dev

refactor: use values from config
  client/packages/cli_new/src/commands/register/gateway.ts
Owners: @t3rn/dev

refactor: use type alias
  client/packages/cli_new/src/commands/submit/sfx.ts
Owners: @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x

/pallets/3vm @AwesomeIbex
/pallets/account-manager @AwesomeIbex
/pallets/circuit-portal @petscheit
/pallets/circuit @MaciejBaj 
/types/abi @MaciejBaj 


/pallets/contracts @AwesomeIbex 
/pallets/evm @AwesomeIbex 
/devnet @chiefbiiko
/specs @chiefbiiko
/scripts @chiefbiiko @3h4x
/types @AwesomeIbex
