Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

build: merge with latest feat/rewards
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build: merge with latest feat/rewards
  Cargo.lock
Owners: @t3rn/dev

feat: implement export extrinsic data to file (#969)
  client/packages/cli/.gitignore
  client/packages/cli/README.md
  client/packages/cli/src/cli.ts
  client/packages/cli/src/commands/bid.ts
  client/packages/cli/src/commands/register/gateway.ts
  client/packages/cli/src/commands/register/register.ts
  client/packages/cli/src/commands/submit/headers.ts
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/commands/submit/submit.ts
  client/packages/cli/src/utils/circuit.ts
  client/packages/cli/yarn.lock
  client/packages/sdk/src/circuit/index.ts
  client/packages/sdk/src/circuit/tx.ts
  client/packages/sdk/src/export/index.ts
  client/packages/sdk/yarn.lock
Owners: @t3rn/dev

wip: fix
  client/packages/cli/yarn.lock
  client/packages/executor/package.json
  client/packages/executor/src/executionManager/index.ts
  client/packages/executor/src/index.ts
  client/packages/executor/yarn.lock
  client/packages/sdk/src/gateways/index.ts
Owners: @t3rn/dev

build(release): release 1.22.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  pallets/attesters/Cargo.toml
  pallets/rewards/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.22.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

build(release): release 1.22.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): release 1.22.2-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build: add eslint report and annotations
  .github/workflows/executor.yml
  client/packages/executor/package.json
Owners: @3h4x, @t3rn/dev

build: do not comment version if release is not going to happen
  .github/workflows/semantic-version.yml
Owners: @3h4x, @t3rn/dev

build: fix path for eslint report
  .github/workflows/executor.yml
Owners: @3h4x, @t3rn/dev

build: add more permissions
  .github/workflows/executor.yml
Owners: @3h4x, @t3rn/dev

build: cicd eslint annotations for cli
  .github/workflows/cli.yml
  client/packages/cli/package.json
Owners: @3h4x, @t3rn/dev

chore: impl rpc endpoint env into CLI
  client/packages/cli/src/commands/submit/headers.ts
Owners: @t3rn/dev

fix: portal rpc
  client/packages/cli/src/commands/submit/headers.ts
  node/t0rn-parachain/src/rpc.rs
Owners: @t3rn/dev

fix: rpc endpoint changed
  pallets/contracts-registry/rpc/src/lib.rs
Owners: @t3rn/dev

fix: portal rpc in t0rn runtime (#978)
  node/t0rn-parachain/src/rpc.rs
Owners: @t3rn/dev

build(release): release 1.22.3-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.22.3-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

feat: add support for signature, enforce executor
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/templates/transfer.ts
Owners: @t3rn/dev

refactor: function name
  client/packages/cli/src/commands/submit/sfx.ts
Owners: @t3rn/dev

feat: add support for enforce executioner field (#970)
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/sfx.ts
  client/packages/cli/src/templates/transfer.ts
Owners: @t3rn/dev

feat: impl eth2 pallet into standalone
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/standalone/src/lib.rs
Owners: @t3rn/dev

chore: expose everything from light client trait
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
Owners: @t3rn/dev

chore: impl eth pallet into other runtimes Signed-off-by: petscheit <etscheitp@gmail.com>
  runtime/common-pallets/Cargo.toml
  runtime/common-pallets/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

chore: fix grandpa feature flags for portal testing
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  finality-verifiers/grandpa/src/mock.rs
Owners: @t3rn/dev

chore: update pallet and impl buffer size
  runtime/standalone/Cargo.toml
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

chore: rm duplicate function in light client trait
  finality-verifiers/grandpa/src/light_clients.rs
  primitives/src/light_client.rs
Owners: @t3rn/dev

chore: clean up light client trait & grandpa implementation
  finality-verifiers/grandpa/src/lib.rs
  finality-verifiers/grandpa/src/light_clients.rs
  pallets/3vm/src/precompile.rs
  pallets/portal/src/lib.rs
  primitives/src/light_client.rs
  primitives/src/portal.rs
  runtime/standalone/src/lib.rs
Owners: @t3rn/dev, @AwesomeIbex

feat: update portal tests to include eth2 pallet
  pallets/portal/src/tests.rs
Owners: @t3rn/dev

chore: integtrate pallet into different runtimes
  runtime/common-pallets/Cargo.toml
  runtime/mock/src/circuit_config.rs
  runtime/mock/src/lib.rs
  runtime/standalone/src/lib.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

chore: cleanup
  finality-verifiers/grandpa/src/lib.rs
  pallets/circuit/src/lib.rs
  pallets/portal/Cargo.toml
  pallets/portal/src/lib.rs
  runtime/standalone/src/impl_versioned_runtime_with_api.rs
Owners: @t3rn/dev, @MaciejBaj

fix: xdns test
  pallets/xdns/src/tests.rs
Owners: @t3rn/dev

chore: fix subalfred warnings
  Cargo.lock
  runtime/common-pallets/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build: run eslint annotation only in PRs
  .github/workflows/cli.yml
  .github/workflows/executor.yml
Owners: @3h4x, @t3rn/dev

build: add eslint report and annotations (#977)
  .github/workflows/cli.yml
  .github/workflows/executor.yml
  .github/workflows/semantic-version.yml
  client/packages/cli/package.json
  client/packages/executor/package.json
Owners: @3h4x, @t3rn/dev

build: add automatic summary to PRs
  .github/workflows/auto-summary.yml
Owners: @3h4x, @t3rn/dev

build: add code review
  .github/workflows/auto-summary.yml
Owners: @3h4x, @t3rn/dev

chore: remove old code
  primitives/src/portal.rs
Owners: @t3rn/dev

refactor: sfx actions
  client/packages/cli/src/commands/submit/sfx.ts
  client/packages/cli/src/schemas/sfx.ts
Owners: @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
