Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

refactor: calc hash with fn message; infallible emit; safe math
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

build: update Cargo.lock
  Cargo.lock
Owners: @t3rn/dev

refactor: encapsulate process queues; do_nominate by ref
  pallets/attesters/src/lib.rs
  primitives/src/rewards.rs
Owners: @t3rn/dev

feat: introduce write interface for Rewards to primitives
  Cargo.lock
  primitives/src/lib.rs
  primitives/src/rewards.rs
Owners: @t3rn/dev

build: extend attesters with ReadSFX trait
  Cargo.lock
  pallets/attesters/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

ci(gha): do not run zombienet on development branch
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

feat: add repatriation from slash treasury to Rewards
  pallets/rewards/src/lib.rs
  primitives/src/circuit/types.rs
  primitives/src/claimable.rs
  primitives/src/rewards.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

chore: add comment explaining if statement
  .github/workflows/test-circuit.yml
Owners: @3h4x, @t3rn/dev

feat: add repatriation from slash treasury to Rewards
  pallets/rewards/src/lib.rs
  primitives/src/circuit/types.rs
  primitives/src/claimable.rs
  primitives/src/rewards.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

refactor: connect and use ReadSFX interface from Circuit to Attesters (#884)
  pallets/circuit/src/lib.rs
  pallets/circuit/src/machine/extra.rs
  pallets/circuit/src/machine/mod.rs
  pallets/circuit/src/machine/test.rs
  pallets/circuit/src/machine/test_extra.rs
  pallets/circuit/src/machine/test_extra_stress.rs
  pallets/circuit/src/square_up/mod.rs
  pallets/circuit/src/square_up/test.rs
  pallets/circuit/src/state/mod.rs
  primitives/src/circuit/mod.rs
  primitives/src/circuit/traits.rs
  primitives/src/circuit/types.rs
  primitives/src/threevm.rs
Owners: @MaciejBaj, @t3rn/dev

ci(dependabot): add cli for automated version update
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

chore: fix indentation
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

chore: fix wrong syntax
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

chore: add required field dependency name
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

chore: update-types is an array
  .github/dependabot.yml
Owners: @3h4x, @t3rn/dev

build(release): release 1.26.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.26.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

feat: request executors repatriations from rewards after limit
  pallets/attesters/src/lib.rs
  pallets/rewards/src/lib.rs
  primitives/src/rewards.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

test: cover ReadSFX API with happy and unhappy paths
  pallets/circuit/src/machine/mod.rs
Owners: @MaciejBaj, @t3rn/dev

chore: remove unused flags from Machine apply
  pallets/circuit/src/machine/mod.rs
Owners: @MaciejBaj, @t3rn/dev

feat: add attesters indexes and keccak hash of batches
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

refactor: store last state with attestations submitted per unique SFX
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: replace attestations with batching
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

feat: implement next batch and batch messages with status for all actions
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

feat: implement + test attesters deregistration
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

test: cover return unnominations after attester deregister
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: apply permanent slash to colluding set at confirmation
  pallets/attesters/Cargo.toml
  pallets/attesters/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/xdns.rs
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

build: add Portal and XDNS to attesters runtime config
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

chore: submit batches message_hash attestations vs messages
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: extend Attesters config with ReadSFX API
  pallets/attesters/src/lib.rs
  runtime/mini-mock/Cargo.toml
  runtime/mini-mock/src/lib.rs
Owners: @t3rn/dev

feat: replace attestations with batching
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
Owners: @t3rn/dev

feat: implement next batch and batch messages with status for all actions
  pallets/attesters/src/lib.rs
  primitives/src/attesters.rs
Owners: @t3rn/dev

refactor: calc hash with fn message; infallible emit; safe math
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

docs: add attesters README.md file
  pallets/attesters/README.md
Owners: @t3rn/dev

build: update Cargo.lock
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

refactor: encapsulate process queues; do_nominate by ref
  pallets/attesters/src/lib.rs
  primitives/src/rewards.rs
Owners: @t3rn/dev

feat: introduce write interface for Rewards to primitives
  primitives/src/lib.rs
  primitives/src/rewards.rs
Owners: @t3rn/dev

build: extend attesters with ReadSFX trait
  pallets/attesters/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

feat: add repatriation from slash treasury to Rewards
  pallets/rewards/src/lib.rs
  primitives/src/circuit/types.rs
  primitives/src/claimable.rs
  primitives/src/rewards.rs
  runtime/mini-mock/src/lib.rs
  runtime/mock/src/circuit_config.rs
  runtime/standalone/src/circuit_config.rs
  runtime/t0rn-parachain/src/circuit_config.rs
Owners: @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
