Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @MaciejBaj, @chiefbiiko

refactor: use new LightClient with Source in circuit,3vm,attesters,portal
  Cargo.lock
  pallets/3vm/src/precompile.rs
  pallets/attesters/src/lib.rs
  pallets/circuit/src/lib.rs
  pallets/portal/Cargo.toml
  pallets/portal/src/lib.rs
  runtime/common-pallets/Cargo.toml
  runtime/standalone/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  types/abi/src/to_filled_abi.rs
Owners: @t3rn/dev, @AwesomeIbex, @MaciejBaj

feat: create solidity contract for Portal InterfaceV2
  types/abi/src/test_rlp_contracts/.gitignore
  types/abi/src/test_rlp_contracts/contracts/portalPrecompile.sol
  types/abi/src/test_rlp_contracts/hardhat.config.js
  types/abi/src/test_rlp_contracts/package-lock.json
  types/abi/src/test_rlp_contracts/package.json
  types/abi/src/test_rlp_contracts/test/portalPrecompile.js
Owners: @AwesomeIbex, @t3rn/dev

style: format test files
  pallets/circuit/src/machine/test.rs
  pallets/portal/src/tests.rs
  pallets/xdns/src/tests.rs
Owners: @MaciejBaj, @t3rn/dev

feat: include attestation latency to XDNS overview
  pallets/xdns/src/lib.rs
  pallets/xdns/src/tests.rs
  primitives/src/attesters.rs
  primitives/src/lib.rs
Owners: @t3rn/dev

refactor: set max rewards executors kickback defaults to 0
  Cargo.lock
  pallets/rewards/src/lib.rs
Owners: @t3rn/dev

feat: blue print of fast target-fee based fast confirmation kickback
  pallets/account-manager/src/manager.rs
  pallets/circuit/src/lib.rs
  pallets/rewards/src/lib.rs
  pallets/xdns/src/lib.rs
  primitives/src/account_manager.rs
  primitives/src/claimable.rs
  primitives/src/xdns.rs
Owners: @AwesomeIbex, @t3rn/dev, @MaciejBaj

build: reset Cargo.lock to origin/development
  Cargo.lock
Owners: @t3rn/dev

feat: add endpoint data label
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

feat: add endpoint data label
  client/packages/executor/src/prometheus.ts
Owners: @t3rn/dev

refactor: rename status endpoint to healthz
  client/packages/executor/src/prometheus.ts
Owners: @t3rn/dev

build: deploy docs on self hosted runners
  .github/workflows/update-dev-docs.yml
Owners: @3h4x, @t3rn/dev

chore: deploy docs
  .github/workflows/update-dev-docs.yml
Owners: @3h4x, @t3rn/dev

chore: unify client docs deployment
  .github/workflows/update-dev-docs.yml
Owners: @3h4x, @t3rn/dev

chore: deploy docs only on development
  .github/workflows/update-dev-docs.yml
Owners: @3h4x, @t3rn/dev

test: test generateAttestationTx
  client/packages/attester/src/attester.ts
  client/packages/attester/tests/attestationSignature.test.ts
Owners: @t3rn/dev

chore: update std for bitflags
  pallets/contracts/Cargo.toml
Owners: @AwesomeIbex, @t3rn/dev

test: fix generateAttestationTx test
  client/packages/attester/tests/attestationSignature.test.ts
Owners: @t3rn/dev

chore: deploy docs on self hosted runners (#1071)
  .github/workflows/update-dev-docs.yml
Owners: @3h4x, @t3rn/dev

chore: deploy docs on self hosted runners (#1071)
  .github/workflows/update-dev-docs.yml
Owners: @3h4x, @t3rn/dev

build(release): release 1.33.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

test: generateAttestationTx with signMessage and test with keccak
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/tests/attestationQueue.test.ts
  client/packages/attester/tests/attestationSignature.test.ts
  client/packages/attester/tests/committeeMembers.test.ts
Owners: @t3rn/dev

refactor: customise max rewards executors kickback and default to zero (#1068)
  pallets/rewards/src/lib.rs
Owners: @t3rn/dev

build(release): release 1.34.0-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.34.0-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

chore: pnpm-lock.yaml is generated file so we should hide it in PR
  .gitattributes
Owners: @t3rn/dev

fix: skip decoding to H160 in attestation signature verification (#1067)
  .gitattributes
  client/packages/attester/package.json
  client/packages/attester/pnpm-lock.yaml
  client/packages/attester/src/attester.ts
  client/packages/attester/tests/attestationQueue.test.ts
  client/packages/attester/tests/attestationSignature.test.ts
  client/packages/attester/tests/committeeMembers.test.ts
  pallets/attesters/contracts/test/AttestationsVerifier.js
  primitives/src/attesters.rs
Owners: @t3rn/dev

chore: run review only when label is added
  .github/workflows/auto-review.yml
Owners: @3h4x, @t3rn/dev

build(release): release 1.34.1-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.34.1-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

chore: run review only when label is added (#1072)
  .github/workflows/auto-review.yml
Owners: @3h4x, @t3rn/dev

fix: remove unused labeled metric
  client/packages/grandpa-ranger/src/collect.ts
Owners: @t3rn/dev

fix: quorum calculates Committee not ActiveSet size
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

feat: added attestationsDone array
  .github/workflows/attester.yml
  client/packages/attester/src/attester.ts
Owners: @3h4x, @t3rn/dev

fix: remove unused labeled metric (#1073)
  client/packages/grandpa-ranger/src/collect.ts
Owners: @t3rn/dev

fix: quorum calculates Committee not ActiveSet size (#1074)
  pallets/attesters/src/lib.rs
Owners: @t3rn/dev

build(release): release 1.34.2-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build(release): update CHANGELOG.md for v1.34.2-rc.0 [skip ci]
  CHANGELOG.md
Owners: @t3rn/dev

refactor: remove a disconnection metrics
  client/packages/executor/src/prometheus.ts
Owners: @t3rn/dev

refactor: remove usage
  client/packages/executor/src/index.ts
Owners: @t3rn/dev

refactor: import instance
  client/packages/executor/src/executionManager/sideEffect.ts
Owners: @t3rn/dev

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x @t3rn/dev

/pallets/3vm @AwesomeIbex @t3rn/dev
/pallets/account-manager @AwesomeIbex @t3rn/dev
/pallets/circuit-portal @petscheit @t3rn/dev
/pallets/circuit @MaciejBaj @t3rn/dev
/types/abi @MaciejBaj @t3rn/dev


/pallets/contracts @AwesomeIbex @t3rn/dev
/pallets/evm @AwesomeIbex @t3rn/dev
/devnet @chiefbiiko @t3rn/dev
/specs @chiefbiiko @t3rn/dev
/scripts @chiefbiiko @3h4x @t3rn/dev
/types @AwesomeIbex @t3rn/dev
