Repository t3rn/t3rn, changes with the owners that CODEOWNERS names for each.
All owners: @t3rn/dev, @3h4x, @AwesomeIbex, @petscheit, @chiefbiiko

build: add more people as approvers for runtime upgrade
  .github/workflows/runtime-upgrade-t0rn.yml
Owners: @3h4x

build: automatically add labels to PRs
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  results.sarif
Owners: @3h4x, @t3rn/dev

build: remove results.sarif
  .gitignore
  results.sarif
Owners: @t3rn/dev

build: add more people as approvers for runtime upgrade
  .github/workflows/runtime-upgrade-t0rn.yml
Owners: @3h4x

build(release): release 1.12.8-rc.0
  Cargo.lock
  docs/main/docs/collator/testnet/testnet-collator.md
  node/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/Cargo.toml
  runtime/t0rn-parachain/src/lib.rs
Owners: @t3rn/dev

build: runtime upgrade should wait for completing a release
  .github/workflows/runtime-upgrade-t0rn.yml
Owners: @3h4x

CODEOWNERS:

* @t3rn/dev

/.github/ @3h4x

/pallets/3vm @AwesomeIbex
/pallets/account-manager @AwesomeIbex
/pallets/circuit-portal @petscheit

/devnet @chiefbiiko
/specs @chiefbiiko
/scripts @chiefbiiko @3h4x
/types @AwesomeIbex
